[2020-01-15 19:23] DavidLitwin commented on #1106
Yes, can do. I think that all of these are good ideas. It won't happen today but I will work on it when I'm able.

[2020-01-15 23:12] kbarnhart commented on #1108
@rreinecke -- In discussion with @DavidLitwin we realize that we are not sure what you mean by:

Could you clarify so we can make sure to address this aspect of your comment.

[2020-01-16 07:24] rreinecke commented on #1108
@kbarnhart Certainly. I'm referring to the main README in the landlab project. I know this review is for the groundwater component only, but as you choose to maintain it in this repository my comments will of course also address possible issues with the landlab project itself.

I'm missing a comprehensible README that:
* Tells me how to install the software
* What the dependencies are
* Were to fi

[2020-01-16 21:20] kbarnhart commented on #1108
@rreinecke thanks for clarifying. I'll re-ping you here when I've revised.

[2020-01-18 00:51] #1109 closed

[2020-01-20 10:10] rclavera opened #1118 "Groundwater module error"
Dear Landlab team,

I was testing the groundwater component. The example used have the next magnitudes:
number of rows:        2761
number of columns:  2528
number of nodes:      6979808
number of cells:         6969234
number of core cells: 6969234
area of a cell:       1.0

This error appears running the example:
calc_recharge_flux_in
    return np.sum(self._grid.area_of_cell * self._recharge[se

[2020-01-20 16:25] kbarnhart commented on #1118
@rclavera thank you for making this issue. With the information you have provided it is really difficult to assess the issue.

Could you please provide a code-snippet that contains all of the code necessary to reproduce your error (e.g., small model grid, all synthetic values, no input files). This will make it possible to reproduce, diagnose, assess the error you've found.

tagging @DavidLitwin

[2020-01-21 06:56] rclavera commented on #1118
@kbarnhart ,
Here I attached the code
[test.py.zip](https://github.com/landlab/landlab/files/4089573/test.py.zip)
sorry, but the other file (compressed) occupies 35.7 MB. What can I do?
Thank you

[2020-01-22 03:17] gregtucker commented on #1104
I agree a unit required/agnostic indicator would be a useful addition to component metadata. Perhaps an optional header item: `_unit_agnostic = True`

[2020-01-22 04:39] kbarnhart commented on #1108
@DavidLitwin could you look through the changes that I've made to the readme and the docs and verify that I've addressed @rreinecke 's concerns?

[2020-01-22 06:00] rclavera commented on #1118
@kbarnhart thanks,
I'm working on it reducing the image .
Is not Landlab v2 available in PYPI?

[2020-01-22 14:05] DavidLitwin commented on #1108
@kbarnhart I think it looks good in general. A few notes on the groundwater readme:
- the word "markdown" appears at the beginning of the document, is that supposed to be there?
- can the TODO for requirements be updated now?
- I'm still not sure we've satisfied the request to know where unit tests live. I will admit, with the new LL2.0 arrangement, it took me a second as well to find them in the

[2020-01-22 16:17] kbarnhart commented on #1118
@rclavera Landlab v2 is on pypi but you need to specify the `--pre` flag.

[code]

should work to upgrade. Let me know if it doesn't work for you. Note that we presently don't have python 3.8 builds on either conda-forge or pypi. we should have them in the next few days.

I've now created a PR (#1119) to fix the [update instructions](https://landlab.readthedocs.io/en/master/install/index.html#id2)

[2020-01-22 17:08] DavidLitwin commented on #1105
I have addressed this [here](https://github.com/landlab/landlab/commit/bb2db392b868a9f96f6d2a8829911d3187856d7c) by updating the docstring for the component to caution users about model assumptions.

The supplemental theory page [here](https://landlab.readthedocs.io/en/master/reference/components/dupuit_theory.html#dupuit-theory) also describes the assumptions made when using the Dupuit-Forcheimer

[2020-01-22 20:14] DavidLitwin commented on #1107
I have addressed this [here](https://github.com/landlab/landlab/commit/bb2db392b868a9f96f6d2a8829911d3187856d7c) by updating the docstring for the component to caution users about model assumptions.

The supplemental theory page [here](https://landlab.readthedocs.io/en/master/reference/components/dupuit_theory.html#dupuit-theory) also describes the assumptions made when using the Dupuit-Forcheimer

[2020-01-23 00:29] kbarnhart commented on #1108
@rreinecke I've now updated the main and component readme, as well as the documentation in response to your comments.

In many cases I've provided links into our more comprehensive documentation (hosted at https://landlab.readthedocs.io/). This is based on experience that duplicated information is difficult to maintain.

If these changes are insufficient, please indicate what needs improving and o

[2020-01-23 00:35] ChristianMohr opened #1121 "Landslide component driven by soil water leakage from soil moisture component?"
Hello there,
I am relatively new to landlab, did some tutorials and managed to develop a landslide model accounting for dynamic root cohesion over time following disturbance.
Now I am planning to link the soil moisture component to the landslide component. My idea is to use the "soil_moisture__root_zone_leakage" output as recharge as required for the landslide component to run. I saw the different

[2020-01-23 01:06] erkanistan commented on #1121
Hi Christian,

I think for this you will need to run the soil moisture model for a long duration and select the wettest day of each year to force the landslide model. if you have let's say 30 years of daily soil moisture run then you will have 30 landlab recharge grid at the resolution of your choice. the landslide model requires a steady-state recharge at each you calculate landslide probability,

[2020-01-23 01:11] ChristianMohr commented on #1121
Thanks Erkan, I'll keep you in the loop.
Best,
Christian

[2020-01-23 02:21] ChristianMohr commented on #1121
Sorry, it is me again. I think the STA makes sense in my case, at least it is worth trying. Th study area is pretty heterogeneous in terms of topography (Patagonian Andes).

I checked the docs you referred to, Erkan, and also searched the manual on the landslide component which describes how the VIC data is routed, as well as the manuals of the STA. Yet, it seems like I somehow need to provide the

[2020-01-23 05:27] erkanistan commented on #1121
hsd_id could be anything you want. Then you have the look up table that pairs the hsd_id to the landlab cell ids. So the recharge array for the hsd_id then gets linked to the landlab id via python dictionaries. if you use landlab for recharge then hsd_id can be rater model grid id. BUT there is a need for flow direction for STA-- please see: https://landlab.readthedocs.io/en/latest/reference/utils

[2020-01-23 05:58] ChristianMohr commented on #1121
Hi Erkan,
thanks, this makes sense. It does, thus, not make any difference how to
assign he hsd_id since they are unambiguously assigned.

I have the flow direction data calculated.
I think, I now, what you meant when stating you like to work late. I really
enjoy working tonight.... no baby, no kid and wife who needs to be taken
care of ;-)
Christian

On Wed, 22 Jan 2020 21:28:00 -0800
  Erkan Ist

[2020-01-23 05:59] rclavera commented on #1118
@kbarnhart, Landlab v2 has been installed. Thanks

[2020-01-23 06:05] rclavera commented on #1118
I attach the files to test the problem I have.
[Archive 2.zip](https://github.com/landlab/landlab/files/4101473/Archive.2.zip)

[2020-01-23 06:56] #1107 closed

[2020-01-23 07:06] rreinecke commented on #1108
Thank you. This is much more comprehensible now. Of course there is always a trade of in duplicating information but I think this makes the project much more discoverable now.

I have to agree though with @DavidLitwin that the test structure could be somewhat different. But that is something out of the scope of this review. Before closing this: Am I correct that this is the only test file for the

[2020-01-23 14:51] kbarnhart commented on #1108
@rreinecke thanks for your comments on the readme/docs. I'll let you close this issue.

Regarding the location of tests for this component:
- The docstrings for the component (in the source code)
- The unit tests within `landlab/landlab/tests/components/groundwater/`

In addition, our continuous integration includes running all the notebooks and asserting that they run without error. This isn't su

[2020-01-23 15:35] DavidLitwin commented on #1105
Referencing pull request #1122.

[2020-01-23 16:07] rreinecke commented on #1105
@DavidLitwin very nice paragraph. I think this provides a much more complete view on the issue. (even though I like to again to self-promote my publication here: https://www.geosci-model-dev.net/12/2401/2019" - maybe be future research into this topic ;))

[2020-01-23 16:07] rreinecke commented on #1105
@DavidLitwin can be closed as soon as it is merged.

[2020-01-23 16:09] rreinecke commented on #1108
Thank you! If issues with the tests arise I will open a separate ticket. This has been addressed sufficiently.

[2020-01-23 16:16] kbarnhart commented on #1118
@DavidLitwin could you please have a look at this?

[2020-01-23 16:24] rreinecke commented on #1108
as a side-note @DavidLitwin the tests are very nicely described and documented! A pleasure to read. Could always be extended in the future but to this point great addition to the rest of the tests. I've already recommended this project to some colleagues.

[2020-01-23 16:32] kbarnhart commented on #1108
@rreinecke thanks for letting me know you can't close it. closing.

[2020-01-23 16:32] #1108 closed

[2020-01-23 16:42] DavidLitwin commented on #1106
Referencing pull request #1123 Thank you for suggesting this, I think it adds a lot to the tutorial!

[2020-01-23 17:08] DavidLitwin commented on #1108
@rreinecke Thank you for the feedback on the tests! A good of thought went into them over several months.

[2020-01-23 18:07] DavidLitwin commented on #1118
@kbarnhart  and @rclavera I will have a look tomorrow.

[2020-01-23 20:15] #1102 closed

[2020-01-24 15:03] DavidLitwin commented on #1118
@rclavera I just submitted PR #1124 to fix the issue. It corrects both flux in and storage calculations. Also, I made some changes to your test code so that it will run on Landlab 2.0. It's attached here.

Unless there are any further issues related to those the flux calculations, I will close this when the PR is complete. Thanks for catching the bug!

[test.zip](https://github.com/landlab/landlab

[2020-01-24 16:42] rreinecke opened #1125 "JOSS Review groundwater component: Install error with depricated python version"
With Python 2.7.17 and `python setup.py develop
` you get an error message:
`Traceback (most recent call last):
  File "setup.py", line 12, in <module>
    import versioneer
  File "../landlab/versioneer.py", line 1719
    file=sys.stderr)
        ^
SyntaxError: invalid syntax
` I'm aware that this version is deprecated with this year but it is still pretty common on many systems.

[2020-01-24 16:48] kbarnhart commented on #1125
@rreinecke Landlab no longer supports python 2.7. Is there somewhere you think we should more clearly communicate this?

[2020-01-24 16:51] rreinecke commented on #1125
Yes. As I already suggested in the setup.py and a small note in the readme

[2020-01-24 16:53] rreinecke commented on #1125
Is it possible to run the tests and build landlab without using conda? I personally really dislike it and would appreciate it if I do not need to install it on my machine.

[2020-01-24 17:37] kbarnhart commented on #1125
Forgive me if I missed something, but I didn't see where you recommended mentioning this in the `setup.py` and the `readme.rst`. We already list the python versions in the `setup.py` file as classifiers, but I'll address this by:
* adding `python_requires` and
* adding a note about supported versions in the readme.

Regarding building landlab and running the tests without conda: I expect that if y

[2020-01-24 18:23] kbarnhart commented on #1125
[Linking to the JOSS Review Issue](https://github.com/openjournals/joss-reviews/issues/1935)

[2020-01-26 11:55] rreinecke commented on #1125
@kbarnhart I just noticed it now when trying to run the tests on my machine. As soon as #1126 is closed this can be closed as well.

[2020-01-26 11:57] #1106 closed

[2020-01-26 11:57] #1105 closed

[2020-01-26 12:12] #1125 closed

[2020-01-27 15:37] kbarnhart commented on #1118
@rclavera @DavidLitwin has addressed this with PR #1124. These changes are reflected in the source code (but are not yet in a pip/conda installed binary).

[2020-01-27 15:37] #1118 closed

[2020-01-27 18:37] kbarnhart commented on #1104
On the call we've decided that it makes sense to

* Add a `_unit_agnostic = True` to component base class, then add `_unit_agnostic = False` to those components for which it really matters.
* Add public attribute to Component. Add information to info printed about component
* Add information to the Component tutorial.

@landlab/core anyone want to volunteer to do this.

[2020-01-27 18:38] mcflugen commented on #1125
@rreinecke

It is, and, in fact, our CI is run using *pip* to install the dependencies, not *conda*.

[2020-01-28 00:03] DavidLitwin commented on #1069
Hi @rclavera and @kbarnhart, just letting you know I haven't forgotten about this issue, and I think I have a proper solution.

I'll start with the obvious: the Boussinesq equation is a nonlinear advection-diffusion equation. The courant condition only addresses the stability of the advective part of the equation. But the diffusion equation also has a stability criterion, which can be found by von

[2020-01-28 15:54] kbarnhart commented on #1069
@DavidLitwin would you mind if I opened a PR for this branch. That way it is easy to see what has changed in the component.

[2020-01-28 16:04] DavidLitwin commented on #1069
@kbarnhart that sounds good, thank you!

[2020-01-28 17:32] alangston opened #1129 "cannot import Landlab after updating to Landlab 2.0"
Hi LL team,

@kbarnhart advised me that Landlab 2.0 had been released and that when I updated to LL2.0 on my local machine, I would have a few conflicts that would need to be resolved.

I resolved conflicts and updated to LL2.0. Now when I call landlab: import landlab  I get the following error message:

`ImportError: cannot import name 'map_pairs_to_values' from 'landlab.graph.sort.ext.remap_elem

[2020-01-28 17:45] mcflugen commented on #1129
@alangston You probably need to recompile/install. From the top-level landlab folder, try running the following,
[code]

[2020-01-28 18:11] alangston commented on #1129
Awesome, problem solved!

[2020-01-28 18:11] #1129 closed

[2020-01-29 16:22] kbarnhart opened #1132 "VoronoiDelaunayGrid + imshow_grid bug"
@mcflugen I found an issue with the combination of VDG and imshow_grid while updating umami and its notebooks to be compatible with Landlab v2.

I've made a minimally reproducible example:

[code]

This last line yields the following:
[code]

No error is raised with smaller number of nodes, but there is no threshold (e.g., I tested with 20 options between 4000 and 7000 nodes and while this error w

[2020-01-29 17:53] mcflugen commented on #1132
@kbarnhart Thanks for finding this. I'll have a look. Since it doesn't always happen, I'm guessing it has something to do with how some points are randomly positioned.

[2020-01-30 17:47] kbarnhart commented on #1132
@mcflugen thanks! I know that the grid used in my umami notebooks did work under LL 1.11. I have not confirmed this with this specific set of x-y points.

If there is something invalid about the set of x-y points then I suspect a reasonable approach would to provide an informative error upon init of the grid.

Let me know if you need any help with this (it is the only thing standing between both t

[2020-01-30 23:32] kbarnhart commented on #1132
@mcflugen I modified my notebook so this no longer an issue for it running.

I'm going to keep the issue open so that at least we can come up with a better error statement.

OK with you if I make a v2.0.0b4 release?

[2020-01-31 02:19] mcflugen commented on #1132
@kbarnhart Thanks. Yes, let's definitely leave this open.

If you could make a new release, that would be great! I've been meaning to since we fixed the Python 3.8 builds in #1111.

[2020-01-31 16:18] kbarnhart opened #1134 "Deploy Error"
@mcflugen the deploy stage for v2.0.0b4 failed

https://travis-ci.org/landlab/landlab/jobs/644355648

[2020-01-31 19:04] mcflugen commented on #1134
@kbarnhart *PyPI* had some minor issues with our new and improved README. #1135 should fix this.

[2020-01-31 21:20] #1134 closed

[2020-02-04 00:48] pfeiffea opened #1138 "Assigning node fields to NMG in read_shapefile"
@mcflugen and @kbarnhart :

I’m trying to use a shapefile to create an NMG to run NST. Issue I’m having: we need to assign topographic elevations for each node on the network. The way read_shapefile works, there isn’t an obvious way to set node elevations. Furthermore, if I just had a list of node elevations and I wanted to somehow bring them in, it gets complicated—the indexing of input links/nod

[2020-02-04 03:56] kbarnhart opened #1139 "No py3.8 builds on linux"
@mcflugen looks like [PyPI](https://pypi.org/project/landlab/2.0.0b4/#files) lacks 3.8 builds...

though [conda-forge](https://anaconda.org/conda-forge/landlab/files?version=2.0.0b4) has all nine...

I learned this when I tried to add 3.8 to the terrainbento CI and it couldn't find a linux 3.8 build for landlab.

https://travis-ci.org/TerrainBento/terrainbento/jobs/645765425?utm_medium=notificatio

[2020-02-04 09:35] rclavera opened #1141 "Difficulties in applying the Layers component"
Dear Landlab team,
I really appreciate your work and efforts.
I'm making my LEM using several of your components.
Trying to include layers I had some problems. I probably did something wrong but I don't know what.
Running the attached example, the model applies just 1 layer and when I print a cross-section it does strange things (it works with other data like groundwater)
I attached files to run t

[2020-02-04 15:36] kbarnhart commented on #1141
@rclavera a few thoughts and clarification questions.

- Could you describe in a bit more detail what you are trying to model and how you are intending to use the LithoLayers component? It is not entirely clear to me from the example you provided. As such it is hard to know whether what you want to do is possible under the current capabilities of Landlab.

- If your goal is to define layered rock

[2020-02-04 16:29] #1139 closed

[2020-02-04 20:59] gregtucker opened #1143 "Update Grid Sketchbook to use LL2.0beta"

[2020-02-04 23:30] kbarnhart commented on #1138
@pfeiffea I'll work on an answer to this on the bus tonight.

[2020-02-05 02:27] kbarnhart commented on #1138
@pfeiffea I'm going to need to tap @mcflugen in here for some help. A couple of thoughts

read shape file reads a poly line type shape file, creates a network grid, and assigns any fields located on the shape file to be located _at link_. So it is unclear to me where in the shape file itself the elevation location would be stored (or do the point geometries also have z attributes?) Could you clari

[2020-02-05 03:57] mcflugen commented on #1138
@kbarnhart, @pfeiffea

There is a *sort* keyword for *NetworkGraph* that controls if the graph elements should be sorted (*landlab*-style) or not. The way things are now, *NetworkModelGrid* always sets this value to *True* (i.e. elements are always sorted).

Would one possibility be to set this value to *False* so that nothing is reordered?

If you really want things to be *landlab*-style ordering

[2020-02-05 04:25] kbarnhart commented on #1138
This will definitely solve my problem. Totally made my evening.

Not 100% sure it will address the issue of elevation at nodes, but I’ll
wait to hear more details about the source of the elevations.

On Tue, Feb 4, 2020 at 8:57 PM Eric Hutton <notifications@github.com> wrote:

[2020-02-05 05:08] pfeiffea commented on #1138
Thanks, folks.

The elevation at nodes issue is tricky. Two ideas:
- find a way in GIS to assign an "upstream node elevation" and "downstream node elevation" to each link, then read those in after using `read_shapefile`

-read in a point shapefile of node locations with fields of node elevations and then associate those to the grid.. (probably the easier option for the user)

Do either of you have

[2020-02-05 05:28] mcflugen commented on #1138
@pfeiffea, @kbarnhart It seems like we should have mappers that map values from links to nodes. If we do, they would be in the *mappers* module. It's not clear from their names, but maybe one of the following?
* `map_min_of_node_links_to_node`
* `map_max_of_node_links_to_node`
* `map_upwind_node_link_max_to_node`
* `map_downwind_node_link_max_to_node`
* `map_upwind_node_link_mean_to_node`
* `map_d

[2020-02-05 06:10] rclavera commented on #1141
@kbarnhart
I would like to simulate several horizontal layers with different diffusion coefficients crossing the surface of a slope to erode them by diffusion (nothing to do with groundwater).

I tried to follow the notebook, but the result was the one you already saw. I guess I don't get it.

[2020-02-05 06:33] pfeiffea commented on #1138
Just so I'm clear: the idea would be to (e.g.) use `map_min_of_links_to_node`  to pin the shapefile link field (downstream node elevation) to node?

The upwind/downwind seem useful in many cases, but am I right that upwind/downwind are defined via a flow director, which requires elevation?

[2020-02-06 02:57] mcflugen commented on #1138
@pfeiffea That's what I was thinking, yes. I'm not sure that any of those mappers would work for what you, though.

If we had a mapper that did the following, would it work for you: for every node, set its elevation to that of the average elevation of all links connected to it.

[2020-02-06 04:10] pfeiffea commented on #1138
@mcflugen Hmm.. i don't think so. We really just need the node elevation to be elevation of that particular point in space. We use these node elevations to calculate the average channel slopes for the links.

That's why I think it might be easier to create an input/output tool to allow the user to bring in a point shapefile that represents nodes with a field of elevations, then map those points to

[2020-02-06 04:21] mcflugen commented on #1138
@pfeiffea Oh, yeah, for sure. Sorry, I thought you were stuck with having elevations defined only at links. If you have a file that defines elevations at nodes, it should be no problem to map those elevations to NMG nodes.

[2020-02-06 04:24] pfeiffea commented on #1138
@mcflugen Perfect. Yes, that's all we need!

[2020-02-06 14:51] kbarnhart commented on #1138
@pfeiffea I have a couple other things that I need to finish before early next week, but then I can spend some time on this. based on the conversation what I think makes the most sense is to:

 -[ ] Fix the current read shape file to deal with the re-ordering correctly
- [ ] add an option to read shapefile in which someone could provide a poly line shapefile and point (required to be co-located) s

[2020-02-06 14:54] kbarnhart commented on #1141
@rclavera it sounds like you want to couple the LithoLayers with the LinearDiffuser. Is that correct? I would recommend that you revisit the example notebook and pay particular attention to part 3 where I show an example of coupling these two components (along with a few other components).

[2020-02-08 14:55] fclubb opened #1147 "SpeciesEvolver JOSS review"
Hi @nathanlyons,
Just a couple of suggestions for the JOSS review (I think I am supposed to do this in an issue here, apologies if that's not the case). I think this is a really great component and I look forward to using it for both research and teaching in the future!

In the software paper:
- Description of zone connectivity relationships: just to clarify - does many-to-many require the same nu

[2020-02-08 20:03] pfeiffea commented on #1138
Hi @kbarnhart and @mcflugen... sorry for the slow response. My email was sending the GitHub messages to the junk folder.

Yes, this sounds great.

@kbarnhart I can create that point shapefile and send it your way.

[2020-02-08 20:25] nathanlyons commented on #1147
Hi @fclubb,

Thanks for the comments! Two comments required changes to the paper and code. In these cases, a link to the commit addressing the comment is provided. The commits were pushed to `nathanlyons_species_evolver_joss_review`.

#FavoriteThingToReadInAReview

Good question that should be addressed in the paper. In the `many-to-many` bullet of the paper, I added:

`Zone counts in both the pri

[2020-02-10 19:11] nathanlyons commented on #1100
Could the `animate_landlab_output` tutorial be the recommended method/replacement to `video_out`? Something like the latter is nice to make quick video, although not being able to animate grids and deep customization of plot elements is limited.

[2020-02-10 19:30] nathanlyons commented on #1100
Regarding distinctions of utilities, I think especially the user audience (sensu Barnhart et al, in progress) could benefit from having a groupings of

- things that fall under earth surface dynamics (eg, `fault_fact_finder`, `flow_distance`, and `watershed`) and
- things associated with programming tasks, objects, and data structures (eg, `add_halo`, `count_repeats`, `decorators`).

The programmy

[2020-02-11 17:18] fclubb commented on #1147
Awesome! That fixes my very minor comments, I'm happy for this to go through with no further changes needed. :+1:

[2020-02-12 18:01] nathanlyons commented on #1095
@DavidLitwin may you please rename the groundwater paper.md as described in the last step [here](https://landlab.readthedocs.io/en/master/development/contribution/joss_workflow.html#workflow-to-submit-your-landlab-contribution-to-journal-of-open-source-software)?

It just so happened that my paper's review is finishing up shorting after your's concluded, and we are new to working out how to handle

[2020-02-12 18:31] DavidLitwin commented on #1095
@nathanlyons got it, I just added those changes to my post-joss pull request #1150

[2020-02-17 07:08] rclavera commented on #1141
@kbarnhart
Solved
Thank you

[2020-02-17 16:01] kbarnhart commented on #1141
Glad to hear you solved this. Closing.

[2020-02-17 16:01] #1141 closed

[2020-02-17 23:10] gregtucker opened #1154 "Tutorial examples for CellLab-CTS"
It would be nice to have some of the examples of CellLab-CTS in Tucker et al. (2016) available as notebook examples/tutorials.

[2020-02-18 00:58] #1147 closed

[2020-02-21 17:31] pfeiffea commented on #1138
@kbarnhart and @mcflugen

I'm circling back on this topic. I created a new test network including a shapefile with nodes and links. It is on my development branch under tutorials-->NST-->data.

[2020-02-24 15:39] kbarnhart commented on #1138
thanks @pfeiffea I'll try and work on this in the next week or so.

[2020-02-26 16:03] DavidLitwin opened #1156 "Memory leak in LakeMapperBarnes"
I'm running the lake mapper in a landscape evolution model in order to route flow through depressions, particularly those that occur because of the randomized initial condition. I found that the HPC node I am using was consistently running out of memory, and I have narrowed down the source of this memory use increase to the lake mapper.

Attached is a minimal reproducible example, with a plot show

[2020-02-26 17:07] kbarnhart commented on #1156
@DavidLitwin thanks for bringing this up. @SiccarPoint is really the correct person to get help from since he made this component.

[2020-02-28 15:05] SiccarPoint commented on #1156
I have some bad news for you, I'm afraid. This is a fundamental Python problem, and not one we can easily code our way out of. Python doesn't have a built in mechanism to release memory blocks once they are used. I've hit this problem previously in other components, where if you hammer away for long enough on a complex component that needs to do calculations involving building arrays of different

[2020-02-28 15:55] DavidLitwin commented on #1156
Thank you for the detailed description! I'm not sure this is the kind of problem that I have the time or expertise to work on myself. With what is currently available it seems like the trick in a landscape evolution model context is to have erosion remove all pits from the original surface (and thus be able to stop running the component) long before running out of memory.

I merged your fall 2019

[2020-02-28 16:12] gregtucker commented on #1156
Two thoughts: (1) all the components should be up to speed with Landlab 2.0, so if there's a problem, we should track it down pronto; (2) one strategy would be to pre-allocate necessary arrays and keep them throughout the component's existence.

[2020-02-28 16:16] DavidLitwin commented on #1156
@gregtucker, (and @SiccarPoint, correct me if I'm wrong) I think the issue is that the pull request with that speed update was never merged into 1.0. I merged the updates into a branch I was working on just to get something running. This is how I produced my AGU results! So now that branch is out of date (see #1040) and would need some work to be merged into 2.0.

[2020-02-28 16:19] SiccarPoint commented on #1156
I'm on this. Fixing the merge isn't a big deal I don't think.

[2020-02-28 16:23] SiccarPoint commented on #1156
@gregtucker Yes, that strategy *should* work. But based on past experience, that's easier said than done. I brief read online suggests that actually diagnosing the problem in detail is likely to be very time consuming. Will take a look early next week, but not super optimistic...

[2020-02-29 02:18] nathanlyons opened #1157 "Launching notebooks locally"
Docs [here](https://landlab.readthedocs.io/en/master/install/index.html#conda-environment) and [here](https://github.com/landlab/landlab/tree/release#conda-environment-with-pre-packaged-binary-distribution) give instructions to clone the repo. Does this mean that the following two copies of landlab will exist on the user's computer:
1. the downloaded copy from the repo existing for the sole purpos

[2020-03-01 14:33] kbarnhart commented on #1138
quick update: I got about halfway through addressing this the other day. I should be able to do the other half in the next few days.

[2020-03-03 17:14] nathanlyons opened #1160 "notebook doc structure"
I propose a reorganization docs for notebooks:
- index: differentiating the two tutorial type. Includes instructions to launch notebooks (locally, binder, hydroshare).
- Landlab Tutorials
- Teaching Tutorials

Alternatively, it may work on one page by editing the current teaching tutorial page. Much of it is about launching notebooks, which ideally should be the same as the Landlab Tutorials.

Als

[2020-03-03 18:55] DavidLitwin commented on #1156
Alright, I have good news and bad news. The good news is that the cythonized version of the DepressionFinderAndRouter (#1040) is faster than the previous version, and doesn't have a memory leak problem seen in LakeMapperBarnes. If you are curious, I've attached some examples.

The bad news is that it is still significantly slower than LakeMapperBarnes, at least for the grid size that I'm using (10

[2020-03-04 09:42] SiccarPoint commented on #1156
The efficient way to do this will be to find where the leak is (i.e., which func) and fix only that one. This will result in a lot less pain in the long run...

[2020-03-04 10:40] SiccarPoint commented on #1156
I solved it! And pretty pleased with myself too.

The issue is in the use of heaps (and presumably deques as well) in Python. Following general Landlab practice, we preallocate these heap structures on init of the component so they are accessible in principle from any where in the component and also externally, i.e.,  `self._open = StablePriorityQueue()` in this case. However, this means that the

[2020-03-04 10:42] SiccarPoint commented on #1156
Although the fix is easy, making it has trashed the tests on this component. Now fixing...

[2020-03-04 13:45] DavidLitwin commented on #1156
@SiccarPoint Thank you for sorting this out! It does make sense that keeping the heap around by initializing it with the component would create a problem for garbage collection. I've read that garbage collection can be resource intensive, which makes me wonder if performance will be slightly lower now that the memory leak is resolved. I will check, but in either case, having something that can be

[2020-03-04 16:15] #1156 closed

[2020-03-04 23:28] kbarnhart commented on #1160
I'm not entirely sure that I follow what you are proposing. However, thus far I have not observed a @nathanlyons reorganization that I disagreed with.

[2020-03-06 18:42] nathanlyons commented on #1160
Primarily I propose to consolidate launching instructions onto one page for both Landlab and Teaching tutorials because I believe launching options are the same, or our intention is to make them the same.

I am holding on this while hydroshare workflow and local tutorial launch for user installs are worked out.

[2020-03-12 16:04] mckeonryan406 opened #1164 "Problems with run_one_step() input for Lithology Tutorial"
I am trying to learn how to use the Lithology and Litholayers components of LandLab and I am running into issues with the run_one_step() function as implemented in input [9] and input [11] in the Tutorial  from here: https://nbviewer.jupyter.org/github/landlab/tutorials/blob/release/lithology/lithology_and_litholayers.ipynb

If I follow all of the preceding steps in the example and execute the fol

[2020-03-12 16:13] kbarnhart commented on #1164
@mckeonryan406 thanks for the question.

As of Jan 2020 landlab switched from v1.x to v2beta (in beta until [a publication presently at ESURF](https://www.earth-surf-dynam-discuss.net/esurf-2020-12/#discussion) is reviewed, etc).

As part of the major revision resulting in v2.0, we decided that run_one_step methods would either take dt or nothing (e.g., no more passing dz_advection to run_one_step

[2020-03-12 16:32] mckeonryan406 commented on #1164
Many thanks for the quick response!  I will talk with my thesis student to find out where they found the link I gave you to the out-of-date tutorial, but my guess is that it was something that Google lead them too so I am not sure if they will be able to get too specific (sorry in advance).

Thanks again for the fast reply and the great tools and documentation (now that I know where to look)!

[2020-03-13 05:02] pfeiffea opened #1165 "Import issue with depression_finder.cfuncs"
I'm working from the developer branch of landlab. When I try to import `FlowDirectorSteepest` I get an error saying that `depression_finder.cfuncs` is not found

[code]

When I navigate to landlab--> landlab-->components-->depression_finder I see a file called cfuncs.pyx

Any suggestions?

[2020-03-13 08:44] SiccarPoint commented on #1165
Did you try re-entering `python setup.py develop` from a terminal? cfuncs issues are often easily resolved this way.

[2020-03-13 14:55] pfeiffea commented on #1165
That did the trick, thank you!

[2020-03-13 14:55] #1165 closed

[2020-03-14 14:33] #1095 closed

[2020-03-20 08:53] SiccarPoint opened #1169 "Tutorial interface very user-hostile in updated website"
Just noticed that in the process of cleaning up the tutorial section of the website, we've largely wiped all the useful information on what the tutorials do, what order to do them in, etc. This seems essential for a novice user, especially one out on their own in the wild.

(Possibly this is still in there somewhere, but you don't see it if you do the obvious route of Splashpage -> "Tutorials" ->

[2020-03-20 10:42] SiccarPoint commented on #1169
Lots of broken links in here as well. Will fix the ones I find.

NB: We appear to have deleted the diffusion_three_ways notebook tutorial from the repo entirely. I am taking it out of the docs altogether, but if @gregtucker or @kbarnhart feels this is in error, we'll need to put it back later.

[2020-03-20 10:45] SiccarPoint commented on #1169
Wait, reading between the lines, diffusion 3 ways is now the scarp diffusion model - going with that.

[2020-03-20 10:54] SiccarPoint commented on #1169
Hang about, @kbarnhart has already made quite a lot of changes ([here](https://github.com/landlab/landlab/commit/60c52c546d47e2dd4f5abb744a795cdef4f197fd#diff-124d0f2ef03bc55af34f89e4e02bb362)), but this hasn't been pushed to the user-facing website. Is there some procedure I've missed to rebuild the docs that needs to be triggered manually? I note these changes aren't visible even in the "Master"

[2020-03-20 15:08] kbarnhart commented on #1169
@SiccarPoint thanks!

A couple of comments:

1) Doc builds are currently failing on ReadTheDocs (and have been for a while). This is why @nathanlyons's improvements aren't showing up. If someone else has the bandwidth to assess/fix, please do... Error is very early on in the build.
[code]

2) You are right that in the big re-org the page on the docs that listed tutorial order was removed and repla

[2020-03-20 15:26] SiccarPoint commented on #1169
The page that triggered the issue was the [RTFD tutorials page](https://landlab.readthedocs.io/en/latest/user_guide/tutorials.html), where I subsequently discovered your changes. I think the flow from the splash page will actually be fine once these updates appear...?

I think I remember the RTFD consolidation discussion, and am still very much on board. The main issue is signposting now I think -

[2020-03-20 19:36] BCampforts opened #1172 "Erosion of flooded nodes in space"
Hello,

I might be overlooking something but from what I see, I have the impression that flooded nodes are still eroded in the space.py component even when the erode_flooded_nodes flag is set to False and when using the run_one_step_basic definition. There seems to be a fix for this in the run_with_adaptive_time_step_solver definition on lines 625-627 but this does not apply for the solver with a

[2020-03-20 19:41] gregtucker commented on #1172
Vanessa and I unearthed a related issue in ErosionDeposition: nodes that are either flagged "flooded" by a lake/depression identifier, or are self-draining, *should* have a deposition rate equivalent to the incoming sediment flux, but do not. I hope to look at this and the above SPACE issue in the next day and a half.

[2020-03-20 19:55] gregtucker commented on #1169
@siccarpoint also know that we've had an active discussion in Landlab meetings on managing the distribution of notebooks. Current temporary solution is to recommend users clone the repo just to get access to the .ipynb files. Longer-term solution will be to host the notebook files on a server for downloading them without having to clone the full LL repo.

[2020-03-20 19:57] BCampforts commented on #1172
Regarding deposition in space.py: Charlie also noticed there should probably be a += on line  469 rather than an =

[2020-03-20 21:57] kbarnhart commented on #1172
@gregtucker if I recall correctly you @cmshobe and I had a couple of conversations about what should happen when water enters a flooded node. If memory serves, we considered:
a) sediment is deposited at a rate of dHdt (some sediment is deposited some is passed downstream) and
b) all sediment is deposited.

I think you favored (b), @cmshobe favored (a), and I wasn't certain which made more sense.

[2020-03-20 22:12] gregtucker commented on #1172
@kbarnhart yes, that's right. This was prompted by a simple experiment that Vanessa ran: a 5x5 domain with all closed boundaries, cells in one row at an arbitrarily high elevation, the rest at zero. Mass should be conserved within the domain, but isn't if you use (a) above because there is currently no mechanism to pass sediment downstream if there is no downstream defined.

[2020-03-20 22:25] cmshobe commented on #1172
Ohhh ok this is coming back now. I had forgotten about the flow routing part (i.e. lakes being their own receiver). Couple of thoughts:

1) Mass should be conserved, I agree. However, I wonder if in approach (b) you might deposit too much and basically make a little mountain? Not saying this has to get done now, but wouldn't the best long-term solution be (a) but with the change that those interna

[2020-03-20 22:26] kbarnhart commented on #1172
@gregtucker Ahhh. The context of @vaga3461 's experiment helps me understand.

Also, sorry to @BCampforts since this second issue (which probably belongs on another thread) is now taking over.

Right now we (in theory) have my option (a). Putting aside whether (a) or (b) is better, @vaga3461 's example demonstrates that we have an imperfect version of (a). Specifically, if there are local minima,

[2020-03-27 22:14] ThomasMGeo commented on #765
Any updates to that @mcflugen and @gregtucker ?

[2020-03-27 23:08] braunchris opened #1174 "Using Landlab to model wind erosion?"
Hello,

I am very new to Landlab and was wondering if it could be used to model wind erosion. Could it be done and has it been done already?

If not, why?

Your help would be greatly appreciated!

Best regards,
Chris

[2020-03-30 17:37] #1104 closed

[2020-03-30 19:25] gregtucker commented on #765
I'll defer to @mcflugen as to the current status of Sequence...

[2020-03-30 19:29] gregtucker commented on #1174
Hi Chris,

I believe that Harrison Gray at the USGS has recently done some wind erosion/transport/deposition modeling, using a combination of Landlab code that he wrote for sediment transport plus a 3rd-party wind model. So that shows that Landlab *can* be used to model wind erosion, but we don't currently have a pre-existing component to do this.

Regards,
Greg

[2020-03-30 22:08] kbarnhart commented on #1157
@nathanlyons I think this can be closed? correct?

[2020-03-30 22:09] kbarnhart commented on #1138
This was addressed by #1158 closing.

[2020-03-30 22:09] #1138 closed

[2020-03-30 22:10] kbarnhart commented on #1069
@DavidLitwin I think this can be closed. Correct?

[2020-03-30 22:10] #1060 closed

[2020-03-30 22:13] kbarnhart commented on #1044
I think we discussed this on another channel and it was resolved.
@SiccarPoint can you comment or close?

[2020-03-30 22:14] nathanlyons commented on #1157
I kept it open because the current approach to disseminate tutorials as described in docs is temporary, not that this issue makes that clear. I'll close it because there's plenty of overlapping tutorial issues.

[2020-03-30 22:14] #1157 closed

[2020-03-30 22:15] kbarnhart commented on #1046
@SiccarPoint I think this is resolved. Comment or close?

[2020-03-30 22:16] kbarnhart commented on #1087
@saisiddu is this resolved? If so can you close?

[2020-03-30 22:16] kbarnhart commented on #1121
@ChristianMohr is this issue resolved? If so is it OK to close the issue?

[2020-03-30 22:18] DavidLitwin commented on #1069
Yes, I think so. Thanks!

[2020-03-30 22:18] #1069 closed

[2020-03-30 22:18] kbarnhart commented on #1164
@mckeonryan406 I'm going to close this issue since I think I've resolved your questions. If you or any of your students have questions about Landlab, please don't hesitate to make a new issue.

[2020-03-30 22:18] #1164 closed

[2020-03-31 03:40] saisiddu commented on #1087
Yes, this is resolved. Thanks, Katy!

[2020-03-31 03:40] #1087 closed

[2020-03-31 12:31] SiccarPoint commented on #1046
Yes, I think this has resolved itself.

[2020-03-31 12:31] #1046 closed

[2020-03-31 13:18] #1169 closed

[2020-04-02 08:00] #1044 closed

[2020-04-02 14:56] kbarnhart commented on #1036
Now that we are on v2, we automagically get a useful error message because I implemented type checking in the component inits:

For example:

[code]
yields the following error message:
[code]

So I'm going to close this.

[2020-04-02 14:56] #1036 closed

[2020-04-03 16:14] kbarnhart commented on #1035
@SiccarPoint I'm trying to coordinate wrapping up the remaining LL2 issues/PRs in the next few weeks.

If you are still able/interested can I ping you to do this now? If you are slammed, then this can wait for later.

[2020-04-03 16:15] DavidLitwin opened #1176 "Updating flow accumulation without updating flow directions"
When working with the groundwater model, there are circumstances where the hydrological state may be updated much more frequently than the geomorphology. Because of that, it would be efficient to separate updating flow direction from updating accumulated flow.

From a brief email exchange with @kbarnhart, it seems like the best way to do this is to use `FlowAccumulator.accumulate_flow(self, update

[2020-04-03 16:19] kbarnhart commented on #1172
I'm going to create a separate issue to describe @vaga3461 's issue, since her issue and @BCampforts are distinct.

Based on discussions with @gregtucker and @vaga3461 yesterday we thought that it would be best to try and resolve the second issue once this issue was resolved.

[2020-04-03 16:31] kbarnhart opened #1177 "ErosionDeposition/Space mass conservation and interior nodes that drain to themselves"
Through careful and creative toy experiments @vaga3461 has identified that the way ErosionDeposition and Space handle sediment results in "evaporation" of sediment at ALL nodes that flow to themselves. This is reasonable behavior in only one circumstance: when that node is located at model grid edge and is an open boundary.

Under other circumstances (e.g., closed boundary, bottom of an interior d

[2020-04-03 17:44] kbarnhart commented on #1176
@DavidLitwin what you have written should accomplish what you want. There is something about your code that doesn't make sense to me, and I've noted it below.

I'll take a stab on improving the docstring, link to it here, and ask for your recommendations on it.
In looking at this, I've also noticed that IF a depression finder is passed (as is not the case in your example), you can turn off recalcu

[2020-04-03 22:49] kbarnhart commented on #1100
Three of four uses of the
[code]

fail with recursion associated with

[code]

@mcflugen any recommendations?

[2020-04-04 17:51] #941 closed

[2020-04-05 14:00] Basalte commented on #708
I have seen this discussion about ""external" input sediment flux. I'd like to model evolution of alluvial fan with landlab. I am very new in Landlab and I wonder if thsi option  is now avaliable. If not, how model alluvial fan with landlab ?

[2020-04-06 09:13] SiccarPoint commented on #1177
I tangled with this a little in the course of trying to get the SedDepEroder and also a lake fill algorithm going. The "just drop all the sediment" is extremely prone to a. inducing model instability (if it's just dropped); b. grindingly slow run times (if normal timestep limited procedures are followed; and c. ...the same thing proceeding to crashes, as there are a subset of combinations of sedim

[2020-04-06 15:46] kbarnhart commented on #708
@Basalte thanks for the question. This functionality is not yet present in either SPACE or ErosionDeposition. Like all of landlab, we would welcome pull requests adding functionality.

The best way to learn about landlab is to check out the documentation (https://landlab.readthedocs.io/) and the library of tutorials (https://landlab.readthedocs.io/en/master/user_guide/tutorials.html). These can be

[2020-04-06 16:51] gregtucker commented on #1177
I can report that the CHILD model handles closed depressions and lakes by dumping all incoming sediment. This method conserved mass and produced the expected behavior of making delta-like features. See for example Figure 2B in

[https://onlinelibrary.wiley.com/doi/epdf/10.1002/esp.1952](https://onlinelibrary.wiley.com/doi/epdf/10.1002/esp.1952)

and Figure 8 in

[https://onlinelibrary.wiley.com/do

[2020-04-06 16:57] gregtucker commented on #739
This issue has been resolved in 2.0beta. Closing.

[2020-04-06 16:58] #739 closed

[2020-04-06 17:01] gregtucker commented on #738
Seems to have been fixed, closing.

[2020-04-06 17:01] #738 closed

[2020-04-07 18:09] gregtucker commented on #1154
PR #1175 deals with this.

[2020-04-07 18:09] #1154 closed

[2020-04-07 18:23] gregtucker commented on #981
Now obsolete, closing.

[2020-04-07 18:23] #981 closed

[2020-04-07 21:51] gregtucker commented on #708
In principle, it might be possible to do this by creating a modified version of the ErosionDeposition component that adds an external sediment flux field, and adds that external flux as a source term at each grid node (of course, the source could be zero at all but one or a few nodes). It would require studying that component's code carefully first. If I remember right, @alangston used a similar a

[2020-04-08 12:06] Basalte commented on #708
thank you @kbarnhart and @gregtucker  for your answers. Landlab is a great modeling approach. I have already used it for teaching. Following your suggestions, I will therefore try to modify  ErosionDeposition component to include external sediment flux.

[2020-04-08 15:02] kbarnhart commented on #708
Glad to hear landlab has been useful in your teaching @Basalte. If you have additional questions about modifying components, definitely reach out through an issue. And if you do add this functionality, we would welcome (and assist) bringing it into the main code repository through a pull request.

Know also that there is some ongoing work to address a known issues in Space and Erosion Deposition (

[2020-04-08 18:36] alangston commented on #708
As @gregtucker remembered correctly, I did include optional external sediment flux in the LateralErosion component. In the lateral erosion component, the variable name for external sediment flux is "qsinlet". You might be able to use the lateral erosion component as a template if you decide to modify ErosionDeposition component similarly. Good luck, @Basalte ! Happy to answer questions if you have

[2020-04-09 15:29] SiccarPoint commented on #1035
Alright if I review this 20/21 April??

[2020-04-14 09:26] colineA opened #1181 "space_dt"
I have an issue with the 'dt' in the Space component. In your example in the space component, I don’t understand why there is a “space_dt”? Why is it different of the “dt” of the loop?
Moreover, usually you use dt = 100 or dt =1 in your example but, if I understand it well, the default of dt is 0.001. It's a such big difference, why did you choose this value for the default?

Hope that my question

[2020-04-21 12:54] nicgaspar commented on #1016
@kbarnhart looking so great. I'm going slowly and this will probably be ongoing past our release.

In time time_steps.rst (see screen shot below) I'm wondering if we should revise because:
1. Not all Landlab components ensure stability.
2. "you are effectively de-coupling the components for a small interval of time." Actually, aren't you decoupling the components for the entire dt, because they ar

[2020-04-21 14:23] kbarnhart commented on #1016
@nicgaspar I think your comments on dt make sense and are correct.

[2020-04-24 21:24] gregtucker commented on #1181
There is only one time step value used in the call to Space's `run_one_step` method. This seems to be just a matter of getting familiar with syntax, so I'm closing this.

[2020-04-24 21:24] #1181 closed

[2020-04-24 21:26] #1174 closed

[2020-04-24 21:27] gregtucker commented on #1121
It looks as if this has been resolved, so I'm closing it.

[2020-04-24 21:27] #1121 closed

[2020-04-25 15:49] kbarnhart commented on #1058
I just did a search on these and this has been resolved by one of @mcflugen 's cruft PRs. 🎉

[2020-04-25 15:49] #1058 closed

[2020-04-26 16:52] #1100 closed

[2020-04-27 03:22] #1176 closed

[2020-04-27 03:23] #888 closed

[2020-04-27 15:48] #1172 closed

[2020-04-27 15:48] #1014 closed

[2020-04-27 15:48] #1177 closed

[2020-04-30 17:39] gregtucker opened #1193 "Compatibility issue with example in CellLab-CTS User Guide"
Report from a CellLab user: "While working through the User Guide found here, I encountered a problem with the first block of code in Step 1. The imports fail with the most up-to-date version of Anaconda and Landlab. I was able to resolve the issue with the code seen below. The remainder of the tutorial runs without issue."

The suggested code changes the imports.

[2020-05-01 19:55] gregtucker opened #1195 "Make w0 public in ExponentialWeatherer"
The maximum weathering rate parameter in ExponentialWeatherer should be made public, so programs that use it can change this value to represent, for example, changes in climate, process, or (for very short-term applications) time of year.

[2020-05-16 17:00] pfeiffea opened #1201 "Network sediment transporter AttributeError: 'Dataset' object has no attribute 'drop_vars'"
@kbarnhart @mcflugen @jonczuba

I went to run the network sediment transporter this morning, and I got the following error (below). It appears when I run_one_step, both in the notebooks and when I run it on code I have elsewhere.

Any idea what could have caused it? I'm flummoxed.

[code]

[2020-05-16 17:08] jonczuba commented on #1201
Update xarray. I had that issue recently.

On Sat, May 16, 2020, 1:00 PM Allison Pfeiffer <notifications@github.com>
wrote:

[2020-05-16 17:30] pfeiffea commented on #1201
Brilliant, @jonczuba that did the trick!

[2020-05-16 17:30] #1201 closed

[2020-05-16 17:40] jonczuba commented on #1201
Yay! That is an @kbarnhart fix that I passed along.

On Sat, May 16, 2020, 1:30 PM Allison Pfeiffer <notifications@github.com>
wrote:

[2020-05-19 20:24] vaga3461 opened #1203 "SteepnessFinder elevation step"
Using the elevation step argument in the SteepnessFinder component obscures channels. Channels are mapped normally when no elevation step is specified (see "elev_step_test_DEM"). When an elevation step is specified, very few channels are mapped, or are not mapped completely across the grid, even though the specified step is far smaller than the overall elevation change of the channels (see "elev_s

[2020-05-20 13:39] DavidLitwin opened #1204 "Add Height Above Nearest Drainage (HAND) component?"
Height Above Nearest Drainage (HAND) is a relatively new topographic metric that quantifies the elevation difference between any point in a DEM and the nearest point that is identified as a stream channel (Nobre et al 2011). In this way, it is the vertical complement of a flow path length, and average HAND is the vertical complement of 1/DD. Lately, it's appeared in the hydrological literature for

[2020-05-21 13:55] kbarnhart commented on #1204
@DavidLitwin I think this is a great idea and would make a great contribution. I'm not able to commit a lot of time, but am happy to provide guidance on using the data structures built by the flow director components.

[2020-05-21 20:59] DavidLitwin commented on #1204
Thank you, @kbarnhart. I know we talked about this before, but could you sketch out briefly for me what method you might use to associate a nearest drainage node with every node? No code required, just trying to think this through.

[2020-05-21 21:01] gregtucker commented on #1204
@DavidLitwin this paper might provide one approach: Tucker, G. E., Catani, F., Rinaldo, A., & Bras, R. L. (2001). Statistical analysis of drainage density from digital terrain data. Geomorphology, 36(3-4), 187-202.

[2020-05-21 21:13] kbarnhart commented on #1204
@DavidLitwin

Given a node id `id`, and an at-node array called `is_drainage_node` that indicates whether a node is a drainage or not, lets create an new at_node array that is the ID of the nearest downstream node.

My sense is that you want that ID rather than, say the distance between them... yes?

This should be able to be cythonized, made faster, but you get the idea.

[code]

Agree with @greg

[2020-05-22 00:17] DavidLitwin commented on #1204
Thanks so much! That's very helpful, I'll see what I can do.

[2020-05-22 15:31] DavidLitwin opened #1206 "xarray issue in release (v.2.1.1)"
Using the latest release, and I'm having problems with read_netcdf, apparently because of xarray. Attached is a minimum reproducible example (script and nc file), and here is the traceback:
[code]
After pulling the latest release I ran landlab `setup.py develop` again, and didn't notice any significant errors. Python version is 3.7.3, xarray version is 0.12.3, netCDF4 version is 1.5.1.2. Any ideas

[2020-05-22 15:40] kbarnhart commented on #1206
you need to update your xarray.

[2020-05-22 16:27] DavidLitwin commented on #1206
A simple update didn't do it, but I just rebuild the landlab_dev environment, and I'm all set. Glad it wasn't too bad.

[2020-05-22 16:27] #1206 closed

[2020-05-22 16:53] kbarnhart commented on #1206
Odd. Not entirely sure why conda update wouldn't just get the newest xarray and solve the issue....

Either way @mcflugen we probably need to specify a minimum version for xarray. I'm going leave this issue open to motivate that. I think the minimum version we need is v0.14.1 since that is when this function was added.

http://xarray.pydata.org/en/stable/whats-new.html?highlight=drop_vars#v0-14-1-

[2020-05-27 04:52] smchartrand opened #1209 "Ran the pytest and returned 22 errors, but did not see fixes - any suggestions?"
I use Linux Mint 18.3, Cinnamon environment.

Anaconda Navigator 1.9.12 and Python 3.x

I installed Landlab using the conda installation procedure.

I navigated to the following directory:

and ran the pytest as this is the only directory where the test would actually run.

The test returned the following details [the attached file contains the full print out to terminal of the pytest]
[Landlab_py

[2020-05-27 13:27] kbarnhart commented on #1209
@smchartrand a clarification question:

When you say "using the conda installation procedure" do you mean you [installed with conda-forge](https://landlab.readthedocs.io/en/master/install/index.html#conda-instructions), or do you mean you created a conda environment as part of the [developer installation instructions](https://landlab.readthedocs.io/en/master/development/install/index.html)?

Runni

[2020-05-27 14:01] smchartrand commented on #1209
Ahhh. Yes, I used conda forge. So I take it this.means I am good to go, no issues? Thanks so much for the very fast response.
Best,
- Shawn

On May 27, 2020 6:27 a.m., Katy Barnhart <notifications@github.com> wrote:

@smchartrand<https://github.com/smchartrand> a clarification question:

When you say "using the conda installation procedure" do you mean you installed with conda-forge<https://landla

[2020-05-27 14:32] kbarnhart commented on #1209
@smchartrand Yes you should be good to go. We tests that the prebuilt binaries (what you get from pypi or conda-forge) pass all the tests before we build them.

Happy modeling!

[2020-05-27 14:36] smchartrand commented on #1209
Excellent! I knew the issue was on my end. Have a great day and thanks again for the quick responses!

best,

-shawn

________________________________
From: Katy Barnhart <notifications@github.com>
Sent: May 27, 2020 7:33:00 AM
To: landlab/landlab
Cc: Shawn Chartrand; Mention
Subject: Re: [landlab/landlab] Ran the pytest and returned 22 errors, but did not see fixes - any suggestions? (#1209)

@sm

[2020-06-04 17:42] #1204 closed

[2020-06-24 23:08] #1209 closed

[2020-06-24 23:09] #1195 closed

[2020-06-24 23:19] kbarnhart opened #1214 "VTK info"
As I know @gregtucker is excited about vtk output, I wanted to leave a quick note here based on my recent experience making VTK output work with Clawpack.

There are basically two options. First is to use evtk which should address the core needs and would be really fast to implement.
https://github.com/pyscience-projects/pyevtk
https://vtk.org/Wiki/VTK/Writing_VTK_files_using_python

Second is to

[2020-06-30 15:15] gregtucker commented on #1214
Thanks for this @kbarnhart. I am indeed enthusiastic about making a VTK generation option. Among other things, it seems that VTK is among the formats that high-end rendering ("modeling") programs like Blender support.

[2020-06-30 15:37] kbarnhart commented on #1214
No prob @gregtucker. As I learn more I'll keep leaving breadcrumbs here.

[2020-07-08 20:38] kbarnhart opened #1218 "Geologic model integration"
Another breadcrumb trail based on things I've found that may be useful.

https://www.gempy.org/ provides a well designed package for the creation of geologic models (including statistically identical variations).

May be relevant to integrate with the Lithology class.

[2020-07-08 21:58] alexmitchell opened #1219 "Flow router/depression finder incorrectly directs flow in landlab version 2.1.1"
[attached_files.zip](https://github.com/landlab/landlab/files/4893398/attached_files.zip)

I've become stuck on an issue with the flow router and depression finder. I am attempting to write a simple model using linear diffusion and detachment-limited fluvial erosion on an arbitrary topography loaded from a png. However, something about this model seems to be confusing the flow router such that lak

[2020-07-08 22:18] kbarnhart commented on #1219
@alexmitchell thanks for the awesome MWE. I'm not entirely certain I have an answer about this, but will think on it. Also tagging @gregtucker as the person who knows the most about the depressionfinder.

[2020-07-09 08:55] SiccarPoint commented on #1219
This is associated with the refactoring I did in Cython between 0.06 and 0.07: https://github.com/landlab/landlab/compare/v2.0.0b6...v2.0.0b7

Taking a look to see if there's a quick fix.

[2020-07-09 16:33] SiccarPoint commented on #1219
I just spent the better part of a day looking at this and cannot for the life of me see how the version at 2.0.0b7 is materially different to 2.0.0b6. Could someone else with fresh eyes take a look to see if they are inspired? Presumably some information is getting held between model steps which should not be, but I can't find it.

I wondered if this is some unexpected feedback caused by passing t

[2020-07-09 17:14] SiccarPoint commented on #1219
OK, nothing like leaving a comment to create movement on a bug. If we suppress the diffusion in the original script, the problem goes away. I don't know exactly why, but this strongly implies this is an order-of-invocation problem in the driver or instability in the behaviour of the Eroders, rather than the lake filler behaving oddly per se. Is the Diffuser doing way more work than it should/trans

[2020-07-09 17:31] kbarnhart commented on #1219
Can't dig into this today, but will try tomorrow/Sat/Monday if still unresolved.

I have also had issues where order matters. I can justify most orders with enough effort, and think there is a technically interesting question of coupling to look at re different serial orders vs parallel.

I typically think that the following is most reasonable:
1. Uplift, if any
2. Diffusion
3. Flow Direct, Lake M

[2020-07-09 19:44] alexmitchell commented on #1219
Thanks @kbarnhart! I had another version with uplift and animations, but scrapped it because the combination certainly didn't fall within "minimum". Just following the issues reporting instructions!

@SiccarPoint Good point about the lake map and topo plots showing data from different times within a step. I completely missed that.

I also suspect it has something to do with diffusion clogging the

[2020-07-09 21:30] alexmitchell commented on #1219
Well my last idea was wrong. I modified the code to remove diffusion and fluvial erosion but add uplift only at (7, 15). It successfully breaks the lake into two lakes
![uplift_at_7_15](https://user-images.githubusercontent.com/530950/87086320-473c6280-c1e6-11ea-921c-6df53d325079.png)

Actually the issue seems to only occur with diffusion. I haven't been able to break the drainage network with upl

[2020-08-02 15:37] gregtucker opened #1224 "Enable vertically oriented hex grids in Grid Sketchbook"
Landlab's wonderful grid sketchbook tool, at:
https://landlab.github.io/grid-sketchbook
currently has vertically oriented hex grids disabled (grayed out in the dropdown menu). It would be useful to re-enable this.

[2020-08-08 18:13] kxwhipple opened #1227 "Error in hydrograph_class_notebook (Teaching Module)"
Since the migration to landlab 2 this teaching module appears to generate all zeros for the plotted hydrographs. Using all default parameters here is the resulting plot:
![hydrographs_landlab2_output](https://user-images.githubusercontent.com/40966478/89717085-e086a200-d967-11ea-9c1d-0b43665d5683.png)

Of course it should look like the output under the version prior to the migration to landlab 2:

[2020-08-08 18:23] kxwhipple opened #1228 "Unfortunate change in stream_power_channels_class_notebook"
In the migration to landlab 2 something inside StreamPowerEroder, seems to have changed such that the network structure in the landscapes produced when running this classroom exercise (default parameters) has degraded significantly. Back under landlab 1 the network structure was a reasonable dentritic pattern and the landscape looked realistic. At present the drainage network structure produced (s

[2020-08-09 16:47] gregtucker commented on #1228
Thanks for pointing this out @kxwhipple! I agree it looks weird. The difference you're seeing is the change from D8 flow routing to D4 routing as the default option in the FlowAccumulator component. It's easy to switch back to D8. If @nicgaspar agrees, we can make this change in the notebook (I'll submit a pull request shortly).

In the meantime, it's an easy change to the notebook. In Code Block

[2020-08-13 16:37] kbarnhart commented on #1227
@kxwhipple definitely not operator error. thanks for finding this.

I'm pretty sure figured it out... a forthcoming PR should fix it. After that we'll make a new landlab release so that the version on Binder reflects those changes.

[2020-08-13 17:06] kxwhipple commented on #1227
Thanks for the quick response!

[2020-08-13 17:14] kbarnhart commented on #1227
No problem! Glad you caught this at the beginning of the semester! I've made the PR, I don't know the timeline for when relevant folks (@nicgaspar, @mcflugen, @gregtucker) will be able to look at it (in part bc they are all involved in the ESPIN workshop/summer school).

But I bet we'll be able to get this fix reflected in binder in the next week or two.

[2020-08-13 17:28] kxwhipple commented on #1227
A zero rain rate would certainly explain it!  Timing is good.  I wasnt even setting out to test, just updating links and instructions for how to use the teaching notebooks and discovered the beauty of the Binder solution.  So great. So easy.  Was only running through it to test speed. Thanks again.

[2020-08-14 16:54] nicgaspar opened #1232 "non-uniform raster grids."
Hi. I might be confused, but is there an issue with the ordering of a grid instantiated with dy # dx?

I am running tutorials/flexure/flexure_1d.ipynb

To me it looks like the first entry in the grid spacing is becoming dx, not dy, but I think it should be dy to follow the was we set up the number of nodes in a grid as (num rows, num columns).

<img width="1096" alt="Screen Shot 2020-08-14 at 11 5

[2020-08-14 22:11] mcflugen commented on #1232
@nicgaspar Thanks for noticing this and reporting it!

You are correct, the spacing is provided as *(dx, dy)*. It looks like this notebook just didn't get updated completely when we updated to landlab 2.

The code should be,
[code]
That is, the spacing between columns (the *x*-direction) is 10km whereas the spacing between rows (the *y*-direction) is 100km.

[2020-08-15 15:53] #1228 closed

[2020-08-15 15:54] #1227 closed

[2020-08-15 16:27] gregtucker commented on #1214
The vtk installation via conda-forge wants to downgrade netcdf4 from version 1.5.3 to 1.4.2, and libnetcdf from 4.7.3 to 4.6.1. @mcflugen do you know whether this downgrade is compatible with our current netcdf requirements?

[2020-08-27 19:39] DavidLitwin opened #1236 "'on_diagonals' diffusion missing grid attribute"
I'm experimenting with the diffusion to all adjacent cells in landlab, and I've run into an issue.

Instantiating LinearDiffuser with method 'on_diagonals' is possible but calling `run_one_step` gives `AttributeError: 'RasterModelGrid' object has no attribute _diag_activelink_tonode`.

I searched in the whole code repository, and line 552 in diffusion.py appears to be the only place where this att

[2020-08-28 08:01] SiccarPoint commented on #1236
Hi David - these were experimental methods from some time ago now. You're right, they've been decapitated in the grid cleaning at 2.0. The supporting methods have been cleaned away, because there were no tests. They probably should have been cleaned out at the same time. You might need reinstate them yourself if you want them...

[2020-08-28 12:52] DavidLitwin commented on #1236
Hi Dan, thanks for the info. Did you get them working satisfactorily in pre-2.0 versions? I'm not sure my need is strong enough to reinstate them at the moment. Maybe best would be to remove them for the sake of reducing confusion, but keep them on a branch that someone could work on later.

My current issue is related to using D8 for incision and 'simple' (D4) for diffusion. Seems to be producing

[2020-08-28 13:06] SiccarPoint commented on #1236
Yes, I too was struggling with conflict between D8 flow and D4 diffusion. Do feel free just to remove it. Can always reinstate later. I was never totally happy that the scheme I had going for this was justified, and couldn't justify sinking any more time into it after a certain point. This was long enough ago that our modern QC processes weren't in place!

[2020-08-28 13:12] DavidLitwin commented on #1236
Sounds good. Did you come to any other resolution on the D8 routing vs D4 diffusion issue? I'll work on removing sometime soon when I get the chance.

[2020-08-28 22:17] gregtucker commented on #1236
For what it's worth, IIRC Beaumont et al. 1992 reported using a D8-style diffusion algorithm in their early landscape model. I think the conceptual problem is that there is no contact between cell faces diagonally, and hence should not be any direct flux between them (though of course it happens indirectly via the in-between cells). I suppose that's also an argument against D8 flow routing, but th

[2020-08-29 15:23] DavidLitwin commented on #1236
Interesting, I hadn't really thought about the quasi-1D network aspect of flow routing. I remember trying the hex grid early on for my full groundwater landscape evolution model, but found that running the groundwater model on a hex grid was quite slow because of the additional links. That's the cost I suppose! Something to consider down the road potentially.

[2020-08-31 20:26] gregtucker commented on #1236
I'm surprised to hear that you got slower performance with hex. In principle, you do have ~50% more links in a hex grid (not counting diagonals), but that shouldn't be a huge hit. One area where hex grids are notably slower is in `imshow_grid` plotting.

[2020-09-03 18:37] DavidLitwin opened #1238 "Missing documentation for to_netcdf and from_netcdf"
Today @kbarnhart showed me the awesome netcdf handlers `to_netcdf` and `from_netcdf`. I hadn't seen them before because they don't appear in the .rst documentation that goes to the readthedocs page. I think others might appreciate knowing these are around, especially for handling non-raster grids!

[2020-09-14 18:42] shelbyahrendt opened #1239 "feature inquiry: creating a NetworkModelGrid from a RasterModelGrid"
I am interested in creating a NetworkModelGrid from a RasterModelGrid for two purposes:

1) To make NetworkModelGrid creation for physical locations easier
2) To co-locate RasterModelGrid and NetworkModelGrid nodes for future coupling of the NetworkSedimentTransporter with other Landlab components

I noticed @kbarnhart opened issue #853 on a related topic and I am following-up on on the status of

[2020-09-28 16:22] gregtucker opened #1244 "SoilInfiltrationGreenAmpt"
Comment submitted via email:

We were looking at the SoilInfiltrationGreenAmpt component of LandLab and we have some thoughts that we hope will be useful for both this component and LandLab overall.

Although the source code is available, it might be useful to structure the page more similar to how you have the model repository entries to highlight this and other information better. For example we

[2020-09-28 16:23] gregtucker commented on #1244
@SiccarPoint any insights on this issue?

[2020-09-28 17:06] SiccarPoint commented on #1244
Probably need to ping @frengers on the implementation question, as IIRC I transliterated this straight from his parent code. Assuming I didn't screw up the recoding, hopefully he will have the necessary technical insight?

[2020-10-01 15:14] nevenato opened #1245 "thrust fault component"
Hi all,

does landlab have component (or does someone work on it) that produces a rock uplift pattern associated with thrust fault, i.e.  taking into account vertical and lateral components of  uplift?

Cheers,
Nevena

[2020-10-01 22:35] gregtucker commented on #1245
Not to my knowledge, @nevenato, though I've done a bit of work on one that does kinematic extension. It would be nice to have! For the lateral component, I guess the obvious choices are either to have a deformable grid (which we haven't engineered, though it could be done), use a simple advection term (which would cause numerical smoothing but might be ok for some applications), or iteratively shi

[2020-10-02 08:28] nevenato commented on #1245
Thanks for the suggestions.

[2020-10-02 08:31] yyylawa opened #1246 "Distinction between land and sea"
Sorry for the rudimentary question.

There are components such as LinearDiffuser and FastscapeEroder, but do they affect the ocean and land differently?
If you can make the processes work differently on hillsides and shallow seafloor (up to -15m), I'd be happy.

[2020-10-02 08:57] SiccarPoint commented on #1246
Neither component has been designed with the seafloor in mind. For the diffuser, using it might make sense if you could justify diffusion as a process on the seafloor, and had an appropriate diffusivity to use. I would be pretty hesitant to use the FastscapeEroder on a sea floor, as it deploys equations only calibrated on terrestrial rivers.

[2020-10-02 09:17] yyylawa commented on #1246
I have no intention of using FastscapeEroder. However, I would like to do LinearDiffuser on the seafloor for erosion and transport on the shallow seafloor.

I'm afraid that when I use FastscapeEroder or LinearDiffuser for all the grids, it will be perceived as just land, without taking seawater into account.

Is it possible to run the process for a specific elevation (e.g., more than -15m but less

[2020-10-02 09:29] SiccarPoint commented on #1246
Yes, that's what it will do. For something like you're proposing, you would need to modify the grid elevations by hand after each run of the component, to ensure it only affected the elevations you want.

[2020-10-02 09:56] yyylawa commented on #1246
Oh.
So I need to extract the following grid and run the components, right?
　A: -15m to 0m extracted grid
　B: A grid with 0m or more extracted

I believe that these grid can be extracted by IF statements.

[2020-10-02 10:04] SiccarPoint commented on #1246
Try that, but be sure to always update the master grad so they can't diverge from it.

[2020-10-02 10:15] yyylawa commented on #1246
I just have last question about "master grad" .
Does "master grad " mean the slope in the original full grid?
Do you mean that you need to extract the A and B grids again at each step because the 0m position could change?

[2020-10-02 23:06] gregtucker commented on #1246
Actually there are a couple of ongoing projects that do something like this. The new Sequence model developed by Mike Steckler at LDEO and @mcflugen uses the LinearDiffuser with a spatially variable diffusion coefficient that depends on water depth, and is set to a constant value for locations above sea level. I'm using a similar approach for some exploratory source-to-sink modeling. The component

[2020-10-04 08:19] alderonruiner opened #1247 "Question: Setting up link states for models with more than 2 states per cell + more"
Hi, I'm currently trying to determine if this tool is suitable for a project I'm working on involving the fire spread prediction with heat camera feedback. I have several questions:

1. Are there any examples for setting up link-states for a CA that has 3 or more states per cell? I attempted to modify the isotropic example to create some form of fire-spread model. I am unsure if it is remotely clo

[2020-10-05 08:41] yyylawa commented on #1246
Thanks, SiccarPoint.
In the meantime, I was able to make Linear work only against 0m and above.

Thanks, gregtucker, for the useful information.
I was able to find The new Sequence model. https://sequence.readthedocs.io/en/develop/index.html#

SiccarPoint and gregtucker, Thank you for the kind thoughts.

[2020-10-06 01:36] alexmitchell commented on #1219
I've done some sleuthing. While I haven't solved the issue, I have a strong suspicion of what it may be. In short, I think it is a precision issue with cython that is triggered by the small elevation changes that diffusion can easily produce on flat terrain.

I've minimized the problem even more to highlight this. Run the mwe with the following topography:
[code]
and the following code placed befo

[2020-10-06 09:03] SiccarPoint commented on #1219
This is really excellent sleuthing! Tagging @mcflugen as he probably has the best chance of just recognising this problem without a ton of work. My (albeit fairly limited) understanding is that the typing *should* be working OK here, but you're right, it really does look like a precision conflict.

[2020-10-06 09:44] SiccarPoint commented on #1219
I think I might have it. I'm struggling to pick apart the every detail of the debug process, so you should check this, but try running this branch: https://github.com/landlab/landlab/tree/SiccarPoint/fix_1219. (Because I'm messing with the cfuncs, make sure to rerun `python setup.py develop` first).

I think the problem was in declaring the type a little lower down wrongly, so we actively compared

[2020-10-06 20:36] alexmitchell commented on #1219
That seems to have solved it. The original MWE scenario also now runs without issue too. Cheers!

Amazing that all of it was caused by one word: using `float` instead of `DTYPE_FLOAT_t`. Also one I would not have caught in a very long time.

As you have the fix in a clean branch, do you want to send in the pull request? (assuming I'm using the right git terminology)

My debugging output with the f

[2020-10-06 20:58] alexmitchell commented on #1219
Also, I'm not sure what sort of tests would be appropriate to prevent this bug. Tests seem important here because data type precisions might change under the hood in the future. The test scenarios presented above are too narrow. Is there a way to assert that the Cython precision matches the Numpy precision without hardcoding a value?

[2020-10-06 22:28] gregtucker commented on #1219
Wow, fantastic sleuthing, thank you!

[2020-10-08 08:49] SiccarPoint commented on #1219
@alexmitchell We probably shouldn't test that in a general way, since as this tells us, very precise coding can get around the risk fairly easily. As long as we are aware of the risk... It's a dangerous one though.

I'ver definitely learned something about both Cython and Numpy here, so that's good!

I'll do the PR if someone else reviews and approves.

[2020-10-09 19:46] alexmitchell commented on #1219
Fair enough. It is easy to fix and can be prevented with careful programming. Plus, this issue really is only a concern for the few people developing Cython modules for Landlab, and they already know C is a fickle language that requires careful coding (once aware of what to look for). General Landlab programmers won't have to worry about it.

I've been blissfully programming in Python for too long

[2020-10-14 12:06] jonaslenz commented on #1244
From my view the implementation in landlab does not equal the equation in the paper.

I compared the landlab approach to another Green-Ampt-implementation (https://github.com/csdms-contrib/GreenAmptInfiltrationModel/). In this implementation the GA-equation is written as:

[code]
which comes much closer to the equation in the paper, only missing the "h" parameter (the ponding depth on soil surface

[2020-10-20 17:14] AlexLipp opened #1249 "Accumulating generic fields (not just runoff) using FlowAccumulator"
Hi all,

LandLab v1 had a function `find_drainage_area_and_discharge` as part of the FlowAccumulator component which allowed discharge at any point in a catchment to be calculated, given a variable runoff across the model grid.
A very helpful (possibly unintended) use for this function, which colleagues and I made use of, is that it can be used to accumulate any generic variable that enters a drai

[2020-10-20 17:48] kbarnhart commented on #1249
@AlexLipp this function still exists. Import
[code]

flow_accum_bw (bw=Braun & Willett (2012) only one flow receiver, to_n = multiple receivers)

these two submodules both contain the function you want (find_drainage_area_and_discharge).

I'm not 100% sure whether you can use them in exactly the same way in LL2, but a code example of how you used this function before would be helpful for more deta

[2020-10-20 18:20] AlexLipp commented on #1249
Hi Katy,

Thanks for this. Not sure how I managed to miss this, that's pretty embarrassing. Apologies! I will try out the functionality of the LL2 `find_drainage_area_and_discharge` function tomorrow and see if its still working as I want it to and post code snippets. When I've definitely got something up and running in LL2 I'm happy to close the comment.

I am keen to try and implement a generic

[2020-10-20 18:51] kbarnhart commented on #1249
no prob @AlexLipp glad to help.

here's how I'd approach making the generic function. I think this should all work just fine, but something might come up:

1. Modify `_accumulate_A_Q_to_one` and `_accumulate_A_Q_to_one` to take an optional final keyword argument (a string, that would be "water__unit_flux_in") such that by default what is accumulated would be self._grid.at_node["water__unit_flux_in

[2020-10-21 09:04] AlexLipp commented on #1249
Ok, yup I can confirm the function still works as intended. Will close this issue now.

Code snippet to give example of how to generate cumulative sediment flux using the `find_drainage_area_and_discharge` function below. Assumes model grid `mg` with topographic elevation defined. Additionally, we consider a field `incise` which is lowering rate defined at all nodes in model grid (which could be c

[2020-10-21 09:04] #1249 closed

[2020-10-21 17:43] kbarnhart commented on #1249
Sounds good @AlexLipp. Good luck preparing for AGU. Eventually as you move forward on generic accumulator, open an issue if you have questions or thoughts to discuss.

[2020-10-21 17:46] kbarnhart opened #1250 "Missing docs for flow routing/accumulation function"
I noticed when responding to @AlexLipp on #1249 that the docstrings for the functions located in

landlab\components\flow_accum\flow_accum_bw.py
and
landlab\components\flow_accum\flow_accum_to_n.py

are not in the sphinx docs.

[2020-10-23 18:00] kbarnhart commented on #1250
Fixed. Closing.

[2020-10-23 18:00] #1250 closed

[2020-10-23 18:00] kbarnhart commented on #1249
@AlexLipp FYI. These functions are now in the docs https://landlab.readthedocs.io/en/master/reference/components/flow_accum.html#functions-to-support-flow-accumulation

[2020-10-26 10:19] AlexLipp commented on #1249
Awesome. thanks!

[2020-10-26 22:03] NateMitchell opened #1252 "Question: River entering model domain"
Hello,

I'm trying to set up a model where one boundary is closed, but a large river enters the domain from that boundary. Specifically, I want a large amount of drainage area to appear next to the boundary, creating a large river that flows across the model domain.

I would greatly appreciate any suggestions regarding the creation of a model grid with an external source of drainage area.

Thanks,

[2020-10-26 23:23] fzeng2 opened #1253 "pytest"
![Screen Shot 2020-10-26 at 4 22 50 PM](https://user-images.githubusercontent.com/20801383/97238872-a202c580-17a7-11eb-8caf-5ef3de559f1d.png)

[2020-10-27 05:23] fzeng2 commented on #508
i have  downgraded my version of jpeg to 8.0 and 7.0, but both of them did not work.

[2020-10-27 09:38] SiccarPoint commented on #1252
Assuming you are thinking about the FlowAccumulators, you should be able to use the `water__unit_flux_in` field to set this up. Every node will be 1 (or whatever scaling you're after) in the data you pass, except some inlet node(s), where you can set the upstream drainage area you want.

I haven't tried this configuration specifically, but I suspect the node with the high input would need to be a

[2020-10-27 14:40] kbarnhart commented on #1252
@SiccarPoint's approach is what I would try. I don't know that anyone has tried such a set up, so don't know if there are any unforeseen issues that may pop up. Depending on what components you are using, you may or may encounter some numerical issues (e.g., I'd expect that FlowAccumulator would be fine, depending on the relationship between river width and grid cell width, but that OverlandFlow m

[2020-10-27 14:42] kbarnhart commented on #1247
@alderonruiner I'm not super familiar with the CA submodule (@gregtucker is the go to person). The two places I'd look to understand its functionality are:

https://landlab.readthedocs.io/en/master/user_guide/index.html#celllab-cts-user-guide
https://landlab.readthedocs.io/en/master/reference/ca/index.html

[2020-11-10 21:57] emorway-usgs opened #1256 "New functionality request: generate MODFLOW SFR input using predefined linework"
It was recently suggested on the flopy repo (a python package for MODFLOW) that landlab could be used to generate the  streamflow routing package input file for MODFLOW ([here](https://github.com/modflowpy/flopy/issues/1015)).  I asked a follow up question to that post that I'll ask again below.  In short, this request is for additional functionality that likely would help many MODFLOW users, thou

[2020-11-11 00:04] kbarnhart commented on #1256
@emorway-usgs Thanks for your inquiry. Landlab does not have this capability, though we always welcome community contributions.

In theory, it would not be difficult to read in a shapefile that represents drainage ditches and use it to modify the flow direction data structures used by components such as the Landlab FlowAccumulator. Presumably these shapefiles contain metadata that indicate the dir

[2020-11-11 20:53] gregtucker commented on #1247
@alderonruiner thanks for your interest in CellLab-CTS. When you say 3 states per cell, I'm not sure whether you mean a cell can take one of 3 possible states (which the package can definitely do), or a cell has a state in each of 3 different categories. If it's the latter, then the basic answer is no. But you could potentially get around this by creating states as combinations; so for example if

[2020-11-13 03:32] #1256 closed

[2020-11-13 16:40] gregtucker opened #1257 "Connecting components with published codes that use them"
Many Landlab components end up being used in published work that includes a source-code repository containing input files, scripts, and other data one could use to reproduce the results in the publications. However, at present we do not have a standard way to point users interested in a given component toward that material. For example, the OverlandFlow component was described in Adams et al. (201

[2020-11-13 17:02] kbarnhart commented on #1257
Awesome idea. What about adding a section to the docstrings (like the recommended publications) that links to existing zenodo archives?

One challenge is that some of these archives might be sprawling... (the recent Barnhart et al., JGR-ES ones are, for sure) and finding the drivers within the archives isn't trivial (there is a good readme in that archive though).

[2020-11-13 18:01] gregtucker commented on #1244
Thanks for sharing this comparison @jonaslenz. Have you tested these calculations against a known analytical solution? If so it would be good to incorporate the solution as a formal test of the component (and if it does not currently match the expected solution, diagnose and correct it).

[2020-11-15 07:01] jonaslenz commented on #1244
@gregtucker I'm not aware of a known analytical solution for Green-Ampt-Infiltration, which could be used as a formal test. But would be interested in such a solution.

The solution used for my comparison uses a newton solver to find the penetration depth.
For my knowledge the calculation of the penetration depth is one crucial point with all Green-Ampt implementations. Basically the infiltration

[2020-11-16 16:21] gregtucker commented on #1244
Thanks @jonaslenz. In that case it would be good to have a test case that compares the component's output with an independently verified numerical solution. I noticed that @SiccarPoint has doctests: Dan, are these based on a solution that you worked out independently?

[2020-11-16 16:27] SiccarPoint commented on #1244
No, I believe those are smoke tests to check for disruption of the code by future changes, rather than actual validation. Sorry...

[2020-11-16 16:31] gregtucker commented on #1257
I like that idea: have a "Related repositories" bit in the header docstring. Or even just list the repository under "References", for example:

References
-----------
Adams, J. M., Gasparini, N. M., Hobley, D. E., Tucker, G. E., Hutton, E. W., Nudurupati, S. S., & Istanbulluoglu, E. (2017). The Landlab v1. 0 OverlandFlow component: a Python tool for computing shallow-water flow across watersheds.

[2020-11-25 19:14] gregtucker commented on #1253
@fzeng2 is this triggered by running pytest on your local machine? If so I believe it has to do with a missing pytest utility for creating temporary files in your installation, and can be safely ignored, but pinging @mcflugen for verification.

[2020-11-25 20:32] mcflugen commented on #1253
@fzeng2 I believe @gregtucker is correct. You most likely just need to install the requirements for testing *landlab*. These requirements are listed in *requirements-testing.txt*. You can install them with,
[code]

[2020-11-30 16:50] gregtucker commented on #1252
@NateMitchell I just added a tutorial notebook that shows how to do this: https://github.com/landlab/landlab/tree/master/notebooks/tutorials/river_input_lem

I'll close this issue for now but feel free to re-open if you have other questions.

[2020-12-01 12:01] jonaslenz commented on #1244
I'm sorry that I did not spot this earlier - actually the implemented equation in landlab **does** equal the equation in the paper.

 - The term "\phi-\theta_i" equals the _moisture_deficit - expressed in code in function calc_moisture_deficit (lines 244-283)
 - divide the whole term in inner brackets by moisture deficit
 - substitutes infiltration depth ("F") with the wetting front depth ("F / _m

[2020-12-03 00:21] #1219 closed

[2020-12-03 16:34] fzeng2 commented on #1253
Thanks, solved.

[2020-12-03 17:22] #1253 closed

[2020-12-18 18:12] LornaCVC opened #1259 "Question: Windows exe installer"
I'd like to use landlab at work and my company's IT department are asking for a .exe file in order to the installation to be approved. Is one available?

[2020-12-18 18:34] kbarnhart commented on #1259
@LornaCVC thank you for your interest. No .exe is available

The following page has our install instructions: https://landlab.readthedocs.io/en/master/install/index.html

Source code compilation is described here: https://landlab.readthedocs.io/en/master/development/install/index.html#developer-install

[2021-01-05 18:28] gregtucker commented on #1244
Thanks @jonaslenz, this is good to hear. I'm going to close this issue, but if you would like to make a new issue requesting an independent test to use as a unit test (and for other implementations), or to add the time-to-ponding element, please feel free to do so.

[2021-01-05 18:28] #1244 closed

[2021-01-15 12:29] Jamie534 opened #1261 "landlab Lithology in Fastscape"
Hi,

I am currently working on a project which is going to look at the impact of spatially/ temporally varied lithology on river channels and drainage divides.
Having followed some tutorials online I can set up basic layered lithology using landlab.
I would like to model the erosion of this lithology using Fastscape proper, rather than with the Fastscape eroder within landlab. Is there a way to in

[2021-01-15 16:08] kbarnhart commented on #1261
@Jamie534 thanks for the question. Landlab's FastscapeEroder implements the Fastscape algorithm presented by [Braun and Willet (2013)](https://www.sciencedirect.com/science/article/pii/S0169555X12004618).

There presently isn't an interface set up between Landlab and the FastScape software packages (either python or Fortran implementations, or the xarray-simlab implementation, e.g., any of the sof

[2021-01-21 14:07] Jamie534 commented on #1261
Thanks Katy!
I've made some good progress with landlab - its really great to use.
I Just have a few outstanding questions which if you have any pointers on would be great.

Firstly;
How would one go about combining an imported DEM file with a litholayers component?
I have landscape evolution model running on them both separately but cannot see how I would bring them together to have a DEMs topogra

[2021-01-21 15:29] kbarnhart commented on #1261
@Jamie534 I'm not sure what you mean by:

You should be able to create a grid with a `topographic__elevation` field by importing topography from a file, and then create a Litholayers component using that grid. If your concern is that you want to create some set of structures, and don't want their thicknesses to be relative to the surface (as given by topography), but instead to be relative to some

[2021-01-22 04:00] loroberge opened #1262 "Calculating local relief or other local statistics"
I have made a utility for calculating local statistics within a moving window on a landlab grid. A useful application (and my impetus for building this) is calculating local relief from a topographic elevation field, though the utility is generalized to allow any user-input formula to be calculated from any field.

PR to follow.

[2021-01-22 16:27] Jamie534 commented on #1261
Sorry definitely should have proof read that before posting,
What I mean to say is that I am trying to create a grid with an initial topography defined by an imported DEM, underlain by a lithological structure.
As the varied lithology is exhumed I want to track how the channels are forced to evolve.

Thanks for the response, I'll see what I can put together.

Jamie

[2021-01-22 17:00] kbarnhart commented on #1261
@Jamie534 thanks for that clarification. Based on that and some thinking, I think I'd recommend the second option I've mentioned above. I don't think it would be too hard to implement, and I think it would be broadly valuable. I can't work on implementing it myself, but I'd be happy to provide guidance.

I think the way to to this would be to add one optional argument to Litholayers which would re

[2021-01-28 11:43] Jamie534 commented on #1261
@kbarnhart Thank you! I will take a look at this and see what I manage.
My project seems to have taken a slightly different turn than I originally planned but I may still need to so this.
I have another question if you have the time?
Do you have any suggestions on running a model set up with the lateral eroder component?
When running my model with litholayers and stream power eroder the output lan

[2021-01-28 13:40] kbarnhart commented on #1261
@Jamie534 I don't have any experience with the lateral eroder component. I'd recommend making a new issue and asking for help from Greg Tucker or Abby Langston, as they are the developers of that component. (fyi @gregtucker).

[2021-01-28 16:50] Jamie534 commented on #1261
@kbarnhart thank you, will do!

[2021-01-29 15:57] Jamie534 opened #1264 "Lateral Eroder Component"
Hi,

I am looking for some guidance on setting up the lateral erosion component properly to allow experimenting on how varied bedrock erodibility's influence river plan forms.
The set up I currently have does not appear to make an 'sensible' topography and I am not entirely sure why.
I have attached a copy of the code I am running (it's just a txt file with the contents copied from my jupyternoteb

[2021-01-29 22:24] gregtucker commented on #1264
Hi @Jamie534, for some reason I can't run your notebook (something about the text encoding), but I don't see anything obviously wrong with the code.

The world's expert in the lateral erosion component is Abby Langston (@alangston), and she might have some suggestions on reasonable parameter values and boundary conditions.

More generally, systematic experimentation is a always good way to develop

[2021-01-30 08:15] Jamie534 commented on #1264
Thanks @gregtucker , i'll attach a photo of the output I get after running the code I sent so you can see what is going on.
Boundary conditions are set to closed on all but the lower edge, uplift is uniform and initial topography is a flat surface with random perturbations.
What format should I attach the code in in the future so it may be run?

What I was expecting from the code is a recognisable

[2021-02-02 20:38] gregtucker commented on #1264
@Jamie534 this looks like some kind of numerical problem. Suggest doing a series of tests, starting with lateral erosion *off*, running your code to steady state to make sure you can reproduce a landscape with a drainage network. Make sure your time step size is reasonable. In theory the FastscapeEroder can handle arbitrarily large steps without going unstable, but in practice in my experience an

[2021-02-03 18:25] cctrunz opened #1265 "how to branch someone else fork?"
Dear landlab team,

I would like to fork my advisor's fork on landlab. just like you can see in this picture below, where KarstModel forked speleophysics' fork of landlab:
![image](https://user-images.githubusercontent.com/30932911/106789463-e9ef7f00-6617-11eb-8dab-970b16af2c34.png)
The issue is that when I click on fork when I am on its fork, I get the message that I already have a fork of landla

[2021-02-04 00:00] gregtucker commented on #1265
Hi Celia, I think you have a couple of options:
* Work on Matt's fork (he would have to invite you to collaborate on the repo; I don't remember the details of how to do this but it's possible), via a branch(es) of your own -- i.e., his repo would kind of be the lab's repo
* Delete your current fork and make a new one (if there's stuff in the old one you want to keep, you could do a PR to merge it

[2021-02-04 01:11] mdpiper commented on #1265
Hi, Celia! What you want are separate *remotes* of the landlab repository. I'll make an example & post it here. It's really neat (I swear).

[2021-02-04 02:24] mdpiper commented on #1265
*Remotes* (shorthand for remote repositories) are just versions of the same repository in different locations.

I've forked the landlab repository and cloned it to my computer. This means there are now three remotes I can address:

* *local* -- the repository on my machine
* *origin* -- my fork on GitHub
* *upstream* -- the landlab repo on GitHub

We can use the `git remote` subcommand to work wit

[2021-02-04 17:19] cctrunz commented on #1265
Thank you both sooo much for your quick and enthusiastic answer!

Marc, you solution works perfectly! this is exactly what I needed.

What I did is that I removed the branch I previously create and that was giving me a warning message.
Then I followed your steps and checkout the speleophysics branch I was interested in.  Because I want to work on it, I added this step that was suggested in the bas

[2021-02-04 18:44] mdpiper commented on #1265
@cctrunz Excellent! I'm glad this helped.

[2021-02-04 18:59] #1265 closed

[2021-02-07 18:29] DavidLitwin opened #1266 "Drainage density of non-raster grid"
I was just trying to use the DrainageDensity component on a HexModelGrid, and found that this is currently not possible. I looked into the code and found that `length_of_d8`  is given as an argument to the function `_calc_dists_to_channel`, which will only be applicable to RasterModelGrids. It seems like there should be a simple way to choose either `length_of_link` or `length_of_D8` depending on

[2021-02-09 21:40] gregtucker opened #1267 "pytest errors related to 'datadir'"
This is a self-fixing issue because I'm simultaneously posting the problem and the solution. I'm posting it for the benefit of others who may run into this issue:

(1) Problem: when you run the Landlab tests using pytest, you get several test failures with the message "fixture 'datadir' not found".

(2) Solution: these aren't "true" Landlab errors, but rather indicate a need to install a pytest pl

[2021-02-09 22:37] mcflugen commented on #1267
Another solution is to use the *requirements-testing.txt* file,
[code]
This might be a better solution as this file will be updated if the testing requirements change.

[2021-02-09 22:38] gregtucker commented on #1267
+1

[2021-02-17 01:50] kbarnhart opened #1271 "Issue with landlab/utils/matrix.py in compilation"
I'm updating landlab in advance of addressing this issue in terrainbento TerrainBento/terrainbento/issues/156

I ran into an unexpected issue related to a relatively new bit of cython (the spiffy matrix utils for finite volume solutions).

I'm on `master`, I've updated all the dependencies listed in the `requirements-XXX.txt` file. After running `make clean`, I get the following with
`python setup

[2021-02-17 03:55] mcflugen commented on #1271
@kbarnhart do you have cython installed in the environment in which you’ve installed Landlab? It looks like the .c file that cython would normally have created is missing.

[2021-02-17 13:25] kbarnhart commented on #1271
It was not installed... installing it fixed everything.

Should cython be listed in requirements.txt? I've never had to explicitly install it before.

[2021-02-17 16:26] mcflugen commented on #1271
We list *cython* in *pyproject.toml* as part of the *build-system*, which lists the requirements needed to build *landlab* (*numpy* is also listed because we use it in *setup.py*). That should be good enough. I just tried building *landlab* in a new environment and the extensions built without me having to manually install *cython*.

I did the following:
[code]
Is that, more-or-less, what you did

[2021-02-17 17:51] gregtucker opened #1272 "Using the Landlab notebooks"
I'm trying to get started with Landlab and have gotten to the landlab_notebooks environment using Anaconda but I cannot access any notebooks using Jupyter. If you could direct me to a help page or assist with this matter I would greatly appreciate it.

[2021-02-17 18:27] gregtucker commented on #1272
Here's my guess about what's going on:
* You probably followed the instructions for a regular (non-developer) installation of Landlab
* When you run `jupyter notebook notebooks/welcome.ipynb`, you get a message saying that there is no such file or directory
* The reason is probably that the regular installation places all the files in a special folder location that is not easy to find: the noteboo

[2021-02-17 21:53] chronictectonic commented on #1272
Thanks.

Option 1 did not work. I did not find any folders named "notebooks" in my installation (on Windows 8) and the path you provided (or anything similar) was not found to exist.

Option 2 worked.

[2021-02-18 00:06] kbarnhart commented on #1271
So I didn't start from a totally clean environment. I started from the environment I've used for the past 1-2 years for landlab dev (initially created as you say above), and then updated all the dependencies with a `conda install --file=... -c conda-forge` and going through all of the requirements*.txt files.

This environment previously didn't have any issues with cython files...

The branch pass

[2021-02-18 17:09] chronictectonic commented on #1272
I'm still having issues with this:

When I open the jupyter notebooks the input cells won't run and I get a kernel error.

I'm thinking it might be related to the organization of the directories again. I have placed the notebooks in the home directory where I run Anaconda.

The kernel error output is pasted below.
Thanks for your assistance

Traceback (most recent call last):
  File "c:\users\spa6

[2021-02-18 17:46] mcflugen commented on #1272
@chronictectonic

A couple of questions:
* Does this happen with all of the notebooks or just one or two in particular?
* It looks like you're on Windows, is that right?
* Are you able to run *any* notebooks or is it just the *landlab* notebooks?

I'll see if I can reproduce your error and how we might be able to get you up and running.

[2021-02-18 18:03] chronictectonic commented on #1272
Hi @mcflugen thanks for your response

It seems to happen with all of the _landlab_ notebooks and yes I'm on Windows.

I was able to run the FastScape demos for example just now without issue.

[2021-02-18 18:32] gregtucker commented on #1272
Note: turns out I was wrong about Option 1, in that the notebooks don't normally get added when you do a regular conda install of Landlab. They have to be downloaded separately (or else run remotely, e.g., on Binder or HydroShare or CSDMS' JupyterHub).

[2021-02-18 19:37] mcflugen commented on #1272
@chronictectonic It appears that this is an issue with the *win32api* package and *conda*. You can read more about it in the following issues: jupyter/notebook#4980 and jupyter/jupyter_core#215. There doesn't seem to be a great solution, unfortunately. There are a couple of workarounds described in those two issues, however. The most popular seems to be to run the following,
[code]

[2021-02-24 04:19] kbarnhart opened #1276 "FlowAccumulator needs to run the depression finder even if no pits are present."
Investigating TerrainBento/terrainbento/issues/156 I've found that the divide nodes get labeled as flooded, and thus, when erode_flooded_nodes is set to False, they turn into pinnacles.

This seemed pretty odd to me, until I looked at the change history of the FlowAccumulator. In #1210 I saw that re-running the depression finder only occurs when pits are present.

[code]
This was probably meant to

[2021-02-24 04:24] kbarnhart opened #1278 "Testing major version changes against Terrainbento?"
Terrainbento's test suite represents an addition set of tests of Landlab. Many of the tests are based on analytical solutions, and sometimes changes in Landlab can unexpectedly break terrainbento.

For example, many tests started to fail in Terrainbento after #1210 (see #1276, #1277 , and TerrainBento/terrainbento/issues/156)

I'd like to start a discussion about whether it is worth testing agains

[2021-02-24 14:23] sshong-23 opened #1279 "How to use FlowAccumulator to get the stream as in ArcGIS?"
Hi,
I'm trying to use landlab to simulate the hydrography in our small catchment.
The Raster that I use is created in ArcGIS.
Here is my question:
When I using this 'OverlandFlow' component,
`fa = FlowAccumulator(mg,'topographic__elevation',
                     flow_director='D8',
                     runoff_rate=None,
                     depression_finder=None)`

no matter which flow_director I

[2021-02-24 15:41] awickert commented on #1279
It looks like your DEM includes many internally drained depressions. The ArcGIS tool may be automatically flooding these to generate a continuous drainage network. If you can give Landlab the flood-filled DEM, I expect that you will obtain the same outputs. On the other hand, if the depressions are a real part of the network, you may want to use a tool like the "[Depression Hierarchy](https://gith

[2021-02-24 15:43] SiccarPoint commented on #1279
These look like legitimate depressions in your raster to me - and the accumulators don't route across depressions by default. You can either specify a depression_finder when you call the accumulator, run an instance of DepressionFinderAndRouter independently of the accumulator, or use the SinkFiller to permanently remove the depressions from your DEM. See the docs and/or the tutorials for more det

[2021-02-24 15:43] SiccarPoint commented on #1279
@awickert JINX

[2021-02-24 19:41] sshong-23 commented on #1279
@awickert @SiccarPoint
This catchment is actually an agricultural area with corns and sunflowers, there is no possibility for so many sinks. I prefer to use the flood-filled DEM. Thanks! Hope I could fix it quickly...

[2021-02-26 16:30] gregtucker commented on #1276
IIRC the idea here was to avoid running the full algorithm in LakeMapperBarnes if there was no need. LMB and friends are much faster than DepressionFinderAndRouter if pits are present, but on the other hand DFAR is lightning fast if there aren't any pits because it doesn't do anything.

[2021-02-26 17:38] kbarnhart commented on #1276
It makes sense that this would be why the pits flag was there. But checking the pits flag is insufficient to ID whether depression finding should get run again if a user uses `erode_flooded_nodes=False`

Easy, slightly better than the initial change in #1277, might be to make the logic be:
if there are no pits AND all nodes have flood status code of _UNFLOODED.

I can check whether this addresses

[2021-03-02 08:36] Amos-Zhao opened #1280 "suggestion: Uniform parameter names"
In landlab, the same physical parameter may have different name in different class e.g. mannings_n in generate_overland_flow_deAlmeida.py and roughness in generate_overland_flow_kinwave.py

[2021-03-02 19:57] gregtucker commented on #1279
Try the argument `depression_finder="DepressionFinderAndRouter"` or `depression_finder="LakeMapperBarnes"`

The first of these will route flow through depressions without changing any of the elevations (i.e., "filling"). The latter uses a faster algorithm, but if I recall correctly, it does fill the DEM by default. However, you can deactivate this through the choice of input arguments; see the doc

[2021-03-02 20:47] gregtucker commented on #1278
I think it would be a good idea, for releases (not for every Landlab PR). Ideally, anyone who modifies any of the components that TB actually uses would also test against TB. At the moment, the group of people who are likely to do this is probably small enough that we could simply send word to this group that it's a good idea to run the TB tests before merging.

[2021-03-02 23:37] kbarnhart commented on #1278
@gregtucker agreed that this should only be for releases. @mcflugen and I discussed this briefly the other day when he gave me pointers about updating the terrainbento CI.  In progress at TerrainBento/terrainbento/pull/158.

In theory once I have working github actions for the terrainbento CI this should be pretty simple to implement.

In reflecting on this a bit more, I think the other reason to

[2021-03-02 23:58] nicgaspar commented on #1279
One other thing to note ... if you plan to use an overland flow routine, rather than steady state flow, many of them only use D4 flow routing and don't work with D8. You can fill sinks for D4, but it will then for sure look different than what ARC shows you.

[2021-03-03 00:38] mcflugen commented on #1278
I think this makes a lot of sense. We should probably test as many of landlab's [dependent packages](https://github.com/landlab/landlab/network/dependents) as possible. Some others could include:
* DepuitLEM
* Compaction
* Umami
* Sequence
* Plume

I think all of those come with test suites.

We could then have a separate GitHub actions file for each of these that runs on a version tag. A question

[2021-03-03 00:56] mcflugen commented on #1280
@Amos-Zhao This is a terrific idea and something we should do.

Because changing any of the parameter names would break backward compatibility, we can't simply go through and standardize all of the names. However, we could *add* a new keyword--with the standardized name--to these components, while also keeping the old keyword. We would then have to add a check that ensures that both of the keyword

[2021-03-03 06:38] Amos-Zhao commented on #1280
@mcflugen  Thank you for seriously considering this issue.
Landlab do help me a lot when i doing my research. I believe i will learn more from this excellent work in the following days from the code and the publications.  Thanks again.

[2021-03-03 15:40] kbarnhart commented on #1278
@mcflugen I think testing against releases makes the most sense.

I also think that its worth explicitly stating the intention of these tests and what it means if a dependent package fails. Namely, the purpose of testing against the major dependent packages in order to expand tests for backwards compatibility and interaction between components. If a dependent package fails, and we identify that it

[2021-03-03 16:27] mcflugen commented on #1278
@kbarnhart Agreed. This is what I was thinking as well.

[2021-03-08 21:25] gregtucker commented on #1280
In principle, one option would be to use the CSDMS Standard Names or the (more recent) Scientific Variables Ontology (SVO). The problem, though, is that the precision of these names generally makes them way too long to be practical to use as variable or keyword argument names in source code. One solution might be to have some kind of dictionary of Landlab "short names" that are keyed to the corres

[2021-03-09 21:12] #1276 closed

[2021-03-09 21:16] kbarnhart opened #1282 "New version 2.3?"
@mcflugen I'd like to request a new version because now that #1277 has been merged (addressing #1276) I'd like to pin Terrainbento to a version that will consistently work.

I think it would be v2.3 and that the only thing to do is create a tag... but since I know that a variety of CI improvements are underway, I might let you manage this ...?

No super big rush on this... If a new version could e

[2021-03-10 17:35] peckhams commented on #1280
Hi Greg and all,
In virtually all of your source code, you can use whatever short names you
like.  When you implement BMI for your model, it is convenient to create a
Python dictionary (or similar in other languages) that maps your model's
internal (usually short) variable names or abbreviations to equivalent long
CSN or SVO names.  You can then write functions called something like
get_long_var_n

[2021-03-15 16:54] kbarnhart commented on #1282
@mcflugen wanted to check in on this and see when a next release might happen?

[2021-03-18 23:22] mcflugen commented on #1282
@kbarnhart Sorry. Other things came up but I'll try to get this done tonight or tomorrow.

[2021-03-19 18:09] kbarnhart commented on #1282
No worries @mcflugen . Thanks!

[2021-03-20 03:28] mcflugen commented on #1282
@kbarnhart I’ve created a new release (2.3.0). It’s up on PyPI and conda-forge. I just merged the pull request so you probably won’t be able to see it with conda for an hour or so.

[2021-03-22 18:49] mdpiper commented on #1271
I experienced the same issue as @kbarnhart. Here's the reproduce case:

1. Get a fresh clone of the landlab repo
[code]
2. Follow the install instructions in the README
[code]

Result: the build fails with
[code]
(Note I called `make install`, which executes `python setup.py develop`.

The fix is straightforward: either follow @mcflugen's suggestion above to build with `pip install -e .` (in which

[2021-03-29 16:23] mcflugen commented on #1271
@mdpiper We should be using *pip* to install *landlab* so that *pyproject.toml* is read and the build environment—including *cython*—is set up correctly.

I don't think we would want to add *cython* to *requirements.txt* as *cython* isn't required to run *landlab*. We could, however, add it to *requirements-dev.txt*.

[2021-03-29 16:28] mdpiper commented on #1271
@mcflugen I'll send a quick PR.

[2021-03-29 16:30] kbarnhart commented on #1271
Not 100% sure of the planned scope of your PR @mdpiper, but probably worth scrubbing `python setup.py develop` from the docs/website. I'm sure that is how I installed, and that would explain my issue.

[2021-03-29 16:34] mdpiper commented on #1271
@kbarnhart Yup, that's what I'm thinking! (See upthread)

[2021-03-29 16:35] mcflugen commented on #1271
@mdpiper In your PR would you please give the entire README a quick read and edit as necessary? For instance, I noticed it says something about Python 3.8 support is coming soon! Also, backslashes instead of slashes for path names?! What?!

[2021-03-29 16:38] mdpiper commented on #1271
@mcflugen You betcha. I'll also scrub landscape.io.

[2021-03-30 15:23] #1261 closed

[2021-03-30 15:23] #1264 closed

[2021-03-30 16:56] mdpiper commented on #45
Landlab has moved to `pytest` for testing, so `nose` is no longer a requirement.

[2021-03-30 16:56] #45 closed

[2021-03-30 17:01] mdpiper commented on #49
Verified that the public functions in the imshow module have complete docstrings.

[2021-03-30 17:01] #49 closed

[2021-03-30 17:06] #54 closed, assigned to nobody

[2021-03-30 17:10] mdpiper commented on #75
With #1270, Landlab is using GitHub Actions for continuous integration testing, including on macOS.

[2021-03-30 17:10] #75 closed

[2021-03-30 17:22] mdpiper commented on #133
Verified that docs are passing.

[2021-03-30 17:22] #133 closed

[2021-03-30 17:25] mdpiper commented on #184
With #1270, Landlab uses GitHub Actions for continuous integration.

[2021-03-30 17:25] #184 closed

[2021-03-30 18:16] mdpiper commented on #342
Fixed -- [Landlab model page](https://csdms.colorado.edu/wiki/Model:Landlab) now states MIT License.

[2021-03-30 18:16] #342 closed

[2021-03-30 18:24] mdpiper commented on #508
Verified that all Landlab tests are currently passing on Windows.

[2021-03-30 18:24] #508 closed

[2021-03-31 20:33] #1271 closed

[2021-04-26 22:22] mdpiper opened #1289 "Include docs requirements in dev environment"
This is a request to add `requirements-docs.txt` to `environment-dev.yml`.

While using the dev environment to work with the LL source, I wanted to update corresponding documentation. I was surprised when the docs didn't build because sphinx wasn't installed in the environment.

[2021-04-26 22:23] mdpiper commented on #1289
(Give me the 👍 and I can quickly fix this.)

[2021-04-26 22:33] gregtucker commented on #1289
👍

[2021-04-27 21:15] #1289 closed

[2021-05-14 08:58] SiccarPoint opened #1293 "grid type testing 1 - Voronoi grids"
Since (I think) the switch onto the graph structures, we have some unexpected behaviour related to the grid types. Formerly,
Hex and Radial were subclasses of VoronoiDelaunayGrid, and on this basis in several places we had type testing that looked like this:
[code]
or sometimes simply:
[code]

But, now we have this - to me very counterintuitive - typing:
[code]
Have I missed a grid method (@mcflug

[2021-05-14 09:01] SiccarPoint opened #1294 "grid type testing 2 - NetworkModelGrid"
As noted in #1293, now that we have a NetworkModelGrid the lazy logic that many components use:
[code]
Is no longer adequate for grid type testing - we will get weird fails if Networks are supplied to these. The reason is that this test is always in effect asking "are the patches square or triangles", and now we have a third case, "there are no patches".

There should be explicit tests on our comp

[2021-05-14 21:04] kbarnhart commented on #1293
@SiccarPoint - Just got back from some fieldwork, so may be middle/end of next week before I am able to actually read this issue (and #1294) carefully. Will respond then. Thx.

[2021-05-19 21:06] kbarnhart commented on #1293
@SiccarPoint I've now read this, good catch. @mcflugen is definitely the person who would know what grid attribute should get used for this. Once he weighs in on what it should be, I'm can help make some of the relevant component changes.

[2021-05-19 21:07] kbarnhart commented on #1293
Also right now is the annual meeting, so these mentions might get lost in the shuffle for @mcflugen.

[2021-05-25 08:04] pohleric opened #1295 "Question: Method to re-distribute instantaneously mass/volume to other nodes using flow accumulation"
Hello, I am wondering about how to most efficiently distribute “fluxes/values” (calculated using a simple empirical equation on node values) to downstream nodes. I have sometimes multiple downstream nodes (obtained with FlowAccumulator). I want to avoid looping through my receiver nodes (mg.at_node['flow__receiver_node']) as it is quite slow. However, I cannot wrap my head around on how to use the

[2021-05-25 08:18] SiccarPoint commented on #1295
I'm not quite sure I follow the details, but take a look at the LossyFlowAccumulator. Despite the name, it can also perform additions to flow on the fly, and you don't have to be accumulating discharge per se. Come back if that doesn't look helpful.

[2021-05-25 10:37] SiccarPoint opened #1296 "plotting masked arrays"
Somewhere along the line, we lost the ability to pass a masked array to `imshow_grid_at_node`. Easy fix.

[2021-05-25 16:21] mcflugen commented on #1293
@SiccarPoint Now that things have calmed down a bit here, I'll have a look at this today.

[2021-05-26 16:16] mcflugen commented on #1293
@SiccarPoint, @kbarnhart For code that really wants to know if "patches are triangles", I think the best thing right now would be to do the following,
[code]
Note, though, that this would only work for triangles. Because the rows of *nodes_at_patch* are padded with *-1*s, for a grid that contains triangles and squares, the following would not work as you might expect,
[code]
Instead, we should add

[2021-05-27 07:38] SiccarPoint commented on #1293
This sounds promising to me!

[2021-05-27 15:42] mcflugen commented on #1293
Ok. I'll open a pull request that starts to make these changes. I suspect I will need input from both of you, @SiccarPoint and @kbarnhart as I'll be making changes to code that I'm not familiar with (but that I think you are).

[2021-05-27 15:56] SiccarPoint opened #1298 "find_nearest_node on generic grid"
`find_nearest_node` only exists for rasters. It should be generalised.

[2021-05-27 23:38] kbarnhart commented on #1295
I also don't quite follow the above, but between the flow accumulator and the lossy flow accumulator you can do a ton of different things. For example, if you know what you want to accumulate _before_ you run the flow accumulator, you can set a spatially variable runoff rate that is accumulated. You can do this even if what you want to accumulate isn't technically a runoff rate, but just something

[2021-05-27 23:39] kbarnhart commented on #1293
@mcflugen your plans make sense to me.

A heads up: I will try and provide timely comments/input... but a warning that it'll be hard for me to provide in-depth comments in the near term. Surficial comments will be easier....

[2021-05-30 04:31] mcflugen commented on #1293
@kbarnhart no problem.

I'm on vacation until next weekend so won't get to this until then at the earliest.

[2021-06-02 13:22] pohleric commented on #1295
Thanks for your responses. I looked into the LossyFA and FA and tried using either runoff_rate or/and loss_function to achieve what I want. The results are, however, not what I was looking for.

I try to explain again what I am after, and why I feel this is not what I get from the FA and LossyFA.

I want to model the slow drainage of “groundwater” as it is represented in another simple model. Ther

[2021-06-02 14:17] SiccarPoint commented on #1295
Hi Eric,
My brain is feeling very sluggish, but thanks for this additional info. I think the LossyFA is going to do what you're after - it's just quite, uh, "concisely" documented. Here's an example fairly close from the docs:
[code]
i.e., note that you can quite happily stick whatever you like in the loss function; I believe (though you would want to check) that you can even arbitrarily mess abou

[2021-06-16 14:41] scho-GitHub opened #1303 "Network sediment transport"
NetworkSedimentTransporter command results in ValueError as follows (all variables and parameters were defined before executing)

nst = NetworkSedimentTransporter(
    grid,
    parcels,
    fd,
    bed_porosity=0.3,
    g=9.81,
    fluid_density=1000,
    transport_method="WilcockCrowe",
)

---------------------------------------------------------------------------
ValueError

[2021-06-16 15:49] shelbyahrendt commented on #1303
Adding to this issue: I also receive this error any time the NetworkSedimentTransporter is instantiated. This error was raised after I updated the landlab package using conda (for the first time in ~6 months) and am running the NST model in the landlab_notebooks environment. It does not happen when I run the notebook in the landlab_dev environment.

From preliminary error investigation, it seems l

[2021-06-16 16:37] shelbyahrendt commented on #1303
Possible fix: rolling back xarray to version 0.16.2 removes this error.

[2021-06-16 16:42] mcflugen commented on #1303
#1300 fixes this issue. @shelbyahrendt would you be able to give it a quick review and make sure the NST still works as you expect?

[2021-06-16 18:10] kbarnhart commented on #1303
🎉 @mcflugen thanks for fixing this. And thanks @scho-GitHub for bring it up.

[2021-06-16 18:15] shelbyahrendt commented on #1303
@mcflugen I just ran the NST tutorial: '`landlab/notebooks/tutorials/network_sediment_transporter/network_sediment_transporter.ipynb`' within your branch of landlab '`mcflugen/fix-xarray-axis-keyword`' using the landlab_notebooks environment and still received the same error. The error disappears if I run your branch modifications using the landlab_dev environment with the lower version of xarray.

[2021-06-16 18:50] mdpiper commented on #1303
I followed the same process as @shelbyahrendt & I also got the error from `xarray`.

[2021-06-16 20:10] mdpiper commented on #1303
I'm sorry--this is my bad (my brain is fried). I forgot to uninstall LL and rebuilt it from source within the branch. The notebook now runs to completion.

[2021-06-18 04:08] keckje opened #1304 "ChannelProfiler throws error when using multiple flow directions"
If a multiple flow director is used to establish the raster model grid receiving node field (landlab version: 2.3.1.dev0), the following error occurs:

  File "c:\users\keckj\documents\github\landlab\landlab\components\profiler\channel_profiler.py", line 660, in _get_channel_segment
    if (recieving_node != j) and (j not in self._outlet_nodes):

ValueError: The truth value of an array with more t

[2021-06-22 18:43] scdobbs opened #1305 "benchmarking landlab models"
Hi there,

I was curious if there are any ways to bench mark landscape evolution models in landlab. I've been running some large, high-resolution models that i've had to start all the way over a couple of times because the computers i am working on needed to be rebooted. It would be great if I could have save points while the model is running in case this happens again.

Thanks for any help,
Steve

[2021-06-22 23:46] kbarnhart commented on #1305
@scdobbs this feature is not formally implemented in landlab. There are a couple of ways you might go about saving the model grid information, but to accomplish this you'll also need to save and re-build the components. If you use components that use random number generation you'll need to be careful to re-set them correctly.

You could then re-start simulation using the re-built grid and componen

[2021-06-22 23:46] kbarnhart commented on #1304
@keckje thanks for pointing this out.

@mcflugen any bandwidth to handle this?

[2021-06-23 16:54] gregtucker commented on #1304
Just FYI, I am slowly working on an adaptation to the multi-direction flow directors / accumulator that will preserve the data structures used in the single-direction routers as the steepest of the multiple directions, using different field names for the "multiples" (e.g., flow__receiver node for the single steepest direction versus flow__receiver_nodes for all the down-slope directions). I doubt

[2021-06-23 16:56] gregtucker commented on #1305
@scdobbs the way I handle this is to use the `save_grid` function, which saves a model grid and all its fields. The grid and fields can be re-loaded via `load_grid`.

`from landlab.io.native_landlab import save_grid, load_grid`

[2021-06-23 17:58] scdobbs commented on #1305
thank you both for these suggestions, I will try it out! -steve

[2021-06-24 00:46] keckje commented on #1304
Thanks for doing that. I have been running into that conflict when I run the multiple-direction flow director for one component and then use a function that relies on the flow__receiver_node field from a single-direction flow director....my work-around is a function that deletes the flow director fields and re-runs the flow director needed for the component or function.

[2021-07-02 10:41] SiccarPoint opened #1310 "imshow_grid interactive interface: query_grid_on_button_press"
There is an issue with the imshow_grid interactive interface (which is cool btw!). It would appear the issue is in `query_grid_on_button_press`:

[code]

[2021-07-20 00:14] gehilley commented on #1305
Hi @kbarnhart and @gregtucker - The request by @scdobbs stems from the fact that we are being migrated to the University's HPC system, where SLURM places a maximum duration on requested resources.  Thus, we need a way to checkpoint the models, since they cannot be guaranteed to finish within the maximum duration restriction for a particular job.

The load_grid function successfully loads the Model

[2021-07-20 00:40] kbarnhart commented on #1305
@gehilley this is a really interesting use case, and one that I agree would be good to have a flexible solution for. I will think on it (as I'm sure the others will too). Going to tag @mcflugen as I think addressing this will need his input.

[2021-07-20 17:47] gregtucker commented on #1305
Thanks @gehilley! I've actually written checkpointing functions in two numerical models (back in the last millennium), so I'm familiar with the basic problem. But Landlab, being a programming library rather than a single numerical model, presents some extra complications.

One way to handle this would be at the "model" level rather than the grid or component level. We really ought to have a generi

[2021-07-20 18:28] gehilley commented on #1305
@gregtucker - I think that bundling the information into a Model (or derived therein) class makes a lot of sense.  One could then make a class method like "load" and an instance method like "save" to unfreeze and freeze a model.

Another benefit of this approach might be that it could allow one to attach different solvers to the Model.  If one had a subclass of Component (e.g., ModelComponent) tha

[2021-07-22 18:19] kbarnhart commented on #1305
I support the idea to create a Model class. I think its the correct approach to this issue for the following reasons. Lets say you have a model driver, implementing a model... what exactly is it that is being "benchmarked"? Well, its the grid, the components, and their relationships (both pointers between them and statements about relative component run order). In addition things that need archivi

[2021-07-23 23:17] gregtucker commented on #1305
I haven't used or studied xarray-simlab. But with that caveat in mind, if I were to develop a prototype restart-file (checkpoint) capability, here's what I'd be thinking about:

- Make "restart from a previous run" look as similar as possible to "start a new run". You specify parameter values the same way, and specify grid setup the same way.

- A key difference of restart is that you would also r

[2021-07-24 13:31] benbovy commented on #1305
Thanks for pinging me @kbarnhart, this is an interesting discussion.

I've been thinking multiple times on how best landlab and xarray-simlab could be integrated together. I'd be very happy to provide assistance on any effort towards this.

I think that xarray-simlab already provides most of the features needed to perform checkpointing in an efficient way like described by @gregtucker:

- It uses

[2021-07-30 18:31] hjgray10 opened #1318 "issue with load_grid()?"
Hi all,

I accidentally updated my landlab install when installing/updating a conda package for another project. Now when my code executes load_grid(), I get the following error:

Traceback (most recent call last):

  File "C:\Users\hgray\OneDrive - DOI\Gray_PortaOSL-ColluvialWedges\Manuscript\LongForm\Figures\Soil Sensititivity\Finalized Results2\CW_Model_V5_graphing_V2.py", line 225, in <module>

[2021-08-02 11:06] SiccarPoint opened #1319 "Broken test in Datarecord"
I assume this is related to a version update in xarray itself, as it just magically appeared in our codebase without any changes to the file. Looks like a simple formatting thing that I will now fix myself.
[code]

[2021-08-02 11:48] SiccarPoint commented on #1318
Hi Harrison! As a short-term fix, you should be able to roll back your LL version in both `pip` and `conda` by specifying it in update/upgrade. Though, if you don't know when you last updated/what the version was, some trial and error may be needed to figure the version out. You may also be able to persuade your package manager to tell you what it did, but I'm not sure if you can/how.

`pickle` is

[2021-08-02 11:49] SiccarPoint opened #1320 ">1.6 million warnings is too many"
Most of this is np.int and np.float warnings. Easy fixes.

[2021-08-02 12:31] Joeperdefloep commented on #1305
Hi, @benbovy thanks for tagging me!

Yes, integrating Landlab and xarray-simlab is a great idea! I've been looking at it quite a bit.

Would indeed be great (and easier) if I could work off of my own dev branch of xarray that can update variables as @benbovy explained in his post. I'm just a bit afraid of everything changing during review and then breaking things in my efforts

[2021-08-02 13:39] #1319 closed

[2021-08-03 08:04] SiccarPoint opened #1324 "Changing the way black works...?"
Hi all,

Having spent some recent time developing again, I've found some of the CI changes pretty hostile. In particular, `black` is _really_ frustrating to have to implement at the user end. It produces fairly hard-to-read errors, and no guidance on how to fix these anything other than manually. Waiting several minutes for tests to initiate, expecting to wait ~20, only to find they crashed out wi

[2021-08-05 00:19] kbarnhart commented on #1324
@SiccarPoint I'm glad you brought this up.

One thing I thought a bit about while doing some pre-2.0 work was how we would enforce these standards, and how long we'd be able to manage it...

I know many people who use pre-commit black hooks to do enforce that they always run black and a linter and can't commit unless they pass... but that then requires people configure those capabilities... which

[2021-08-05 00:21] kbarnhart commented on #1324
Also perhaps updating the pages describing style enforcement

https://landlab.readthedocs.io/en/master/development/practices/style_conventions.html

But I like your point @SiccarPoint about printing a useful error message.

[2021-08-05 04:30] mcflugen commented on #1324
@SiccarPoint @kbarnhart How about setting up a pre-commit hook? It's something I've done with other projects and seems to work pretty well. Once set up, every time you make a commit, your pre-commit hooks—which could include *black* or *flake8*—will run. If you have *black* set up to run and there is a problem with a file, *black* will automatically be run on the non-conforming file and fix it.

T

[2021-08-09 23:59] kbarnhart commented on #1324
I think these would be a great start! Honestly, the real reason I never got around to actually implementing pre-commit hooks was because I didn't want to spend the few minutes necessary to configure them... 🤷‍♀️

[2021-08-12 20:26] valpedro opened #1325 "Litholayer: slows down during model run"
Dear Landlab developers,

Thanks a lot for making LEMs more accessible and developing such an amazing tool. My knowledge of python and Landlab is not deep, so please keep that in mind as I describe my issue.

I'm beginning to use the Litholayers component on some of my research.

I've been modeling the exhumation of a 5-km band of resistant lithology at the middle to lower reach of a south-flowing

[2021-08-12 20:27] hjgray10 commented on #1318
Awesome. Ok Thanks!!! I was able to do the rollback, but had issues with something deep trying to import from __future__ when I think it was already released and thus not in __future__ anymore (ha!).

Luckily, I had the prior landlab version installed on a laptop and was able to import the native files  and rewrite them as netcdf. Thanks anyway for the help!

[2021-08-12 20:27] #1318 closed

[2021-08-12 21:32] hjgray10 opened #1326 "Add HexModelGrid functionality to read_netcdf and write_netcdf"
Hi all,

Hopefully self explanatory – would it be possible to add HexModelGrid and/or irregular grid support for the I/O of netcdf files? It seems at the moment to only apply to RasterModelGrids? I am wondering about how reproducible a landlab user's results may be if a specific landlab version is needed to read grids via pickle files.

Thanks as always!!!

[2021-08-16 15:33] kbarnhart commented on #1325
@valpedro could you attach a .py file that doesn't have any external dependencies (e.g., doesn't require another file with input data) that shows these issues? I can take a look at that.

[2021-08-16 15:40] kbarnhart commented on #1326
@hjgray10 I think this is a question for @mcflugen and I'm pretty sure this exists, but isn't reflected in the docs.

Namely @mcflugen wrote `landlab.io.netcdf.load.from_netcdf` and `landlab.io.netcdf.dump.to_netcdf` that uses the xarray capabilities the grid now relies on to manage reading and writing netcdfs.

See the functions inside of dump.py and load.py here: https://github.com/landlab/landl

[2021-08-16 16:18] hjgray10 commented on #1326
Gotcha. I only opened this enchancement request because I was getting errors trying to load my HexModelGrid netCDFs. The error and code raising it (if I can recall) seemed to be checking if the netCDF file was a RasterModelGrid. Fully possible I was just misunderstanding it.

[2021-08-16 20:03] valpedro commented on #1325
Hi @kbarnhart
I'm glad you can take a look.
I'm attaching the .py file as .txt (github doesn't let me upload a .py file for some reason) without any external dependencies.
It is not exactly as I said in the first description (e.g. it's a lower resolution and does not use any input grid), but the slow down still happens. As configured, the spatially variable lithology is 4 km deep so until that amo

[2021-08-18 03:09] martin-phys opened #1327 "erosionDeposition model parameters"
Hello,

I am running some simple sediment erosion models for a class project using the 'erosionDeposition' landlab component. My model seems to be working properly, but I am not very confident in my understanding of the different variables, particularly the ranges of values that one can choose for the following parameters:

K (float, field name, or array) – Erodibility for substrate (units vary).

[2021-08-18 13:36] kbarnhart commented on #1325
will take a look, thanks for adding that example @valpedro

it may be next week when I get to it.

[2021-08-20 20:49] kbarnhart commented on #1325
@valpedro a couple of early comments. Still playing around with this, and haven't yet run the model until the point where the resistant layer is exhumed... But I thought I'd let you know a few things I noticed:

1. For this application you probably want to use MaterialLayers instead of EventLayers as the basis for the LithoLayers component. Every time you erode with EventLayers you create a layer

[2021-08-21 00:09] kbarnhart commented on #1325
OK. A few more things that may or may not solve your problem, but may be of interest.

I suspect that your original slowdown was due to using an EventLayer object to store the layers. This is why the RAM continues to grow.

When I re-implement this with MaterialLayers, each timestep takes about 0.1 second on my computer, until the resistant layer emerges. RAM is stable. Once the resistant layer em

[2021-08-21 00:11] kbarnhart commented on #1325
And this is my current working version of your example (thanks!). The major modifications I've made to play around with it are
1. exhume the resistant layer sooner
2. make the grid smaller in the x direction
3. change to material layers
4. use the profiler tools
5. use a depression finder.

[code]

[2021-08-23 12:03] valpedro commented on #1325
Hi @kbarnhart, thanks so so much for your time and feedback. I did not know of these distinctions of Material vs Event layers, thanks for pointing it out. Will MaterialLayers still work if I want to model dipping layers (i.e. the resistant lithology dips southward)?

I'm now going to play around with what you suggested (and your working version) and let you know how it goes. Probably will be back

[2021-08-23 14:53] kbarnhart commented on #1325
@valpedro both Material and Event layers are equally capable of modeling dipping layers. Event layers was originally designed by @mcflugen for chronostratigraphy applications. This means that if you run `lith3.run_one_step()` and no deposition/erosion occurs a new layer of zeros will be added to the layer object, reflecting the timestep with no change. This means that if you have a domain that is

[2021-08-23 15:11] valpedro commented on #1325
Hi @kbarnhart, this absolutely helps and I'm reassessing my approach based on your feedback. Thank you once again.

I'm playing around with your suggestions and it all worked well so I tried increasing the resolution back to my original plans (i.e. RasterModelGrid((500, 500), 200) ) and hit another memory problem. I get the attached error:
![error_msg](https://user-images.githubusercontent.com/600

[2021-08-24 14:29] SiccarPoint opened #1328 "New Github citing system"
Add a CITATION.cff to help people cite Landlab through Github, per:

https://www.software.ac.uk/news/research-software-now-easy-cite-github

[2021-08-24 15:32] kbarnhart commented on #1325
@valpedro that is a general python error indicating that you've asked python to allocate an array that is larger than your RAM, in this case 466 GB. I will admit I'm a little surprised by this error because I'd expect it to only need an array of shape (250000,) at this point. I don't have time to dig into this today, but will try to look into it sometime this week.

Another thought you might consi

[2021-08-24 22:10] valpedro commented on #1325
The memory issue happens when I try to initiate litholayers using the MaterialLayers option. It does not happen if I use the other option, i.e. lith3 = LithoLayers(mg3, [1], [0], attrs=attrs).

I tested what grid size LithoLayers can handle using the MaterialLayers option. It varies by computer (less RAM, smaller grid) and as I get closer to the grid size limit of the computer (say... RasterModelG

[2021-08-24 22:16] valpedro commented on #1325
About updating litholayers only every 10 timesteps. This suggestion might do it! I think you're right, with the low advection rates I'm using, I think 10 timesteps is okay.

I went back to using EventLayers (since I was able to generate larger grids with it) and updating every 10 timesteps does not consume the RAM too quickly and allows me to reach longer timescales before running out of RAM, plus

[2021-08-28 02:49] martin-phys commented on #1327
Thanks for the information! I will look into these references for ideas.

[2021-08-28 02:49] #1327 closed

[2021-08-28 03:37] martin-phys opened #1329 "erosionDeposition model with stationary object"
Hello,

I am working on creating a model of the erosion pattern of loose sediment around a fixed stationary object using landlab. For this, I have modeled the stationary object as a grouping of closed core nodes and utilized the landlab component 'erosionDeposition'.  Here is the code that I am using:

[erosionTest.txt](https://github.com/landlab/landlab/files/7070072/erosionTest.txt)

My intuitio

[2021-08-30 16:29] gregtucker commented on #1329
Did you add a small amount of random noise to the initial terrain? In my experience, without such noise, tiny variations in elevation values due to binary truncation / round-off can sometimes lead to patterns like this when you use D8 flow routing.

It might also be interesting to explore more realistic flow routing for your case of erosion around an object. Some options are:

- Use a multi-direct

[2021-09-02 00:53] martin-phys commented on #1329
Thank you very much for the feedback! I will try out these suggestions!

[2021-09-02 06:24] martin-phys commented on #1329
Hello,

I have tried using both of the two suggested flow directors, FlowDirectorDinf and FlowDirectorMFD, and each time I try to run the code I get the following error message:

A route-to-multiple flow director has been run on this grid. The landlab development team has not verified that ErosionDeposition is compatible with route-to-multiple methods. Please open a GitHub Issue to start this proc

[2021-09-02 19:52] gregtucker commented on #1329
Oh of course, my mistake! I had forgotten that the single-direction erosion components like ErosionDeposition do not currently work with the multi-direction flow routers. This is something I've been working on, and your message will prompt me to pop it up a few levels in the priority queue...

The problem is that `ErosionDeposition` expects a field called `TopographicSteepestSlope` that contains,

[2021-09-03 21:34] slundell123 opened #1330 "Developer install from source problem"
Hello,

I am working on adding a component to landlab and have been having issues installing my forked branch from source. The error I am getting happens when I try to create the conda environment.

[code]

Any advice on if this is a problem with my local environment or one of the install files?

I am running python 3.6.9

Thanks,
Sarah

[2021-09-03 21:40] gregtucker commented on #1330
Have you tried running this with `sudo`, i.e., `sudo conda env update --file=environment-dev.yml`?

[2021-09-03 21:42] slundell123 commented on #1330
Yes, I have. The following is the output:
[code]

[2021-09-07 08:33] SiccarPoint opened #1332 "Black pre-commit hooks"
Per #1324, add a pre-commit config file, .pre-commit-config.yaml.

[2021-09-07 08:34] SiccarPoint opened #1333 "Pull request template"
Per #1324, add a pull request template.

[2021-09-07 08:34] #1324 closed

[2021-09-07 08:35] SiccarPoint commented on #1324
Closed pending re-assessment once we have @mcflugen's recommended short term bits and pieces (new issues).

[2021-09-07 08:53] SiccarPoint commented on #1330
Hi Sarah - that last error looks suspiciously like a non-Landlab system setup problem to me. Couple of ideas:

1. Update conda just in case. This at least might provide more clarity on what's going on.
2. As the error recommends, check the permissions on that pip folder, and its parents. `ls -l` for the ouput you need, and look at the left-hand column. Assuming you have admin rights on your machin

[2021-09-07 17:35] mcflugen commented on #1330
@slundell123 I believe the problem is that the newest versions of *pip* don't like our *environment-dev.yml* file—in particular, the `file:<relative_path>` part. *pip* now expects *file:* followed by an absolute path or just a relative path without the *file:* prefix. Try changing your *environment-dev.yml* file to look like,

[code]

We'll update our environment files to fix this but, in the mean

[2021-09-07 18:44] kbarnhart opened #1334 "Run documentation build check on PRs"
@mcflugen it doesn't look like we are enforcing documentation checks on all PRs...

Maybe there is something I'm missing in the github action logic, but I don't see it in some of the more recent PRs.

I don't think there are too many issues that have accumulated (I've just addressed a few in a forthcoming PR I'm making associated with an independent thing)... but I do think it makes sense to enfor

[2021-09-07 19:08] kbarnhart commented on #1334
Also it seems like the linkcheck_ignore list in conf.py is no longer used... I'll admit I'm not sure how to bring it back correctly.

[2021-09-07 23:04] slundell123 commented on #1330
@mcflugen That worked. Thank you!

[2021-09-08 21:32] mcflugen commented on #1334
@kbarnhart I've turned *linkcheck* back on in #1336. The *linkcheck_ignore* list is now used when GitHub Actions is doing the build. In the past, there were some links that appeared to be broken (but weren't) when run on Travis but I don't know if that's the case with the new build system and so maybe this list isn't even needed.

The documentation checks are only run when certain files are modifi

[2021-09-08 22:33] kbarnhart commented on #1334
@mcflugen I think it should get turned back on... Because most of the content of the documentation isn't in the docs folder, its in the docstrings. If we could put the logic on that... cool... but thats internal to a file, not by-file.

After a few of the changes I made in #1335 the docs build without warnings (and warnings are usually formatting issues, and formatting issues often substantially i

[2021-09-09 19:01] mcflugen commented on #1334
@kbarnhart agree 100%. It was a mistake to turn them off as, I would guess, most errors come from docstrings.

[2021-09-09 19:04] mcflugen commented on #1334
The reverse might make sense though? That is, don't run the full test suite if only documentation files have been modified.

[2021-09-09 19:27] kbarnhart commented on #1334
I don't think so, since many of our components are primarily tested through docstring examples....

[2021-09-13 19:20] #1334 closed

[2021-09-14 03:08] martin-phys commented on #1329
Thank you very much for the information! I have tried some of the suggestions but am still getting some strange results.

I have tried to implement the detachment limited erosion component in a few different ways:

First, with just using the water flux in from the left along with the MFD flow director and here is the result,
![DLE_MFD02](https://user-images.githubusercontent.com/89116748/133185425

[2021-09-14 17:01] #1330 closed

[2021-09-14 21:55] #1332 closed

[2021-09-14 21:57] mcflugen commented on #1320
Closed with #1323.

[2021-09-14 21:57] #1320 closed

[2021-09-16 19:30] DavidLitwin opened #1341 "Flow director issue when providing LakeMapperBarnes to FlowAccumulator"
Until recently, I was able to provide a string or instantiated class of LakeMapperBarnes to a FlowAccumulator where I have also specified that the flow_director should be 'D8'. Since recent pull requests to master (I'm not sure which one, I'm sorry!) I receive an error saying that there is an incompatibility because the depression finder method is D4. Of course LakeMapperBarnese has a D8 option, b

[2021-09-16 20:02] gregtucker commented on #1341
@DavidLitwin this was a modification I wrote to handle an error-detection problem in `FlowAccumulator` (it had been written assuming the user passed a `DepressionFinderAndRouter`, and that sometimes caused it to raise inappropriate errors when using `LakeMapperBarnes` instead).

You are correct, `LakeMapperBarnes` defaults to D4.

The fix for your code above is easy: just add the `LakeMapperBarnes

[2021-09-16 20:56] DavidLitwin commented on #1341
Ah this is great. I didn't realize I could provide method like that. Thanks!

[2021-09-16 20:56] #1341 closed

[2021-09-20 16:50] gregtucker commented on #1329
@martin-phys I think you are discovering some interesting frontiers in the numerical modeling of coupled overland flow hydrodynamics and erosion on small spatial scales! My first reaction to the question about diffusion is that it is capturing some real effects, albeit in kind of a heuristic way, that have to do with the diffusion of fluid momentum and suspended sediment.

I suspect that part of w

[2021-10-02 15:13] gregtucker opened #1348 "The HackCalculator component lists an output field that is not actually created"
The header for `HackCalculator` includes this output field:

[code]

but this field does not appear to be actually created.

[2021-10-09 22:59] josh-wolpert opened #1352 "lateral_erosion component not resetting and division by zero error"
Hello,

I'm using the lateral_erosion component, and I've noticed pits developing after a node meets the condition for a lateral erosion event. I think self._dzlat needs to be reset each time run_one_step is called. Since self._dzlat doesn't reset, once a node experiences lateral erosion, it will continue to erode by lateral erosion at every subsequent timestep. Below is the relevant code from the

[2021-10-11 17:13] gregtucker commented on #1352
@josh-wolpert thank you for posting this issue and submitting a PR that fixes it!

[2021-10-27 16:55] #1352 closed, assigned to nobody

[2021-11-03 22:28] alexmitchell opened #1358 "Including field units with create_grid"
I can't figure out how to include field units when creating a grid from a dictionary using landlab's `create_grid` function. Here is the minimum code to show the issue:
[code]
The output will be:
`{'topographic__elevation': '?'}`

I want to add information about the units (e.g. `"units" : "m"`) somewhere within the `"topographic__elevation"` dictionary. However the `"topographic__elevation"` dicti

[2021-11-03 22:53] mcflugen commented on #1358
@alexmitchell Thank you for this. You are correct, you cannot set a field's units when using the `create_grid` function. I believe this is just an oversight and it should be easy to add that functionality. Using your example, I think the dictionary would look something like the following,
[code]
The only difference in what you had is that here the units are included in the keywords for the *consta

[2021-11-03 23:53] alexmitchell commented on #1358
Thanks!

Adding it to the synthetic function makes sense too. The only (minor) hangups I had about that was 1) that you'd have to change all the synthetic functions and 2) that people are supposed to be able to use multiple synthetic functions at the same time (e.g. a plane with some randomness added) so they might define the units for one and not the others in no particular order. I figured it wo

[2021-11-04 03:49] mcflugen commented on #1358
@alexmitchell Actually, I think I like your idea better.

[2021-11-11 19:25] loroberge opened #1361 "Issues coupling SPACE and hillslope components"
Hi,
I have come across a few problems while attempting to couple SPACE with hillslope diffusion components. I've done a deep dive, so there are several things here... I am happy to open these as separate issues if preferred.

1.	Sediment flux is mapped to different grid elements and fields in different components:

- SPACE: _"sediment__flux"_ at **nodes**
- LinearDiffuser: _"hillslope_sediment__un

[2021-11-12 14:35] gregtucker commented on #1361
@loroberge thanks posting these questions. Here are a few quick thoughts:

1. We should be more consistent with naming among the soil creep components. The mapping to elements reflects differences in numerical solution: LinearDiffuser and TaylorNonlinearDiffuser track flux along links, whereas SPACE tracks it along flow paths (which are a subset of links, and may include diagonals on a raster) and

[2021-11-18 14:51] Xahannist opened #1363 "Sinkfiller takes too long and crashes"
Hello,

So I have been trying to get a flow accumulation grid of my DEM but wanted to use the sink filler function beforehand. When I run the sinkfiller function, it takes an extremely long time to the point where the Kernel will die before giving out an output or finishing the process. The Kernel usually dies when `sf.run_one_step()` is run for a while. I am working on Jupyter Notebooks using pyt

[2021-11-18 15:01] SiccarPoint commented on #1363
Sounds like you want `SinkFillerBarnes` rather than `SinkFiller`. The Barnes version is massively more scalable for big grids, but has a large fixed time overhead to run. So if you're only running it once at the start of a model, use that. `SinkFiller` is superior if you need to run the filler over and over again, and you only have a few pits in your DEM that you need to fill each time.

You shoul

[2021-11-18 15:35] gregtucker commented on #1363
Also note that @BCampforts has wrapped Richard Barnes' original optimized code as a Landlab component, and in fact I believe he merged it just yesterday. See `FlowDirAccPf`.

[2021-11-18 16:22] BCampforts commented on #1363
That's right. I renamed the component to `PriorityFloodFlowRouter`.
This component will fill, calculate flow dirs and flow acc in one go.
You can access the filled topography under the 'depression_free_elevation' field.

from landlab.io import read_esri_ascii
(mg, z) = read_esri_ascii("small_dem_1m_sub13_ascii.asc", name="topographic__elevation")
pf = PriorityFloodFlowRouter(
    mg,
    surface="

[2021-11-18 20:23] Xahannist commented on #1363
@BCampforts would I need to install landlab for developers or is the precompiled version fine for `PriorityFloodFlowRouter`?

[2021-11-22 11:10] odidev opened #1365 "Add support to release linux aarch64 wheels"
Problem
---------
On aarch64, ‘pip install landlab’ builds the wheels from source code and then installs it. It requires the user to have a development environment installed on his system. Also, it takes some time to build the wheels than downloading and extracting the wheels from pypi.

Resolution
-----------
On aarch64, ‘pip install landlab’ should download the wheels from pypi.

@mcflugen and T

[2021-11-26 14:59] pohleric opened #1367 "How to test new module when landlab is already a site-package of the python interpreter?"
Hello,
I have been playing around with the GroundwaterDupuitPercolator to have 2 instead of 1 layer. I am stuck on how to test it. I tried adding the module to the landlab components in my python environment; inside the component folder (the installed version using conda --> conda/env/.../landlab/mycomponentname/; I added an __init__.py in the new folder and added the name of the component in the

[2021-11-27 06:49] mcflugen commented on #1367
Hi @pohleric,

It sounds to me like you need to install *landlab* following the developer installation instructions. You can find instructions on how to do this in our [documentation](https://landlab.readthedocs.io/en/latest/development/install/install.html).

If you're using *conda*, which it sounds like you are, the following steps should do it,
1. Get the landlab source code. You can do this ei

[2021-11-29 17:04] pohleric commented on #1367
Hi @mcflugen,
It seems to work with the instructions you provided. Many thanks,
Eric

[2021-11-29 18:25] mcflugen commented on #1367
@pohleric That's great to hear! Please let us know if you have any more questions.

[2021-11-29 18:25] #1367 closed

[2021-11-29 19:37] gregtucker opened #1369 "SPACE component(s): make qs_in public"
SPACE tracks two forms of sediment flux at each grid node: the outgoing sediment flux from the node to one of its downstream neighbors ("receivers"), and the incoming sediment flux from its upstream neighbors ("donors"). The outgoing sediment flux is publicly available through the `sediment__flux` field. However, the incoming sediment flux field is private, hidden in the component's (base class) v

[2021-12-02 22:23] kbarnhart opened #1373 "Add .rst files for new components"
Noticed that the two new components from #1362 are missing some documentation files.

Made a comment in that issue, but that was probably not the right way to raise the issue #888

https://github.com/landlab/landlab/pull/1362#issuecomment-982149420

[2021-12-02 22:41] mcflugen commented on #1373
Thanks for the reminder @kbarnhart! I'll add those files.

[2021-12-10 11:56] pohleric opened #1376 "mass conservation in GroundwaterDupuitPercolator"
Following the tutorial on the GroundwaterDupuitPercolator "groundwater_flow", I have an understanding issue with the conservation of mass.

If I set the recharge rate to 0, I would expect that the "Total fluxes + Storage" evens out. However, this is not the case. So I wonder where the water is disappearing or what I am missing.

You can recreate this issue by setting recharge to 0 in :

[code]

th

[2021-12-10 16:30] gregtucker commented on #1376
@DavidLitwin any thoughts on this?

[2021-12-10 16:51] DavidLitwin commented on #1376
Hi @pohleric, the issue here is that you have encountered an instability in the model. I see you changed the hydraulic conductivity from 0.01 to 0.1 m/s. This is very fast! This first test here doesn't use the adaptive timestep solver, so the model wasn't able to make the timestep shorter to meet the CFL condition. Try (1) lowering the hydraulic conductivity, or (2) calling the adaptive timestep s

[2021-12-10 18:13] pohleric commented on #1376
Hi @DavidLitwin , thanks for the super quick response. I tried using the `gdp.run_with_adaptive_time_step_solver(dt)` but I run into the same problem on my test case. The output looks more or less identical. In my test case I have a conductivity of 1e-6 but rather big cells (~1.5km2) and a total catchment area of 14000km2. The issue only happens after around 100 days when the valley aquifer is nea

[2021-12-10 19:20] DavidLitwin commented on #1376
Hi @pohleric, I worked through your example, and I think I've found the problem. If you use imshow_grid to visualize the `surface_water__discharge`, you'll find that the depression routing isn't working, and surface water flow is not making it to the outlet. Because of this, the gdp method `calc_sw_flux_out` doesn't see it.

In the included code I found solution that uses an alternate depression f

[2021-12-10 19:24] DavidLitwin commented on #1376
Probably worth noting that the mass balance here isn't perfect--there's still some error that could be due to some combination of timestep size and the fact that we're using a very crude integration approach to sum the fluxes through time. When you look at flux error as a proportion of total fluxes out, it's not so bad.

[2021-12-13 08:47] pohleric commented on #1376
Dear @DavidLitwin thanks a lot. I will give it a go.

[2021-12-13 14:53] pohleric commented on #1376
@DavidLitwin seems to work. Just a last question related to the provided code. I had to change the flow_director in the FlowAccumulator to D8; it was giving me an error with "FlowDirectorSteepest". Did it run without error for you?

[2021-12-13 17:11] DavidLitwin commented on #1376
@pohleric, I checked and that does seem to be happening in the latest release (I'm working off of the master branch). But actually you can just remove the keyword argument depression_finder in the FlowAccumulator, and it should work without error. The code I sent you instantiates the depression finder separately, so you don't need it in the FA. That's my fault for leaving it in there.

[2021-12-13 20:21] DavidLitwin commented on #1376
@gregtucker, @kbarnhart, and others, I'm also going to leave something interesting here that I've found as far as mass conservation, which may be useful... If you run the code I have included with the release version (Ms. Weasley) and the current master version, you will find that the mass balance appears to have much less error in the release than the newer master. Why would the older version app

[2021-12-20 18:23] gregtucker commented on #1376
Thanks for this note @DavidLitwin. It's a reminder that numerical methods are never 100% accurate, and involve tradeoffs.

Along these lines, I would love to find a way to entrain more numerical / computational math folks in our community generally to help advise and innovate on problems like this one and many others. There are of course the canon of well known equations that have historically ben

[2022-01-04 13:38] clebouteiller opened #1378 "Failures on updating landlab-dev"
Hi everyone and happy new year!
I am getting in trouble when updating landlab and landlab-dev environment.

I used to have a developer version of landlab, which I updated for the last time at the end of 2020 and was working properly at that time.  I have just pulled the most recent code from github and I am getting an error when calling landlab "no module named landlab.utils._matrix" which I imagi

[2022-01-04 18:07] mcflugen commented on #1378
@clebouteiller The problem you are having is due to *richdem* not being available for your environment. What version of Python is in your *landlab* environment?

I suggest you try to use *conda* to create a new environment and then to install the *landlab* dependencies into it. Please try the following,
[code]

[2022-01-05 21:09] clebouteiller commented on #1378
Thanks for the help.

I was using Python 3.7 .
I have just created a new environment as you suggested with Python 3.9. The requirements seems to be fine (bmi-topography and richdem that yielded errors previously have been installed properly).

However when running the last command to compile landlab I get new error messages:
![error_install_landlab_5jan2022(1)](https://user-images.githubuserconten

[2022-01-05 21:58] mcflugen commented on #1378
@clebouteiller Ah, OK. I suspect those dependencies must not be available for Python 3.7, then.

I agree with you that it sounds like an issue with your c compiler. What version of Visual Studio do you have installed? For our testing we're using *Visual Studio Enterprise 2019 version 16.11.31911.196*.

You may also need to install a *c-compiler* into your *landlab_dev* environment through *conda*,

[2022-01-06 08:19] clebouteiller commented on #1378
Currently I have Visual Studio Build Tools 2019 16.4.29709.97
I have tried to install the c-compiler through the conda command you suggested, which actually tries to install Visual Studio build tools 2017, and does not succeed (can't find windows sdk dir?).
I can try to update my current 2019 version of VS, but I still have a working old version of landlab in a side branch, that works with the cur

[2022-01-10 17:17] gregtucker commented on #1369
Addressed by #1370

[2022-01-10 17:17] #1369 closed

[2022-01-12 18:04] gantian127 commented on #1378
@clebouteiller I did a bit test based on the discussion above and I installed the landlab using python 3.9 on Windows10. You may try the steps below and see how that goes.
<img width="659" alt="1" src="https://user-images.githubusercontent.com/5016511/149196137-b1ff8b13-bd78-4eb9-ab46-c4e6268bd04c.png">

I first installed VS build tools 16.11.9 with this link which automatically download the insta

[2022-01-13 15:06] clebouteiller commented on #1378
Thank you for this test and your suggestions. I think this has improved a bit my situation although the installation still does not work.
I have tried everything you suggested:
I have updated my version of VS Buildtools to 16.11.9.
I have created a new landlab_test environment with pyhton 3.9

$conda install c-compiler -c conda-forge:
The system tries to install VS 2017 and does not succeed. (NB:

[2022-01-14 17:39] mcflugen commented on #1378
@clebouteiller A couple of things to try.

1. The problem may be that your shell is picking up a version of *cython* outside of your current environment. To fix this, try installing *cython* into your *landlab_test* environment using `pip install cython`.
2. You may need to rebuild the *cythonized* *.c* files. To do so, you can run `python setup.py build_ext -i -f`. This will create new *.c* files

[2022-01-15 19:05] Aboussejra opened #1380 "Is it the right tool to model a constrained river flow ?"
Hi, I am searching for a tool in python possibly to :
 Mainly : Simulate a constrained river flow (e.g. culvert, canal, etc..)
If possible :
- add particle erosion without sedimentation (e.g. fast flowing water, earthen dam overtopping).
- Add sedimentation (e.g. rivers and deltas)
- Take into account the viscosity and / or the erosive capacity of the fluid
-
Note sure if this is the right tool, a

[2022-01-17 21:50] clebouteiller commented on #1378
Yes you got it, I installed cython in my environment and rebuilt the
cythonized .c files as suggested and finally I was able to install landlab!

Thank you very much for your help!

Caroline

De : Eric Hutton ***@***.***>
Envoyé : vendredi 14 janvier 2022 18:39
À : landlab/landlab ***@***.***>
Cc : clebouteiller ***@***.***>; Mention
***@***.***>
Objet : Re: [landlab/landlab] Failures on updating

[2022-01-18 18:22] mcflugen commented on #1378
@clebouteiller That's great news! Good luck landlabbing!

[2022-01-18 18:22] #1378 closed

[2022-01-18 21:06] gregtucker commented on #1380
It sounds as if you are looking for some type of hydrodynamic model. I can't claim to be an expert in fluvial hydrodynamics, but some questions to consider:

- What balance between realism and computational speed do you need?
- What is your time scale?
- What is your spatial scale?

Depending on the answers to these, some options might be:
- Full 3D hydrodynamics with a tool like Delft3D
- Dynamic

[2022-01-18 22:43] pullulation opened #1381 "Developer installation error"
Hello,

I am trying to install landlab from source code using Anaconda on Windows. I followed the developer installation instructions.

When I run the command of  `conda env create --file=environment-dev.yml` , the process of creating new environment seems never end. I checked it and the `landlab_dev` virtual env do exist. So I tried mannually install the dependencies from the .txt file, however t

[2022-01-19 18:30] mcflugen commented on #1381
@pullulation Thank you for the detailed description of your issue!

I believe you are having this problem because the *rasterio* package is not available for your environment from *PyPI* (i.e. through *pip*). *environment-dev.yml* is instructing *conda* to install  *rasterio* using *pip* but because it can't find it, it's trying to build it from source and is not able to, which is why it's taking

[2022-01-19 21:01] #1381 closed

[2022-01-19 21:11] pullulation commented on #1381
@mcflugen Thanks for your prompt reply. It worked perfectly for me!

[2022-01-19 21:28] mcflugen commented on #1381
Excellent! Happy to hear to got it working!

[2022-01-19 22:07] mcflugen commented on #1381
@pullulation Could you please provide a link to the installation instructions you followed? There are installation instructions in several places and I want to make sure I've updated the ones you followed. Thanks!

[2022-01-19 22:44] pullulation commented on #1381
No problem. I followed this instruction [https://landlab.readthedocs.io/en/master/development/install/install.html#install](url)

[2022-01-19 23:20] mcflugen commented on #1381
Thanks!

[2022-01-20 11:16] shelbyahrendt opened #1382 "Trouble re-compiling landlab on Windows after Cython updates"
I recently pulled some Landlab changes, and subsequently ran into an error associated with 'cfuncs.pyx' when I import landlab. This has happened in the past, and has been fixed by running `pip install -e .` in the top level landlab folder within my landlab_dev environment. When I ran it this time, I had a 'wheel build error' when trying to build the wheel for rasterio--it seemed like the setup cyc

[2022-01-20 17:30] mcflugen commented on #1382
@shelbyahrendt Please have a look at #1381 and #1378 to see if that solves your problem. It looks like your issue is that *pip* is trying to install *bmi-topography*, which requires *rasterio*, which is not available for your platform from *PyPI* (*bmi-topography* was mistakenly added to the requirements file). Likely, the instructions in #1381 should fix your problem. Please try that and let me k

[2022-01-24 10:15] shelbyahrendt commented on #1382
@mcflugen The instructions in #1381 also seemed to work for me! When reinstalling landlab, I additionally pulled the most recent changes from #1379 and followed the [updated instructions](https://landlab.readthedocs.io/en/master/development/install/install.html) in case there were further edits to the setup/requirement files there.

[2022-01-24 10:15] #1382 closed

[2022-01-31 17:55] #1358 closed

[2022-02-01 20:11] amanaster2 opened #1386 "Update for Landlab readthedocs page"
Hi! This issue is piggybacking off of #1378, #1381, and #1382.

I ran into the same issue when attempting to update my Landlab developer installation (`rasterio` dependency issues). I followed the steps outlined in #1381, and it worked great! I figured I would submit a separate issue to see if the ["Keep Landlab Updated"](https://landlab.readthedocs.io/en/latest/development/install/updating.html)

[2022-02-01 21:28] mcflugen commented on #1386
@amanaster2 Thanks for reporting this!

Was it the following command that gave you trouble?
[code]

[2022-02-01 22:46] amanaster2 commented on #1386
@mcflugen yes, it was!

[2022-02-04 15:44] shelbyahrendt opened #1387 "Is there a way to temporarily turn off the landlab tests while developing on a fork?"
I noticed that all the landlab tests now automatically run whenever I push changes to a fork of landlab. If I am working on something that I know is still a little messy (and I know will fail), but I just want to commit my changes for peace of mind is there a way to pause the automatic tests?

If it makes sense for best practice to run the tests with every commit, then I will close this, but I not

[2022-02-04 16:15] mcflugen commented on #1387
@shelbyahrendt If you are pushing changes that are a work in progress and, particularly, if you know the tests will fail or you aren't interested in the results, you should tell GitHub to skip the tests.

There are a [number of ways to do this](https://docs.github.com/en/actions/managing-workflow-runs/skipping-workflow-runs) but, basically, you just need to include something like `[skip ci]` in th

[2022-02-04 16:18] shelbyahrendt commented on #1387
Thank you @mcflugen!

[2022-02-04 16:18] #1387 closed

[2022-02-06 00:10] keckje opened #1388 "Soil Saturated Thickness for LandslideProbability"
🎨 ✅

New method for specifying soil hydrology added to LandslideProbability.

In addition to a groundwater recharge method, a soil saturated thickness method is now available.

The soil saturated thickness method allows the user to force LandslideProbability using externally modeled soil hydrology from a model such as DHSVM.

If using saturated thickness, saturated thickness is read directly from

[2022-02-10 19:18] Sheehace opened #1390 "Question using SPACE: Calculating entrained sediment concentration"
Hi All,

I’m new to SPACE and want to make sure I understand something correctly.

I’m interested in knowing the concentration of entrained sediment in the water column (**Qs / Q**) during each timestep. Following Eqs. 1 and 2 in Shobe et al., 2017, the change in concentration can be calculated as the sum of the volumetric entrainment fluxes from the bed (**Es** and effective **Er**), the volumetr

[2022-02-16 10:32] t190403098 opened #1391 "Landlab installation error"
Hello,

I followed the instruction `https://landlab.readthedocs.io/en/master/development/install/install.html#install` to install Landlab. But I get an error of `subprocess-exited-with-error` while I run the `pip install -e .`

I worked on Python 3.9 on windows.

The detail of the error is as follows:

[code]

Sorry for the long text.

Any idea or advice on solving the problem?

Thanks in advance.

[2022-02-16 13:22] t190403098 commented on #1391
Thanks for your time. After installing the Microsoft Visual C++, the error above was solved.

[2022-02-16 13:22] #1391 closed

[2022-02-28 02:30] RichardEllicott opened #1392 "installing on windows using the continuumio/anaconda3 docker package run into errors"
i have tried all sorts of methods but believe docker should logically get around all the problems

i've ru:

docker pull continuumio/anaconda3

then:
docker run -i -t -p 8888:8888 continuumio/anaconda3 /bin/bash -c "\
    conda install jupyter -y --quiet && \
    mkdir -p /opt/notebooks && \
    jupyter notebook \
    --notebook-dir=/opt/notebooks --ip='0.0.0.0' --port=8888 \
    --no-browser --al

[2022-02-28 02:41] RichardEllicott commented on #1392
a terminal dump of the failed pip:

`# pip install landlab
Collecting landlab
  Using cached landlab-2.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.0 MB)
Requirement already satisfied: bmipy in /opt/conda/lib/python3.9/site-packages (from landlab) (2.0)
Collecting bmi-topography
  Using cached bmi_topography-0.6-py3-none-any.whl (16 kB)
Requirement already satisfied: pyyaml in /

[2022-02-28 02:55] RichardEllicott commented on #1392
okay i just tried:

https://github.com/conda-forge/rasterio-feedstock
conda install rasterio

these commands just always hang on Solving environment: |

[2022-02-28 03:52] RichardEllicott commented on #1392
okay trying these commands:

conda update --all
pip uninstall landlab
conda install landlab -c landlab # i seem to be stuck here again with "Solving environment: \" taking forever

[2022-02-28 04:35] mcflugen commented on #1392
@RichardEllicott Yes, *landlab* definitely does work on Windows.

If you don't need to install from source, the easiest way to install *landlab* is with *conda*,
[code]
This will get *landlab* and all of its dependencies from *conda-forge*—all of which are available for Windows—and install it in a new environment called *landlab-dev*.

If you need to install *landlab* from source, you will have to

[2022-02-28 05:07] RichardEllicott commented on #1392
i am sorry i just got my answer, so i would just describe i tried miniconda3 instead, complete process for docker:

in powershell:
docker pull continuumio/miniconda3

docker run -i -t -p 8888:8888 continuumio/miniconda3 /bin/bash -c "\
    conda install jupyter -y --quiet && \
    mkdir -p /opt/notebooks && \
    jupyter notebook \
    --notebook-dir=/opt/notebooks --ip='0.0.0.0' --port=8888 \

[2022-02-28 16:38] mcflugen commented on #1392
@RichardEllicott Excellent! I'm happy to hear you got it working. 🎉

I want to make sure, though, that this is really what you are after. You shouldn't have to run *landlab* within a docker container to get it to run on Windows. You can also install and run it natively.

[2022-03-01 16:57] RichardEllicott commented on #1392
hi thanks, i kinda liked learning docker a bit lol but yes i agree perhaps...  i would normally be the sort to get it all running with my core python but i get the impression in data science that most people do it this way instead

and that makes a lot of sense, as this docker has this great advantage it seems to abstract the OS away.... and them codewalls all related to having to require various

[2022-03-01 20:08] RichardEllicott opened #1393 "looking for a simple method to get or set and individual "cell", or the central value"
Hi

I've found the product easy to understand but am a little lost in the reference material

I have created an object? from RasterModelGrid (i'm not sure what this is, some sort of structure is returned)

i can actually fill it with basic noise etc all at once

how can get and set a cell's (ed: sorry i think i may mean node here, am unsure) "topographic__elevation" elevation individually? i want

[2022-03-01 22:38] gregtucker commented on #1393
Hi @RichardEllicott -
Please take a look at the tutorials, which I think will answer your questions. If you have cloned a copy of the repo, you can find them (Jupyter Notebooks) in the folder landlab/notebooks. I recommend starting with `welcome.ipynb`.

[2022-03-01 22:49] RichardEllicott commented on #1393
thanks i have found an into tutorial from that link

[2022-03-01 22:49] #1393 closed

[2022-03-02 16:33] colineA opened #1394 "Calculate slope at node"
Hi,
I am trying to use 'calc_slope_at_node' on a DEM (size 562099 core_nodes) but I got an error that I don't understand.
Thus, am I using this function correctly?
"""
# open the DEM
(grid_laval, z_laval) = read_esri_ascii("C:\\...\\extract_mntla2_filled_modifCA.asc", name="topographic__elevation")

# slope grid:
mag_slope = grid_laval.calc_slope_at_node(grid_laval, method='patch_mean')

aspect =

[2022-03-02 17:21] mcflugen commented on #1394
@colineA I haven't seen this error before. I wonder, though, if the problem is how you call `calc_slope_at_node`. Could you please try the following instead,
[code]
Since `calc_slope_at_node` is a method of the grid, you don't pass the grid as an argument.

If you still get the same error, would it be possible to provide a [minimum reproducible example](https://en.wikipedia.org/wiki/Minimal_reprod

[2022-03-02 17:34] colineA commented on #1394
Thanks a lot, it works without setting the 'grid' in the brackets! But I think the documentation is a bit confusing...

Thanks!
Coline

[2022-03-02 18:26] mcflugen commented on #1394
Excellent! 🎉

Could you point to the documentation that's confusing so I can try to clear it up? I suspect the confusion stems from the fact that `calc_slope_at_node` can be called either as a function (`calc_slope_at_node(grid, ...)`) or as a method of a grid (`grid.calc_slope_at_node(...)`)—much like *numpy* ufuncs (i.e. `np.max(x)` and `x.max()`).

[2022-03-02 18:35] colineA commented on #1394
Oh I think i understand now! but here is the document that I was looking at:
https://pythonhosted.org/landlab/landlab.grid.gradients.html

Thanks a lot for your help!
Coline

[2022-03-02 18:53] mcflugen commented on #1394
Thanks!

Not that it would have solved your issue, but you are looking at old documentation. I wasn't even aware of *landlab* being on *pythonhosted.org*. The official *landlab* docs are on [read the docs](https://landlab.readthedocs.org). The current docs are for v2.4.2 but those at *pythonhosted.org* are v1.0.3.

Did you get there via a web search or do we need to update some links somewhere?

[2022-03-02 20:46] iovereem opened #1395 "conda environment documentation points to a previous landlab release?"
This is following up on this mornings' team meeting comment.

I was trying to follow instructions to set up a separate conda environment for landlab on the https://landlab.readthedocs.io/en/master/install/index.html#conda-environment page.

The instructions tell you to get the release 'here' and points to a previous landlab release? See screenshot.
Or at least it shows a release by KB/Mrs.Weasley

[2022-03-02 22:10] mcflugen commented on #1395
@iovereem Thanks for this! It was a little unclear to me what the problem was when we talked earlier about this but it's clear now.

What you've discovered is not just an incorrect link, the actual instructions here are not correct. I'll update the docs but if all you want to do is install the latest version of *landlab*, and you're ok using *conda*, you just need to do the following,
[code]
This

[2022-03-03 00:23] colineA commented on #1394
Good to know, I will look to the version more carfully the next time! Thanks!

No I think it was via a web search.

[2022-03-11 18:31] #1373 closed

[2022-03-19 16:19] mcflugen opened #1401 "Hypothesis reports unreliable test timings when running ci"
Sometimes when our continuous integration tests are run, *hypothesis* reports unreliable test timings, which cause tests to fail.
For example,
[code]
This seems to be a product of running the tests in the cloud and not anything to worry about. We should probably just turn off deadlines globally when running our continuous integration tests on GitHub.

[2022-03-19 18:10] mcflugen commented on #1401
Fixed with #1402.

[2022-03-19 18:10] #1401 closed

[2022-03-22 22:23] kbarnhart opened #1403 "Unexpected behavior in SteepnessFinder on real topography"
[BolinasRidge.zip](https://github.com/landlab/landlab/files/8328187/BolinasRidge.zip)

Luke McGuire flagged some unexpected behavior on real landscapes in SteepnessFinder. I dug into it for a few hours and couldn't quite figure out what was going on. I think it has to do with the interaction between channel segment delineation and the vertical/horizontal discretization. In the zip is a nice notebo

[2022-03-23 20:07] kbarnhart commented on #1403
I'll add one more note before I forget.

I played around with modifying the steepnessfinder internally to use the channel profiler to delineate segments. My thinking was that this might improve the ability of the steepnessfinder to interact with depressions and depression-routed terrain.

I got this to work and all but one of the tests to pass... And with this change many of the above issues were

[2022-04-02 21:19] gregtucker opened #1405 "Inconsistent grid geometry with RadialModelGrid"
Some configuration of RadialModelGrid show a mismatch between links and faces. Normally, the order of faces in a cell should match the order of links attached to the cell's node. This means that a list of faces around a given cell `c` obtained from

`grid.faces_at_cell[c]`

should be identical to a list obtained by:

`grid.face_at_link[grid.links_at_node[grid.node_at_cell[c]]]`

The latter line of

[2022-04-04 19:27] KevRozmiarek opened #1406 "Landlab install failed"
Hi all,

I am attempting to install Landlab and have hit a snag with the install line.

$ conda install landlab -c conda-forge

The error message I have received is attached.

![Screenshot from 2022-04-03 18-49-38](https://user-images.githubusercontent.com/22139518/161617152-bab939d9-0e81-420a-a531-c0deed74c09f.png)

OS: Pop!_OS 21.10
Conda: 2.1.2
Python: 3.8

Thanks.

[2022-04-05 16:20] mcflugen commented on #1406
@KevRozmiarek This is an error I don't I've seen before.

It looks like you are wanting to install *landlab* so that you can run the notebooks, is that right? It also looks like you might be following some outdated instructions. Could you point me to the instructions you are following, or the steps you took to get to this place?

This following commands will install the latest version of *landlab*

[2022-04-12 04:10] KevRozmiarek commented on #1406
Hi @mcflugen I aspire to produce errors not seen before. Also sorry for the late response.

You are correct about installing landlab for notebooks. I was using the instructions found here. https://landlab.readthedocs.io/en/master/install/index.html

None of the instructions worked for me. I was able to work with @BCampforts to resolve my issue. Here is what I did:

Clone landlab to local
[code]

K

[2022-04-12 16:12] mcflugen commented on #1406
@KevRozmiarek Great to hear you got things working! 🎉

@BCampforts had you do a developer install of *landlab* but I would still like to make sure our installation instructions are correct. If it's not too much trouble, would you mind helping me out with that?

To install the latest version of *landlab*, you should do the following
[code]
You say that didn't work for you though, is that right? Wha

[2022-04-12 17:40] BCampforts commented on #1406
Yeah, we had to use to the dev install to get access to the PriorityFloodFlowRouter. I think the error of @KevRozmiarek  got (on a Linux machine) was an ImportError looking like this using the default installation (?):
```ImportError: cannot import name "PriorityFloodFlowRouter" from 'landlab.components' (C:\Users\user\anaconda3\lib\site-packages\landlab\components\__init__.py```
This is the error

[2022-04-12 18:02] mcflugen commented on #1406
@BCampforts Got it. Thank you.

That makes sense. It wasn't really an install issue at all. It sounds like we should update our instructions for running the *landlab* notebooks. If one wants to run the notebooks with a particular *landlab* release, it is important that they match the version of the notebooks with the version of *landlab*. Since you were wanting to run a pre-release version of the

[2022-04-22 05:21] rishav-karanjit opened #1411 "Height Above Nearest Drainage"
Can we use landlab to calculate Height Above Nearest Drainage using TIFF file?

[2022-04-24 15:26] gregtucker opened #1412 "Field in PriorityFloodFlowRouter triggers error in netCDF output"
The field `squared_length_adjacent` created by `PriorityFloodFlowRouter` triggers an error in the `write_netcdf` function. Is the field mis-sized for its "at" attribute?

Code that reproduces this:

[code]

[2022-04-24 15:32] gregtucker commented on #1412
PS - it works if you remove `squared_length_adjacent`, e.g.:

[code]

@BCampforts could you take a look at this?

[2022-04-25 19:40] gregtucker commented on #1411
The documentation for the `HeightAboveDrainageCalculator`:

https://landlab.readthedocs.io/en/latest/reference/components/hand_calculator.html

Uses a simple DEM generated as a RasterModelGrid field. So the question is how to create a RasterModelGrid from a TIFF file. I don't think we currently have a reader for TIFF files. Some options to consider:

- Convert your data to an ESRI Ascii Grid forma

[2022-04-25 21:17] kbarnhart commented on #1411
rasterio is another good option for reading tifs into numpy arrays

https://rasterio.readthedocs.io/en/latest/index.html

[2022-04-27 22:16] BCampforts opened #1413 "richdem error when installing landlab"
When installing landlab, a problem occurs with the richdem package.
After installation, and when opening python I get the following with `import richdem`

[code]

Using conda, the version of richdem installed is 2.3.0, build  py310h129383d_0 while this should be richdem-2.3.0-py310h7083d79_0

[2022-04-27 23:03] kbarnhart commented on #1411
@rishav-karanjit I'd recommend you start by working through the tutorials we have created to help new users.

https://landlab.readthedocs.io/en/master/user_guide/tutorials.html

Then look through the components to determine what might be appropriate for delineating channels in your use case. Likely the FlowAccumulator will be suitable for your needs.

https://landlab.readthedocs.io/en/master/refer

[2022-04-29 14:49] mcflugen commented on #1413
@BCampforts This should be fixed now. conda-forge/admin-requests#432 marked the old 2.3.0 builds as broken so that they no longer appear on the *conda-forge* channel. Now when you install *richdem* (or *landlab*) with either *conda* or *mamba* you should get a newer version with build number *1* (e.g. *2.3.0-py310h7083d79_1*).

[code]

[2022-05-03 18:54] mcflugen commented on #1413
Ok. Not fixed completely. *conda* continues to install the older build of *landlab* v.2.5.0 rather than the newer one that requires *richdem*. This is because *conda* favors simpler dependency graphs over more complex ones. *mamba*, instead, prefers more updated versions.

I've marked the older builds a "broken" on *conda-forge*, which should solve this problem (conda-forge/admin-requests#434). It

[2022-05-03 20:02] Nehajoshi1993 opened #1414 "issue while running the model"
I am facing some trouble while running the mode using the landlab toolkit . My model it takes an unexpected time (more than 2 days) and still not giving any results. I get some warning even then nothing is being processed. I am using the following codes:

Landscape model
a. Importing required components from the Landlab
from landlab.plot import imshow_grid
from landlab import RasterModelGrid
from

[2022-05-04 19:12] mcflugen commented on #1414
@Nehajoshi1993 Thank you for your interest in *landlab*! For me to help with your problem, I will need more information.

It looks like you're trying to run a modified version of one of the notebooks from the *landlab* tutorials, is that right? If so, which notebook are you working from?

Could you please provide a minimal example (as simple as possible with the fewest lines possible) that still r

[2022-05-04 19:59] gregtucker commented on #1414
I was wondering the same thing. In general, it's a good idea to initially test out codes with a small grid and a small number of time steps (in fact I recommend initially running just one time step).

[2022-05-10 20:16] erexer opened #1415 "Components list has two `Tectonics` sections"
https://landlab.readthedocs.io/en/latest/reference/components/index.html#tectonics

[2022-05-10 20:19] mcflugen commented on #1415
Thanks for reporting this @erexer! I'll fix it up.

[2022-05-12 04:25] BCampforts opened #1417 "set_closed_boundaries_at_grid_edges is irriversable"
set_closed_boundaries_at_grid_edges is irreversible:

Once boundaries are changed to closed, you cannot undo this
e.g. once called as:
```set_closed_boundaries_at_grid_edges([True,True,True,True])```
grid boundaries cannot be set as open nodes anymore using:
```set_closed_boundaries_at_grid_edges([False,False,False,False])```

Could be solved by adding else statements to the following:
https://git

[2022-05-12 14:27] mcflugen commented on #1417
Thanks for reporting this @BCampforts! I'll fix this up today. In the meantime, instead of using `set_closed_boundaries_at_grid_edges`, you could do something like,
[code]
For the edges you want to adjust.

[2022-05-12 14:54] mcflugen commented on #1417
@BCampforts In thinking about this a little more, I think `set_closed_boundaries_at_grid_edges` is working as intended. The intent of `set_closed_boundaries_at_grid_edges`, I think, is to close the specified grid edges and ***leave the other edges as-is***. Those other edges could be *OPEN* but they could also be *FIXED_GRADIENT* or *FIXED_VALUE*.

What do you think?

[2022-05-12 15:51] mdpiper opened #1419 "Fix broken links to JupyterHub in README"
The links in the README to run the Landlab tutorials on the CSDMS JupyterHub are broken (they point to the old URL for the Hub).

[2022-05-12 21:28] jillmarshall opened #1421 "Process of linear diffusion is giving unexpected (not logical) results"
<img width="728" alt="image" src="https://user-images.githubusercontent.com/16295276/168170516-56d7c8e5-d2b4-41cc-80ae-c5328c705b4f.png">

Image of trransects above and below the fault scarp after running the diffusion code.
running the notebook in the IVY repo .Introduction to Landlab: Grids and simple 2D models
We've initialized a very small landlab grid (25, 25, 10) and made a fault block and r

[2022-05-12 22:56] mcflugen commented on #1421
@jillmarshall Could you please provide the minimal code (i.e. fewest lines) required to reproduce this issue? Also, what do you expect the output to look like?

From the image, it looks like you have a mixed set of boundary conditions: the boundary condition on the northern edge is different from those along the other edges. Could that be the source of the unexpected results?

[2022-05-12 23:20] mcflugen commented on #1421
@jillmarshall I suspect you're running code something like the following?
[code]
If I run the above code, I do get something like the image you provided. It looks to me, however, that that is what the code should produce—i.e. the sharp step has eroded.

[2022-05-12 23:44] jillmarshall commented on #1421
Hi Eric
Since there are closed boundaries on the right and left side material shouldn't be leaving there - so the diffusion should just be to the N and S. And the boundary conditions are the same on both sides (same as the code below)

mg.set_closed_boundaries_at_grid_edges(True, False, True, False)
imshow_grid(mg, 'topographic__elevation', color_for_closed = 'r')
________________________________

[2022-05-13 01:44] mcflugen commented on #1421
@jillmarshall It was nice seeing you tonight 🍺! I think I have a better idea of the problem.

I believe that rewriting the loop as the following should do the trick,
[code]
This sets the flux across "inactive" links (i.e. links connecting core nodes to closed nodes) to zero and results in diffusion only in the north-south direction.

[2022-05-13 15:05] mcflugen commented on #1413
Now that the older builds are seen a "broken", this issue appears to be resolved. For now.

[2022-05-13 18:50] #1415 closed

[2022-05-13 22:49] mcflugen commented on #1421
@jillmarshall Did that change fix your problem?

[2022-05-14 19:17] erexer opened #1422 "readthedocs `Example` page inconsistent image links"
Some images on the [Example](https://landlab.readthedocs.io/en/master/user_guide/examples.html) page link to jpgs and other images link to Binder. Ideally, these should be consistent (but the [Square Basin](https://landlab.readthedocs.io/en/master/user_guide/examples.html#square-basin) example might not have code associated with it?).

[2022-05-14 20:22] mcflugen commented on #1422
@erexer Thanks for finding reporting this. I think, ideally, each image should have two links: one to its associated notebook and one to Binder. It will take me a little bit to figure out which notebook goes with which image but I believe they should all have notebooks.

[2022-05-15 14:55] erexer opened #1423 "request: method to check grid equivalence"
It'd be convenient to have a method that compares grids and their fields, especially for writing unit tests or benchmarking. Something like:
[code]

[2022-05-15 15:09] mcflugen commented on #1423
@erexer This is a great suggestion and we could definitely add this.

How would you like this to deal with fields?
* Ignore fields
* Check if the two grids contain the same fields
* Check if the two grids contain the same fields and the field values are equal

Should we check for equivalent boundary conditions as well?

[2022-05-15 18:33] mcflugen opened #1424 "grid.imshow should use `at` keyword"
The `grid.imshow` function should use the `at` keyword like other _landlab_ functions. That is,
[code]
rather than
[code]
Since `imshow_grid` already takes this form, this should be easy to implement by just updating the `RasterModelGridPlotter` mix-in in *raster.py*. The only tricky bit will be to maintain backward compatibility. Something along the lines of the following should work,
[code]

[2022-05-15 18:42] mcflugen opened #1425 "Add ability to specify which element ids to plot with `plot_graph`"
The *with_id* keyword to *plot_graph* should be able to take a like of graph locations (just like *plot_graph*'s *at* keyword) as well as a boolean.

For example,
[code]

Implementing this could look something like,
[code]

[2022-05-16 16:36] erexer opened #1426 "typos in stream_power example"
The [stream_power.py](https://github.com/landlab/landlab/blob/master/landlab/components/stream_power/stream_power.py) component's third example has the grid `mg3` assigned to some `mg2` values. It should be:
[code]

[2022-05-16 19:14] erexer commented on #1423
Options would be cool. I'd argue for defaulting to full equivalence and then allowing args such as `allow_different_fields`, `allow_different_boundaries`, etc.

[2022-05-17 10:28] ALArgentin opened #1429 "Memory leak? with RasterModelGrid"
I'm creating a grid in a loop and I expect it to be destructed at the end of each iteration. However, some memory is not released (in structured_quad.py, a numpy array, see below), and I end up running out of memory.

This is a minimum working code:

[code]

And this is the traceback I get:

[code]

I have Landlab version 2.5.1.dev0, I'm working on Ubuntu 20.04.4 LTS with Python 3.10.4, and built

[2022-06-03 19:11] yuvalsmilo opened #1431 "Add functionality to BedrockLandslider"
Assigning spatially varying values to `angle_int_frict` of `BedrockLandslider` can be useful.

[2022-06-20 21:52] yuvalsmilo opened #1433 "Create a field for surface water height in LinearDiffusionOverlandFlowRouter"
It is also uses that as an array. It will be easier if it will be as a field.