[2014-05-10 19:47] mcflugen opened #1 "Fix unit tests for gradient convention"
All gradients are now measured such that a quantity decrease is a negative gradient (even if that quantity is elevation). The unit tests need to be updated to reflect this change.

In addition, function names that calculate gradients were changed. Unit tests need to be updated to reflect these changes.

[2014-05-10 20:16] mcflugen opened #3 "Update installation instructions"
The installation instructions for landlab needs to be updated. In addition, the developers guide need to be updated to reflect the move to git/github.

[2014-05-10 21:23] mcflugen opened #5 "Fix broken unit tests for structured_grid module"
There are some broken unit tests in the `landlab.utils.structured_grid` module.

[2014-05-10 21:32] #5 closed, assigned to mcflugen

[2014-05-10 21:38] mcflugen opened #8 "Clean up docs and tests for field subpackage"
The documentation and unit tests for the `landlab.field` needs updating.

[2014-05-13 00:24] mcflugen opened #11 "Fix all broken unit/doc tests"
We should fix all of the outstanding broken unit and doc tests. It appears that the only remaining ones are under the flow_router component, which looks like it is owned by @gregtucker.

[2014-05-13 06:29] mcflugen opened #12 "Document the raster_funcs module"
The docstrings for the functions in `raster_funcs.py` need some updating.

[2014-05-13 20:07] mcflugen opened #14 "Clean up warning messages in base.py"
Clean up warning messages in `base.py`:

[code]

[2014-05-13 20:17] gregtucker opened #15 "Translate rest of ModelGrid Guide to rst and update"

[2014-05-13 23:53] #14 closed, assigned to mcflugen

[2014-05-13 23:57] SiccarPoint opened #16 "Add "clean" changed BC updater method"
We hold a lot of lists that need to be updated every time the BCs are changed in the grid. These include
- active links
- active diagonals
- activecell_node
- corecell_node

At the moment, any function changing the BCs needs to also update all of these individually, and it's easy to forget. We need a bundled method that does all this in one go.

[2014-05-15 05:03] mcflugen opened #19 "The main landlab README is out of date"
The two README files:
- `README.rst`
- `README.md`

are out-of-date. In addition, there are _two_ README files.

[2014-05-15 21:12] gregtucker opened #22 "Fix add_zeros (etc.) for active links"
In the overland_flow_with_model_grid_dem.py example, the number of active links changes after the call to set_nodata_nodes_to_closed(). If you do

q = mg.create_active_link_array_zeros()

it recognizes the change. But

q = mg.add_zeros('active_link', 'name')

uses the original number of active links, not the modified value.

[2014-05-16 19:08] SiccarPoint opened #23 "A clean method to return existing field names"
I want to be able to do

or something like it. We might already even have this functionality & I just don't know where it is? (Presumably there's a dictionary somewhere, that can be interrogated for its keys?)

(I'm still struggling with the fact that the code for the fields isn't intuitive, so spotting what functions are available is hard...)

[2014-05-16 22:03] #16 closed, assigned to SiccarPoint

[2014-05-17 03:24] #19 closed, assigned to mcflugen

[2014-05-19 16:18] SiccarPoint opened #27 "Accelerate KB's GIS slope methods"
Katy Barnhart has added GIS-style slope-aspect methods to LL. They're super useful, but slow (looped). Accelerate them.

[2014-05-19 23:14] SiccarPoint opened #28 "floats as fields"
Grid[‘node’][‘name’] = 1. or array([1.]) should both be legitimate commands, since numpy should be happy to expand out these arrays whenever they get used.

[2014-05-19 23:14] SiccarPoint opened #29 "Cells vs. nodes in fields"
Grid[‘cell’][‘name’] == Grid[‘node’][‘name’][grid.core_nodes], and at the moment it isn’t. Both node & cell (and link & face) should point at the same addresses.

[2014-05-20 17:19] SiccarPoint opened #30 "Structured grid, x,y differ"
A Wickert has a case (already!) where he wants to work with non-square raster grid. RMG can't do this. We need a separate grid class that can!

[2014-05-22 15:42] SiccarPoint opened #31 "Video visualization tool"
Make an automated tool to make movies of LL output.

[2014-05-23 22:26] #15 closed, assigned to gregtucker

[2014-05-23 22:31] gregtucker opened #33 "Installation instructions"
Edit instructions to have a single "recommended" method (GitHub GUI), moving alternative methods to private docs.

[2014-05-30 14:18] gregtucker opened #41 "Fix bug in creation of node in/out link matrices"
With a 7-node hex grid, the node in/out link matrices are incorrect. They seem to be rotated 90 degrees.

[2014-05-30 14:37] #41 closed, assigned to nobody

[2014-05-31 21:27] #33 closed, assigned to nobody

[2014-05-31 21:28] #23 closed, assigned to nobody

[2014-06-01 02:01] #12 closed, assigned to mcflugen

[2014-06-01 02:06] #8 closed, assigned to mcflugen

[2014-06-01 02:08] #3 closed, assigned to mcflugen

[2014-06-01 02:10] #1 closed, assigned to mcflugen

[2014-06-27 14:59] hojjatseyyedi1982 opened #45 "installation"
I am trying to install Landlab for the first time but I am getting the following error:
"Traceback (most recent call last):
  File "<pyshell#18>", line 1, in <module>
    from setup.py import install
  File "C:\Flash Flood\landlab\landlab-master\setup.py", line 10, in <module>
    from landlab import **version**
  File "C:\Flash Flood\landlab\landlab-master\landlab__init__.py", line 45, in <module

[2014-06-27 21:03] hojjatseyyedi1982 opened #46 "landlab.io"
I am getting following error while I am trying to load "landlab.io":

Traceback (most recent call last):
  File "C:\Flash Flood\landlab\landlab-master\docs\model_grid_guide\overland_flow_with_model_grid_dem.py", line 11, in <module>
    from landlab.io import read_esri_ascii
ImportError: No module named landlab.io

[2014-06-30 20:12] hojjatseyyedi1982 opened #47 "Overland Flow using a DEM"
I wonder how we can modify the code to take a grid of rainfall data instead of one single value? If we can modify the code in a way to take one rainfall value for each DEM grid cell that would be a more realistic simulation.

[2014-07-01 14:34] gregtucker opened #48 "Missing grid attributes in index"
The readthedocs master index and "index of key functions" are both missing some grid attributes. Missing attributes include: node_inlink_matrix, node_outlink_matrix, node_numinlink, node_numoutlink. There may be others.

[2014-07-03 17:51] SiccarPoint opened #49 "imshow module docstrings"
landlab.plot.imshow module functions need docstrings. Functions like plot_field are too opaque to use as-is.

[2014-07-04 17:47] #11 closed, assigned to mcflugen

[2014-07-04 19:43] mcflugen opened #51 "Read GEBO netCDF files."
The current netCDF reader reads UGRID formatted netCDF but gives an error when trying to read netCDF files from GEBCO. It would be nice if landlab could read GEBCO netCDF files.

[2014-07-04 20:08] #51 closed, assigned to mcflugen

[2014-07-06 16:08] mcflugen opened #54 "Clean up model_grid.rst"
The `model_grid.rst` document needs to be cleaned up. The main problems are:
- unresolved conflicts still appear in the document
- toward the end of the document TeX still needs to be converted to reStructuredText

[2014-08-07 21:30] glaubius opened #56 "Can't install LandLab"
I'm a newbie to Python and am having problems installing LandLab. I've followed the installation directions to run "python setup.py install" from the root directory of the landlab clone, but get an error each time. I've tried running it in Canopy and get this error:
File "<ipython-input-3-80f95f32929a>", line 1
    python setup.py install
               ^
SyntaxError: invalid syntax

When I try di

[2014-08-07 22:02] #56 closed, assigned to nobody

[2014-08-21 14:49] gregtucker opened #57 "Generic model and file-based input for LinkCA"
Make a generic interface for LinkCA models that reads states and transitions and other parameters from an input file.

[2014-08-21 14:51] gregtucker opened #58 "LinkCA: interval between run steps"
In a linkCA model, the CA should run until either (1) it's time for plotting, (2) it's time to write output to file, or (3) it's time for some kind of external modification (such as "uplift"). So, the call to run should have a duration that represents the time to the soonest of these.

[2014-08-21 14:52] gregtucker opened #59 "LinkCA: file output"
LinkCA should implement file output (vtk and/or netCDF).

[2014-10-02 01:10] SiccarPoint opened #64 "Patch functionality in Voronoi"
We need equivalents to rmg.number_of_patches, rmg.patch_nodes, and rmg.node_patches() for voronoi/irregular grids.

Once we have this, rmg.node_slopes_using_patches() can be promoted to base.py.

[2014-10-04 00:30] #64 closed, assigned to nobody

[2014-10-04 01:16] SiccarPoint opened #66 "Irregular grid plotting"
The plot.imshow method as is often does not plot some of the perimeter polygons. We either need it to colour all of these, or none of them.

This is a known display "issue" for voronoi_plot_2d, which we use. There is code to resolve it at the link I left in the code comments.

[2014-10-04 01:21] SiccarPoint opened #67 "node_slopes_using_patches for very large irregular grids"
mg.node_slopes_using_patches() becomes very slow for very large (10^5 nodes) grids. I think this is a consequence of storing ragged lists as matrices, so a single many faced polygon (likely in really big grids) can really affect speed disproportionately.

Can we think of a way round this? ...remove long lines from the matrix, solve the rest, then put these "back in" row by row afterwards?? Also ne

[2014-10-07 17:03] SiccarPoint opened #68 "module input/output"
Need to clean up and standardise io interfaces for modules. "Belt and braces" approach to always passing the grid appears unnecessary, but there does need to be a grid update technique (method to call?) that can update the internal grid if necessary.

DEJH is going to do this for his modules, and see how it goes.

[2014-10-17 19:20] SiccarPoint opened #70 "Unit testing of boundary conditions"
I have a suspicion that parts of LL might still not be using the right definitions of nodes, cells, and the derived "types" of those things ("core", "active"==not_boundary, "boundary"; "perimeter", "interior" for the specific case of a regular grid).

I'm particularly worried about calls to things like grid.number_of_active_cells.

Ensuring we have unit tests covering these cases seems essential.

[2014-10-21 23:21] mcflugen opened #71 "The landlab documentation is not building on readthedocs"
The landlab documentation on readthedocs is not building and probably hasn't been for some time. It appears that Sphinx is unable to find the `numpydoc` extension. It looks like it broke about three weeks ago with bb3c99b although I can't see why that would have broken things. Most likely it has something to do with the way readthedocs is building the documentation.

[2014-10-22 01:34] SiccarPoint opened #72 "has_field() is giving wrong answers"
Sorry to land this on you Eric, but I still don't really follow the nuts and bolts of the fields!

landlab.field.grouped.ModelDataFields.has_field() appears to be giving wrong answers. I get this:

Which is clearly wrong - mg.keys('node') confirms it. Could you debug? Thanks!

[2014-10-22 05:27] #71 closed, assigned to nobody

[2014-10-22 05:58] #72 closed, assigned to mcflugen

[2014-10-22 06:04] mcflugen opened #75 "Run tests in Travis OS X CI Environment"
Run tests in Mac OS X.

[2014-10-28 16:08] #31 closed, assigned to nobody

[2014-11-01 16:49] mcflugen opened #78 "Broken Unit Tests"
The unit tests are broken again. It appears they are failing on tests that involve functions like `calculate_steepest_descent_across_cell_faces` that now use masked arrays. @SiccarPoint, I think these are changes you added so I'm going to pass it over to you. Sorry.

It addition, `scipy.weave` is reporting warnings. They're not errors so maybe there's no problem there but it would be nice to clean

[2014-11-01 18:44] mcflugen opened #79 "landlab.test() runs differently than nosetests"
Running the unit tests from the Python interpreter like,

[code]

gives different results than when running with `nosetests`

[code]

This is the error that was first reported by @nicgaspar.

Some differences are:
- Tests are run in example folders
- Typecasting warnings are reported (as they should be!)
- netCDF4 tests are run even if netCDF4 support is disabled

The typecasting warnings should b

[2014-11-03 00:55] mcflugen opened #81 "Fix scipy.weave errors"
As reported in #78, on some machines the unit tests are failing on functions that use scipy.weave. I've opened this issue to contain information specific to the scipy.weave problem.

I've tried running the unit tests on two different Mac's (10.9 and 10.10 - gcc 4.2.1) and Linux (Ubuntu) and see the same errors. I've also tried using both the Anaconda and Canopy distributions of scipy as well as bu

[2014-11-17 23:25] brigidlynch opened #82 "Examples: Stream Power"
Having issues with any drivers from the examples folder that include stream power/ flow routing (coupled_driver, stream_power_driver). We've tried these on 4 different machines (3 OSX, 1 windows) and on only one (OSX) of them does the stream power component work to drive incision into the landscape. With the other three topography is essentially unchanged.

Same versions between all 3 macs, all us

[2014-11-19 04:46] #82 closed, assigned to nobody

[2014-12-06 20:53] mcflugen opened #83 "Deprecation of boundary_cell_count"
@SiccarPoint notes that the function `boundary_cell_count` should be deprecated as there are no boundary cells in the sense that this function thinks there is. However, @saisiddu disagrees. See `landlab/utils/structured_grid.py` for details.

It looks to me like `boundary_cell_count` makes sense but currently it returns the wrong number. Since perimeter nodes don't have cells, this function should

[2014-12-06 22:13] #79 closed, assigned to mcflugen

[2014-12-07 19:01] #78 closed, assigned to SiccarPoint

[2014-12-24 02:59] mcflugen opened #86 "Implement a BMI for stream_power component."
It was suggested that the stream power component would be a good one to wrap with a basic modeling interface. This will mostly be a wrapping of the `StreamPowerEroder` class so that it exposes the BMI methods.

[2014-12-24 17:46] mcflugen opened #88 "Tests that are failing are being reported as passing"
It seems as though tests are always being reported on Travis as passing, even when there are failures. Fortunately, I think all tests are currently passing in master so it shouldn't be a big deal yet. I believe it is due to `.travis/run_travis_test.sh` not returning the correct status code and _should_ be an easy fix.

[2014-12-24 19:14] #88 closed, assigned to mcflugen

[2015-02-11 23:59] brigidlynch opened #90 "write.netcdf"
I'm trying to use write.netcdf to get drainage area out of a driver I have built but get this error.

"ValueError: NetCDF 3 does not support type int64"

when I do get a netcdf file out it contains x and y coordinates and k_values but not the other two variables in the RasterModelGrid (topographic elevation or drainage area).

[2015-02-12 00:14] mcflugen commented on #90
@brigidlynch, would it be possible to supply a code snippet that reproduces the problem? It would be useful for debugging.

Two possible solutions:
* Use netcdf4, which, I think, supports 64-bit integers. To do this, you need to make sure the netcdf4 Python package is installed.
* Make sure your data are all floats. Can you verify that, indeed, all your data are floats? If not, do you require inte

[2015-02-12 01:12] brigidlynch commented on #90
Thanks,
I'll work on installing the netcdf4 package but we've had issues trying to install it in the past. At the end of the code below I was trying to make the data floats but I'm not sure if I was successful.

Here's the code for the driver:

from landlab.components.flow_routing.route_flow_dn import FlowRouter
from landlab.components.stream_power.stream_power import StreamPowerEroder
from landla

[2015-02-12 01:19] mcflugen commented on #90
Thanks!

I'll need your input files, too (maybe it's just `driver1_params.txt`?). Is it small enough to paste here?

[2015-02-12 18:07] brigidlynch commented on #90
#These values are for building the grid-
nrows:
100
ncols:
100
dx:
1.
dt:
1.
uplift_rate: #per time, not per timestep
0.001
run_time:
2.
init_elev:
0.
initial_slope:
0.

#These values are for running the process-
rock_density:
2.7
sed_density:
2.7
K_sp:
array
#0.5
m_sp:
0.5
n_sp:
1.
threshold_sp:
0.
#use_Q:
#True

#nonlinear diffuser:
kappa:
0.01
S_crit:
0.56

#linear diffuser:
DIFMOD_KD:
0.01

[2015-02-12 18:43] mcflugen commented on #90
I see the problem. One of the components you are using is creating a bunch of new fields and storing them in your `RasterModelGrid`. Some of these fields contain values that are of type `int64`. The full list of fields contained in you grid are:
* K_values (double)
* flow_receiver (int64)
* upstream_ID_order (int64)
* water_discharges (double)
* stream_power_erosion (double)
* topographic_elevatio

[2015-02-12 18:57] mcflugen opened #92 "Add *fields* keyword to `write_netcdf`"
Add a *fields* keyword to `write_netcdf` that will allow a user to write only specific fields to the file. See issue #90 for a description of why this might be useful.

[2015-02-12 21:25] brigidlynch commented on #90
Thanks for the help, I'll work on getting netcfd4 and see how that goes.

[2015-02-14 21:30] mcflugen commented on #90
@brigidlynch, I've added a *names* keyword to `write_netcdf` that allows you to specify a list of data fields to include in your netcdf file. This should allow you to only write the fields you want, which are all floats. This allows you to write to netcdf3, as long as the fields you want to write are not `int64`.

I've also expanded the documentation and added an example for [write_netcdf](http://

[2015-02-14 21:37] mcflugen commented on #92
Fixed with PR #93.

[2015-02-14 21:37] #92 closed

[2015-02-14 21:43] mcflugen opened #94 "Add load/save methods to ModelGrid"
It would be nice if a `ModelGrid` had `load` and `save` methods that would write a grid along with it's fields to various formats. To start with, this wouldn't be much more that wrapping `write_netcdf` and similar functions.

[2015-02-17 20:41] brigidlynch commented on #90
Thanks so much for working on this, unfortunately I'm getting some errors when implementing that code into my driver. When inputing the command you gave me I get:
[code]
I was expecting to get an error in the write.py file before the driver error so I wasn't quite sure how to debug this.
I worked with Brian a bit and we attempted to get all variables in the grid out rather than just drainage area

[2015-02-17 20:57] mcflugen commented on #90
It looks like you're still using an old version of landlab. Did you pull the latest version from GitHub? After getting the new version of the code, depending on how you installed landlab previously, you may need to reinstall it.

I think you also need to remove lines 132 and 133 from your script. Line 133, in particular, looks problematic. In it, you're assigning a numpy array to `mg` but then usi

[2015-02-28 19:19] mcflugen opened #95 "Fix failing unit tests"
Some of the unit tests are failing. It looks like they are mostly related to doctests in the `vegetation_ca` and `single_vegetation` components but are not all that serious.

[2015-02-28 20:39] mcflugen commented on #95
Fixed with PR #96.

[2015-02-28 20:39] #95 closed

[2015-04-01 19:48] brigidlynch opened #101 "read_netcdf"
Hi there,

I'm attempting to read in a discharge map into a driver using read_netcdf and then use this discharge in the stream power eroder. I've been following the code in the test_read_netcdf file and am not sure exactly how to get the data out of the files so that I can implement it into stream power. Would you be able to add a few comments to the read_netcdf file or look at my code and let me

[2015-04-01 22:28] mcflugen commented on #101
The `test_read_netcdf.py` file is for our unit tests so it's lacking documentation. However, I will definitely add documentation, with examples, to the `read_netcdf` function. The usual way of using `read_netcdf` would be something like the following,

[code]

where *nc_file* is the name of a netcdf file that describes a uniform rectilinear (raster) grid, and, optionally, some data values on the g

[2015-05-14 22:47] SiccarPoint opened #105 "Fields in the grid methods"
Most of our methods in the various grid classes look like:

I think this should be (or at very least, be compatible with calls that look like):

[2015-05-19 21:01] SiccarPoint opened #106 "Voronoi grid saves"
At the moment, mg.save() only works for rasters. Needs to be generalised for all grids.

Clearly esri ascii won't work, but Eric thinks netcdf will.

Could also add a Python-native cPickle as an option for saves.

[2015-05-26 15:13] SiccarPoint opened #111 "Add standard interface to all components"
All components need:
_name (str)
_input_var_names (set)
_output_var_names (set)
_var_units (dict)
_var_mapping (dict)
_var_defs (dict)

[2015-05-28 19:36] SiccarPoint opened #112 "Modify docs to emphasise up to date software"
Need to add text emphasizing users who already have Canopy/Anaconda need to *upgrade* them.

[2015-05-28 20:20] SiccarPoint commented on #112
This includes OLD LANDLAB, obviously...

[2015-05-29 22:01] SiccarPoint commented on #106
We now have in io.native_landlab save_grid and load_grid, and Voronoi can do vmg.save(), all exploiting pickling.

[2015-05-29 22:01] #106 closed

[2015-05-29 22:04] SiccarPoint commented on #94
Raster now has these, but Voronoi is currently only using the (new) native save functionality (see io.native_landlab). Would be nice to implement netCDF for irregular grids too, as this would give smaller files (?), better control over what gets saved, and also won't have the possible save-files-go-out-of-date issues that pickle will cause eventually.

[2015-05-29 22:07] SiccarPoint commented on #105
Beginning branch fields-in-grid-functions to work on this

[2015-05-29 23:07] SiccarPoint commented on #105
Completed, I think, for base.py.

[2015-05-29 23:33] mcflugen commented on #105
I wonder if it might be better to create a decorator to do this. Are you done working on `base.py` for a bit? Maybe I'll give it a try and see if it makes sense to go that route.

[2015-05-29 23:37] mcflugen commented on #81
Now that we use Cython instead of weave, this is no longer an issue.

[2015-05-29 23:37] #81 closed

[2015-05-29 23:43] mcflugen opened #114 "Add Python 3 Support"
landlab used to be compatible with Python 3.X. We stopped testing with Python 3 because we were using the `scipy.weave` module, which didn't work with Python 3. However, now that the `weave` code is converted to Cython, we should now be able to support Python 3.X again.

I guess the only question is if we should use the `2to3` tool or the `six` package. We were using `2to3` but I'm now thinking `s

[2015-05-30 02:32] SiccarPoint commented on #105
Yep, I’m done. I’ll hold off on anything else for a bit.

D

[2015-05-31 02:45] gregtucker opened #115 "Need list/array of node neighbors for all grids, not just RasterModelGrid"

[2015-06-01 00:58] gregtucker opened #116 "Fix bug (?) in route_flow_dn: "no module named cfuncs""
from landlab.components.flow_routing.route_flow_dn import FlowRouter

fr = FlowRouter(rg)

fr.route_flow()
Traceback (most recent call last):

  File "<ipython-input-25-81520d145347>", line 1, in <module>
    fr.route_flow()

  File "/Users/gtucker/Dev/Landlab/landlab/landlab/components/flow_routing/route_flow_dn.py", line 233, in route_flow
    use_weave=self.weave_flag)

  File "/Users/gtucker/D

[2015-06-01 01:45] SiccarPoint commented on #116
If I remember correctly (from talking to Eric when I think this happened to me), this is a compiler problem that is likely to only affect the core dev team. I think basically the dev install isn't clever enough to realize on its own there's now Cython in the repo.

TL;DR: Run python setup.py develop again and it should just work.

Eric may correct me if I'm wrong...?

[2015-06-01 02:08] mcflugen commented on #116
@SiccarPoint, I think you are exactly right. The extension libraries probably need to be build. This is only an issue for folks that have a development version of landlab that was installed before the Cython code was introduced into master.

[2015-06-01 17:08] SiccarPoint commented on #116
This issue should probably be publicised to the group...

[2015-06-01 18:07] SiccarPoint commented on #112
Docs for updating Landlab now added. Still needs a couple of sentences for Python installs.

[2015-06-01 18:19] SiccarPoint commented on #112
Completed.

[2015-06-01 18:19] #112 closed

[2015-06-01 18:27] SiccarPoint commented on #83
Disagree strongly here. The correct behavior in your example 1 would be:

0
# ...because all of the boundary *nodes* lack cells.

1 #because node 5 has a cell, and is now a boundary

Anything other than this behaviour would contradict our primitive element definitions. I have no problem with adding specialised methods explicitly handling the *perimeter* **nodes** though. Not sure if I like handlin

[2015-06-01 18:29] SiccarPoint commented on #70
Bump (does that even work on here?)

[2015-06-01 18:40] mcflugen commented on #83
Sorry. I'm getting confused but I think I'm in agreement with you, @SiccarPoint.

1. Perimeter nodes are the nodes around the edges. They do not have cells because they are missing links/faces and so have at least one "open" side.

2. Boundary nodes are nodes whose status is one of our boundary condition flags. These nodes can be perimeter nodes or non-perimeter nodes.

3. Is it true that a non-pe

[2015-06-01 18:43] mcflugen commented on #70
Yes, indeed, it does work!

I'll have a look at this. I'm pretty sure we have tests that cover the new naming convention. However, I don't think we have tests that ensure the old convention isn't still used.

[2015-06-01 19:21] SiccarPoint commented on #83
This is exactly right. Internal nodes all have cells, including the boundary ones, if we follow the various sketches etc we have.

And yes, this is the case with perimeter cells vs nodes. Though it might actually be useful to be able to access this "inner ring" in some cases (and not just cell cases - I hit some when coding up the Perron diffuser matrix solution on nodes).

[2015-06-01 22:17] SiccarPoint commented on #27
mg.node_slopes(), mg.hillshade() supersedes much of this functionality. Will do for now.

[2015-06-01 22:17] #27 closed

[2015-06-01 22:19] SiccarPoint commented on #22
I note that creating data on only active links is now not best practice, so hopefully this problem will go away on its own.

[2015-06-01 23:35] saisiddu commented on #27
But didn't we already have GIS styled slope and aspect routine. this method is called calculate_slope_aspect_at_nodes_Burrough(vals = 'Elevation'). This routine is in raster.py. Can we go through these routines and use one of them to avoid duplication?

________________________________
From: Dan Hobley <notifications@github.com>
Sent: Monday, June 1, 2015 3:17 PM
To: landlab/landlab
Subject: Re: [

[2015-06-01 23:37] SiccarPoint commented on #27
The functions I refer to above are generalised for all grids, so more powerful. I think they should give very similar solutions on a raster though. I lack the enthusiasm for cross-checking, but if you can face it, knock yourself out. I've not really used them much.

[2015-06-02 02:24] SiccarPoint commented on #27
(I should also emphasise all these functions are pretty old, I was just trying to close old issues for neatness!)

[2015-06-02 02:35] #116 closed

[2015-06-02 17:28] SiccarPoint commented on #29
One year later, I find myself wondering if the user can gain control over this at instantiation time? i.e., they can be implicitly linked for some grids, but not on others.

I find myself almost always wanting to work on nodes/links, so am not super invested in this...

[2015-06-02 18:11] mcflugen commented on #29
I think that values at nodes and values at cells are, in general, different. If they are ever the same, then that's just by coincidence.

1. If they were the same by definition then why even differentiate the two?
2. Some nodes don't even have cells.

Adding this linkage of values-at-cells and values-at-nodes to landlab grids would add significant complexity to the code and I'm not sure a lot of p

[2015-06-02 20:55] saisiddu commented on #29
I agree that values at nodes and values at cells should be different. Also, mapping should be purely via mappers and/or similar approaches but not by default. I use cellular grids mostly. So please do let us know if anything is changing regarding cells/cellular grids.

________________________________
From: Eric Hutton <notifications@github.com>
Sent: Tuesday, June 2, 2015 11:11 AM
To: landlab/lan

[2015-06-02 22:28] SiccarPoint commented on #29
Had no idea about the mappers. Eric, you must do a better job at showing us all the cool stuff you designed! ;-)

Looks good to me then. Looks like the mappers do exactly what I was envisioning.

[2015-06-02 22:28] #29 closed

[2015-06-02 22:35] SiccarPoint opened #117 "Modernize (?) grid initialization"
We should be able to override grid initialization params to instead take a parameter file, rather than forcing you to strip info out of your param file then feed it back in to grid.__init__ with your driver.

Would be fairly trivial I think, and would raise the fun options of being able to do things like invoke a standard init condition setup (e.g., flat surface + noise) using just a keyword in th

[2015-06-02 22:41] SiccarPoint opened #118 "Better way to track functions"
Conversation with Eric has revealed *yet another* set of Landlab functionality we already have but I had no idea about. This time it was grid.mappers, giving ways to automatically map from nodes to cells to links in most ways imaginable.

If I don't know about what's in the basic code base, our users certainly won't. We must have a better way of documenting or otherwise keeping track of all our me

[2015-06-19 14:57] gregtucker opened #119 "Link from/to and head/tail convention"
There seems to be an inconsistency in conversion of from/to terminology to tail/head terminology for links. Test code:

array([3, 3, 3, 3, 3, 3, 6, 6, 5, 2, 0, 4])  # 6 links FROM (ie, tails at) the center node, #3

array([6, 5, 2, 0, 4, 1, 4, 5, 2, 0, 1, 1])  # oops, these are the TO nodes (i.e., link heads)
We also need to clean up naming conventions for these variables (e.g., node_id_at_link_he

[2015-06-28 17:11] mcflugen opened #122 "Failing doctests in structured_grid"
There a some failing doctests in the `landlab.utils.structured_grid` module.

[2015-06-28 17:50] mcflugen commented on #122
Fixed with PR #123.

[2015-06-28 17:50] #122 closed

[2015-06-29 17:44] mcflugen opened #124 "Broken unit tests"
The unit tests seem to be broken again. It can't be anything too major. I'll have a look.

[2015-06-30 05:24] mcflugen commented on #124
Fixed with PR #125.

[2015-07-01 16:39] mcflugen commented on #124
The tests are broken again. I don't think it's anything major. Some doctests in the `cellular_automata` component aren't importing `landlab`. Probably just adding

    import landlab

before these doctests should fix things.

[2015-07-04 16:09] gregtucker commented on #124
I added import statements to the doctests in cellular_automata, which seems to have fixed these test failures. I'm also seeing failures related to netcdf. The tests seem to think I don't have netCDF4 installed, but when I run pip it thinks I have them:

Gregorys-MacBook-Pro:cellular_automata gtucker$ pip install netcdf4
Requirement already satisfied (use --upgrade to upgrade): netcdf4 in /anaconda

[2015-07-04 16:31] mcflugen commented on #124
Do you know how you installed `netcdf4`? Was it with `pip`? Try uninstalling `netcdf4` and then reinstalling with conda. So,

    $ pip uninstall netcdf4
    $ conda install netcdf4

[2015-07-04 17:20] gregtucker commented on #124
netCDF4 isssue now resolved by using conda to install. link_orientation issue fixed in the cellular automata module.

[2015-07-11 17:58] mcflugen commented on #114
This is fixed with #121.

There were lots of changes to lots of files but most of the changes are minor. Most of the changes were things like:

* Use the print function. This is done either `form __future__ import print_function` or using `print_` from `six`.
* In Python 3 there is no `xrange`, just `range` (which acts like `xrange`). So code that use `xrange` now uses `range` from `six.moves`.
*

[2015-07-11 17:58] #114 closed

[2015-07-11 18:01] mcflugen opened #127 "Migrate travis to new container-based infrastructure"
Travis now uses a container-based infrastructure, which is supposed to be much faster.

[2015-07-11 18:07] mcflugen opened #128 "Standardize naming convention for grid elements"
We've decided on a new naming convention for referring to the elements of a grid. We now just need to implement the convention.

The old way:
* cell_node

The new way:
* node_at_cell

[2015-07-11 18:11] mcflugen commented on #128
This conversion should be done on the topic branch **fix-issue-128**.

[2015-07-16 18:15] mcflugen commented on #124
Broken again.

The offending files appear to be:
* `landlab/components/flow_routing/lake_mapper.py`
* `landlab/grid/structured_quad/links.py`

It looks like super-easy fixes but I don't have time to get to it right now.

[2015-07-16 18:21] mcflugen opened #130 "Documentation about running tests"
There seems to be some confusion about how to run the landlab tests and how they work with Travis and AppVeyor. I think better developer documentation is needed regarding testing. There is some stuff here:

http://landlab.readthedocs.org/en/latest/dev_guide_install.html#testing-the-landlab-installation

but it's a little out-of-date. Need to update `docs/dev_guide_install.rst`.

[2015-07-16 18:24] mcflugen opened #131 "Documentation about building wheels"
Right now @mcflugen is the only one that knows how to build landlab wheels. Although it's good job security for him, it would be better if everyone on the team could build new wheels for the supported platforms and Python versions. We need documentation for this.

[2015-07-16 18:37] jadams15 commented on #124
I'm going to work on fixing some of the errors in links.py starting now.

[2015-07-16 18:42] nicgaspar commented on #131
I’m pretty sure mcflugen already has plenty of job security!

[2015-07-17 18:19] mcflugen commented on #124
All tests are passing again!

[2015-07-17 18:19] #124 closed

[2015-07-21 15:03] gregtucker opened #132 "Use of keywords vmin and vmax in imshow_node_grid"
I'd like to be able to control the color range in imshow. The matplotlib documentation claims that one can do this with the vmin and vmax keywords. However, when these are passed to imshow_node_grid, the following results:

  File "/Users/gtucker/Documents/Papers/_InProgress/CellLab-CTS/Models/turbulent_suspension_with_settling_and_bleaching.py", line 362, in go
    imshow_node_grid(self.grid, 'os

[2015-07-21 20:42] SiccarPoint commented on #132
Error in the docs; I'll fix it.

You actually want to use the keyword limits=(vmin, vmax) to set these, as described (correctly) in the docstring for imshow_node_grid.

[2015-07-21 23:50] SiccarPoint commented on #132
imshow_node_grid now happily takes vmin and vmax as keywords, as alternatives to the existing kwd limits. Note this also means you can now also readily specify either limit alone, per imshow proper.

[2015-07-21 23:50] #132 closed

[2015-07-24 15:29] mcflugen opened #133 "Broken doctest on Windows and Python 3"
There is one failing doctest on Windows using Python 3. The broken test is for the `ModelGrid` method, `_assign_boundary_nodes_to_grid_sides`. It's a pretty minor failure that doesn't really matter but would be nice to fix up.

[code]

[2015-07-25 18:29] gregtucker commented on #90
Brigid, Eric,
I ran into this problem too today. I didn't need 64-bit integers---my data array has only 0's and 1's. I could maybe have tried a binary field, but instead went with numpy's type uint8, which seems to work fine with NetCDF 3:

some_field = mg.add_zeros('node', 'my_field', dtype=numpy.uint8)

[2015-07-27 15:03] gregtucker commented on #133
Is the dtype platform-dependent? If so, is there a way to report the array contents without specifying what flavor of int it contains?

[2015-07-27 15:04] gregtucker opened #134 "Do we currently have support for netCDF and/or VTK output for hex or unstructured grids?"

[2015-07-27 15:11] SiccarPoint commented on #134
I don't believe so. This was the main motivation for my introduction of a "landlab native" save method, which uses pickle.

See landlab.io.native_landlab:
https://github.com/landlab/landlab/blob/master/landlab/io/native_landlab.py

[2015-07-27 16:48] mcflugen commented on #133
Yes, the dtype of arrays is platform-dependent. Depending on the platform (and, it seems, the Python version) integer arrays are not always created with their dtype being the native integer type.

We could certainly make the doctest pass by converting the array to a particular flavor of integer. However, I think that's really just masking an underlying problem. That is, sometimes our element ID ar

[2015-07-27 17:07] mcflugen commented on #134
That is correct. However, I think we have all the tools required to write unstructured grids to VTK (and might already even work for writing). For netCDF, we should probably look to the UGRID standard for unstructured grids (https://github.com/ugrid-conventions/ugrid-conventions).

As @SiccarPoint says, we can use pickles for storing grids. Advantages are:
* Easy to implement
* One-liners to read

[2015-07-27 17:10] SiccarPoint commented on #134
Agreed. IIRC I noted much of this in the docstrings for my pickling methods.

We certainly need both! I just added pickling first as I don’t understand these open source formats well enough to do it myself, and better some way to save irregular grids than none at all…

D

[2015-07-30 02:28] SiccarPoint opened #135 "Better handling of fixed_gradient BCs"
I've been playing with the set_fixed_gradient_Cs_at_grid_edges() method I hade ages ago. Basically, it sucks (as also noted by Jordan last week).

Need to replace it with a mechanism based around links, not nodes.

[2015-07-30 18:57] jadams15 commented on #135
Thoughts on fixed gradient conditions: we *may* want to assign fixed gradient condition to links between a closed boundary node and a perimeter node. I've started playing around with this idea, but nothing concrete yet. This would be especially important in equations like de Almeida where you need to look at neighbor links and we want the "boundary" link neighbors to have a fixed gradient. In the

[2015-08-05 20:00] mcflugen commented on #131
Thanks, @nicgaspar!

Fixed with #137.

[2015-08-05 20:00] #131 closed

[2015-08-05 20:00] mcflugen commented on #130
Fixed with #137.

[2015-08-05 20:00] #130 closed

[2015-08-05 20:53] mcflugen commented on #90
I'm going to close this since netcdf3 doesn't support `int64` arrays, which is beyond our control.

@gregtucker, I don't believe either netcdf3 or netcdf4 supports binary arrays. As you say, they both support `uint8` arrays, though. However, I notice that the netcdf3 writer (from *scipy*) writes `uint8` arrays as string arrays, which isn't great and a little confusing to read back in.

[2015-08-05 20:53] #90 closed

[2015-08-24 21:36] jadams15 opened #140 "get_link/active_link_connecting_node_pair() broken?"
Using get_link_connecting_node_pair() and get_active_link_connecting_node_pair() both seem to be broken in RasterModelGrid...

Example behavior....

array([10])

This should return ID of 20 per our new numbering scheme. so this is just outdated (old numbering scheme). We already know about this problem but it needs to be fixed. The REAL problem is below:

array([], dtype=int64)

So now NO link is

[2015-08-24 21:45] mcflugen commented on #140
This function should be removed. Since we no longer have different numbering schemes for active links and links, this function is the same as `get_link_connecting_node_pair`. Right?

[2015-08-24 21:50] SiccarPoint commented on #140
I’m fairly sure I also concluded these where really quite broken recently. Need removing/replacing.

IIRC they’re also reeeeeeally badly written (i.e., super inefficient).

Am I right in thinking get_link_connecting_node_pair is only for raster though? We need generalised methods too…

D

[2015-08-24 21:53] jadams15 commented on #140
well, I think there should be a case where, if the link is inactive it SHOULD return an empty array (get_active_link_connecting_node_pair), while if you want all links (active and inactive) it would be get_link_connecting_node_pair.

That being said, yes they are broken. I raised this issue in case they are used anywhere else in the code. I want to go in and hack them up and make them faster. I wi

[2015-08-24 22:04] mcflugen commented on #140
`get_link_connecting_node_pair` seems pretty fast. It also seems general and, if so, should be moved to `ModelGrid`. I imagine a slightly faster version could, if necessary, be written for a raster grid.

`get_link_connecting_node_pair` looks good to me. @jadams15, you think it's broken? It definitely needs a better docstring and some example doctests but it seems like it should return the correct

[2015-08-24 22:27] mcflugen commented on #140
Sorry. Yes. Definitely broken. I'll fix it.

[2015-08-24 22:36] SiccarPoint opened #141 "Mappings without fields"
I want to be able to do link-node mappings internally to a component in some cases, i.e., without being compelled to create and maintain fields on both the links and nodes of the grid of these values.

How can I do this? I'm right in assuming grid.mappers compels this, yes?

[2015-08-24 22:55] mcflugen commented on #141
Is something like the following what you are looking for? This takes the values at the node on a link's head and puts it on the link (without creating a new field).

[code]

Of course this uses an outdated naming convention but `values_at_links` should now have, for every link, the value at its corresponding head node.

[2015-08-24 23:01] SiccarPoint commented on #141
Kind of, but I want ALL of the options available through the mappers… averages, maxima, minima, absolute maxima, upwind, downwind, etc etc etc.

Also, we MUST MUST MUST talk about structure ASAP. Field maps live in grid.mappers, but other maps live inside the grid class? That’s insane.

[2015-08-25 00:57] mcflugen commented on #141
Each of the mapper functions in `mappers.py` should have an optional keyword argument (like maybe `add_field`, which is a boolean?) that indicates a new field should be created. Another option would be an `out` keyword (like with ufuncs) that indicates where to put the new values (or `None` if a new array should be created). Each function should also return a reference to the array of values that

[2015-08-25 00:59] SiccarPoint commented on #141
If that’s  thing, we should *totally* be doing that!

I like the sound of all of this. Let’s discuss on wed?

D

[2015-08-25 01:53] jadams15 commented on #140
OK. Thanks Eric! I'm happy to help work on these as well. I wanted everyone to be aware of the issue in case it was widely used (I couldn't find many instances on the master branch but there could be individual problems).

[2015-08-25 15:47] jadams15 commented on #141
Ok. The more I think about this, the more I'm confused. For simplicity, I think the add_field keyword is the key here. That and moving the appropriate mappers to the appropriate grid files. (So my link mappers, which I think are only applicable to raster, would be owned by raster.py, while the ones Eric coded up would be owned by base.py). It seems like that should address the organization problem

[2015-08-25 15:52] #140 closed

[2015-08-25 15:58] mcflugen commented on #140
I'm not sure if I fixed the problem to your satisfaction or not however `get_link_connecting_node_pair` at least works now. There are some significant changes to its behavior:
* `get_link_connecting_node_pair` only operates on a single node pair. That is, you can't get the links connecting a bunch of node pairs.
* If nodes aren't connected or are the same node, raises `ValueError`.
* The return va

[2015-08-25 16:05] jadams15 commented on #140
That sounds like exactly what I needed! Thank you! I think in the future there may be a need for a function that can handles arrays of nodes (so array of node_a and array of node_b) but I can think on that - the functions we had now were a little slow to do anything fancy like that.

The only reason I was lobbying for keeping get_active_link_connecting_node_pair was so that if there was automatic

[2015-08-25 16:07] SiccarPoint commented on #141
I think (correct me if I’m wrong) Eric is envisioning embedding calls to these external functions within the grid, such that you can do either, e.g.,

		True

Right? Under the hood, the mg method is just calling the external mapping function, so we avoid a bunch of duplication. (Tho we’ll need to find a way to port docstrings effectively, so doing mg.map_node_to_link? still gives useful info)

I l

[2015-08-25 16:30] jadams15 commented on #141
Gotcha! Thanks for that.

[2015-08-26 05:48] #128 closed

[2015-09-15 20:42] jadams15 commented on #135
We've successfully implemented new fixed_link boundary conditions into the master branch. For a raster this is "set_fixed_link_boundaries_at_grid_edges". In base.py there is a new function called "set_nodata_nodes_to_fixed_gradient". Old stuff is still in there ("set_fixed_gradient_boundaries") but is noted as deprecated, per version 0.29.

[2015-09-15 20:42] #135 closed

[2015-09-16 21:47] brigidlynch opened #146 "Inputting discharge issue"
I realized that when I input my own discharge into my driver and add the field as
 ```water__volume_flux = mg.add_field('node', 'water__volume_flux', water__volume_flux)``` it is being overwritten in the flow routing component and this discharge is then being used in the stream power component (or at least that's what I believe is going on because the output discharge has a minimum value of 2500 i

[2015-09-25 22:11] saisiddu opened #147 "Is FlowRouter.route_flow working properly?"
Please check the attached code.

Code:
import numpy as np
from landlab import RasterModelGrid as rmg
from landlab.components.flow_routing.route_flow_dn import FlowRouter

grid = rmg(4,5,1.)
z = np.array([5., 0., 5., 5., 5.,
                 5., 1., 2., 2.5, 5.,
                 5., 3., 4., 3., 5.,
                 5., 5., 5., 5., 5.])

grid['node']['topographic__elevation'] = z
grid.set_closed_bou

[2015-09-29 19:21] saisiddu commented on #147
Probably, the issue is with the recognition of core and boundary nodes.

[2015-09-29 19:35] jadams15 commented on #147
So, based on your e-mails, it sounds like you set a perimeter node to a core node status? I thought we had all agreed that all perimeter nodes MUST be boundary nodes of some kind. I believe the standard is fixed_value_boundary (node_status==1). Someone, please correct me if I'm wrong... but if I'm understanding everything correctly that could be part of this problem?

If we do allow for boundaries

[2015-09-29 20:03] SiccarPoint commented on #147
I've figured out the problem. It's that you can't do a node status re-assignment like you are, i..e,

...without then also calling:

This is because you're only resetting the BC status of the nodes right now - so the links are still closed leading into the node until you call this. We have notes to this effect somewhere in the documentation (...tutorials???), but agree it's not clear. Note that al

[2015-09-29 20:03] #147 closed

[2015-09-29 20:07] SiccarPoint opened #150 "BC assignment"
As Sai has discovered, when interacting with BCs, you often want to set the condition of a single node manually. It's very tempting to do:

...but this is a BAD IDEA unless you know what you're doing, as it will only update the *node* statuses, not links, cells, etc.

We already have mg.update_links_nodes_cells_to_new_BCs(), but you have to *know* to call it. Obvious solutions are:

1. Make mg.nod

[2015-09-29 20:16] saisiddu commented on #147
Thank you guys! I kind of guessed that the issue is with node/link status.

Here is another question: How do you assign a basin exit (to collect the output flow from a basin)?

[2015-09-29 20:19] jadams15 commented on #147
I would assign a fixed value boundary to your outlet. You can still update that boundary value dynamically in the code.

[2015-09-29 20:23] saisiddu commented on #147
But, if I do that, flow router doesn't consider this node as a core node and hence wouldn't drain to it. Am I correct in saying that?

I want to drain a basin to the outlet node. How do I get flow router to recognize this basin outlet as a node to consider draining to?

[2015-09-29 20:28] nicgaspar commented on #150
Good find.  This seems really dangerous.  I like your second solution.

[2015-09-29 20:29] nicgaspar commented on #147
It needs to be an open boundary node.

[2015-09-29 20:30] jadams15 commented on #147
we don't have a "open boundary" status, I don't think? isn't that what fixed_value is?

[2015-09-29 20:30] jadams15 commented on #147
(At least in our case...)

[2015-09-29 20:30] SiccarPoint commented on #147
No, that’s not right. BC types 0-3 are all “open”, so can receive flow. Only closed nodes (4) can’t.

Core nodes simply means “not boundary”.

[2015-09-29 20:32] saisiddu commented on #147
So, will flow_router (route_flow_dn.FlowRouter.route_flow) recognize an open boundary node (0-3) on the boundary (perimeter) and drain to it?

[2015-09-29 20:32] jadams15 commented on #147
Ok. I understand now. I am pretty much exclusively using node BC 2 now, but don't allow flow outside of my core nodes. I set up my boundary conditions such that my outlet *is* a core node... thus my confusion.

[2015-09-29 20:34] saisiddu commented on #147
So, should we be able to use inbuilt system, to label all perimeter nodes as boundary nodes, to our advantage? I think, we should only convert one of the boundary nodes to an open node to drain to it. Isn't that right?

[2015-09-29 20:49] SiccarPoint commented on #147
Yes. Your code was exactly right, you just need to add

in place of your line

I'm 99% sure that if you aren't getting draining to node types 0-3, you are probably doing something else unexpected. Will need to see code again.

[2015-09-29 20:50] SiccarPoint commented on #147
(should emphasise, I'm thinking how to remove the need for calls to mg.update...() as a separate issue now)

[2015-09-29 20:56] saisiddu commented on #147
Thanks Dan! I will try the above fix.

[2015-09-29 21:17] SiccarPoint commented on #150
I think a good solution will be to replace mg.node_status in all its current uses with mg._node_status, as we should be discouraging users from messing with it directly. Then we do...

[code]

This should work, right?

[2015-09-29 21:18] SiccarPoint commented on #150
Nudge @mcflugen...

[2015-09-29 21:19] SiccarPoint commented on #150
Oooh, also, we could also add to the __setitem__ override to incorporate a test to stop users being able to set perimeter nodes as core. That would seem sensible...

[2015-09-29 21:50] mcflugen commented on #150
One way to do this is to make `node_status` a property and decorate it with `make_return_array_immutable` (defined in `landlab/utils/decorators.py`). This creates a view of the array that has the `writable` flag set to `False`. We already do this with other arrays we don't want users messing with. In fact, I was just about to do this with `node_status` with my latest code clean-up.

We could also

[2015-09-29 21:59] SiccarPoint commented on #150
This sounds good, Eric. Are you on this? I’ve just spent half an hour reading about decorators, and concluded I don’t get it. So that might be a good call if you do it. (Though equally, I should probably make more effort with decorators)

I do note though that a common use case will be

    node_status[2] = 1

So if I’m reading it right your example setter will fail when it tries new_node_status[:

[2015-09-29 22:04] SiccarPoint commented on #150
...Also, I was just messing about with this, and couldn't get the setter as you are doing it to "take" in my simple use case above. Isn't it the case that the setter only gets called if I do

[code]

...but the very, very common usage is

[code]

which is the direct equivalent of

[code]

...which would be very troublesome.

[2015-09-29 22:14] mcflugen commented on #150
You are correct. The method I described was only for setting the `node_status` attribute - not an element of the array. If that's something we need, we could do one of the following:
- Overload `__setitem__` for the node_status array - as you suggested.
- Create a new method to do the setting (maybe `def set_status_at_node(self, ind, status)`) where `ind` is one or more indices and `status` is one

[2015-09-29 22:18] SiccarPoint commented on #150
Thanks Eric. I also think the former would be way nicer, if we can arrange it. This is the way that is instinctive to do it...

[2015-09-30 04:52] mcflugen commented on #150
#151 gives an initial shot at this.

Notice that the new getter/setter for `node_status` is called, `status_at_node`. The `node_status` attribute is still as it was before. With `status_at_node` you should be able to do things like,
[code]
and have things update correctly.

The following example now works as @saisiddu expects.
[code]
The value of `r` is,
[code]

[2015-09-30 05:12] SiccarPoint commented on #150
Just wondering what the rationale was for the new name, instead of node_status->_node_status, mg.node_status becomes the property?

[2015-09-30 05:15] mcflugen commented on #150
This is one of the things I had in mind when I said the pull request wasn't complete. The `node_status` attribute should definitely be changed to `_node_status` so that it's private. I just wanted to try this out quickly before going through the code with a search/replace.

However, `status_at_node` does fit with the new naming convention we talked about.

[2015-09-30 05:18] SiccarPoint commented on #150
Sweet. Just happy it works!

[2015-09-30 14:45] mcflugen commented on #150
What do you all think of (the existing) methods like:
* `boundary_node_status`
* `get_node_status`
* `get_boundary_code`
* `set_fixed_value_boundaries`

There are probably others. Personally, I think if we go this new way, we should get rid of all of these functions (and some of them we should get rid of no matter what).

[2015-09-30 14:54] mcflugen commented on #150
What about the name? I had temporarily called it `status_at_node` so it wouldn't conflict with everything that was already there. However, it would be easy enough to have it be `node_status`. `status_at_node` is longer but it fits in with other names we're using (`cell_at_node`, `node_at_cell`, etc.)

[2015-10-01 01:58] SiccarPoint commented on #150
I like status_at_node!

[2015-10-01 03:52] mcflugen commented on #150
OK. `status_at_node` it is!

[2015-10-14 19:06] jadams15 opened #155 "Pit filler"
This came up during our last call. ArcGIS D8 pit filling is not sufficient for the overland flow component, as that operates in D4. Could be a useful utility to have a pit filler algorithm that operates in D8 by default and functions as D4 when flagged by the user to do so.

[2015-10-14 19:09] jadams15 commented on #155
I've reached out to one of Garry Willgoose' (former?) students about some Cythonized pit fillers he wrote for an Australian modeling conference. Otherwise I'm going to take a crack at this.

[2015-10-15 18:43] SiccarPoint opened #156 "shape and ordering incompatibilities"
mg.node_links().shape = (4, nnodes)  # SWNE
mg.calculate_gradient_across_cell_faces(z) = (ncells, 4)  # ENWS

SO STUPID. STILL.

[2015-10-15 18:44] jadams15 commented on #156
agreed! drives me crazy!

[2015-10-15 18:45] SiccarPoint opened #157 "A way to extract gradients at active links (related to #156)"
This is now a nightmare to do cleanly. Ideas?

[2015-10-15 19:32] mcflugen commented on #156
Any preference on which way we should go with?

Because Python's row-major, I suspect, for most grids, it's faster to create these sorts for matrices as `(4, nnodes)`: first get all the east links, then north, west and south links and stack them on top of one another.

However, for most use-cases, it's probably better as `(nnodes, 4)`: users will want to get all the links for each node and then lo

[2015-10-15 19:34] jadams15 commented on #156
I thought the agreed upon convention was SWNE. all of the functionality I've worked on for links now returns arrays in this manner. That said, I can change it if the consensus is ENWS.

[2015-10-15 19:41] mcflugen commented on #157
Could you give an example of the problem and then how you think it should be?

One example, which should work, is
[code]
This is not ideal since gradients are calculated at every link, not just active ones. However, it seems pretty clean. Does `calculate_gradient_at_active_link` not do what you're wanting?

[2015-10-15 19:44] mcflugen commented on #156
Sorry. I didn't mean we should change the ordering. It was just an example. Whatever ordering we're using now, we should probably stick with.

[2015-10-15 19:45] SiccarPoint commented on #156
Consensus is definitely SWNE. It’s just a SODOIT issue. Note, pleasingly, that SWNE = ENWS[::-1], which makes converting existing uses easier (and ::-1 is a very cheap Python index operation).

The (x, nnodes) vs (nnodes, x) needs a consensus decision still. Let’s do it tomorrow.

D

[2015-10-15 19:45] SiccarPoint commented on #157
If we re-preciate (!) those link functions per slack discussion, I think that solves this issue.

[2015-10-15 19:49] mcflugen commented on #157
Perfect. After hearing from @jadams15 and @gregtucker, I had already re-precated them (in the `mcflugen/add-gradients-module` branch).

[2015-10-15 21:19] SiccarPoint opened #159 "Bug in voronoi instantiations"
I am struggling to create spatially large voronoi grids.

This is fine::
    x, y = np.random.rand(nnodes), np.random.rand(nnodes)
    mg = VoronoiDelaunayGrid(x,y)

This throws the following error::
    x, y = 1000.*np.random.rand(nnodes), 1000.*np.random.rand(nnodes)
    mg = VoronoiDelaunayGrid(x,y)

=>

/Users/danhobley/git_landlab/landlab/grid/voronoi.pyc in __init__(self, x, y, reorient_link

[2015-10-16 17:00] jadams15 opened #160 "bug in west bijou gully example"
jordan will fix. leaving note here so i don’t forget!

[2015-10-16 23:24] SiccarPoint opened #161 "Fixed links"
Question: Is a fixed_link an active link?

So, if I call mg.number_of_active_links, and I have fixed links inside, do they count or not?

[2015-10-16 23:25] jadams15 commented on #161
they should absolutely not. if they do let me know and i will squash that bug!

[2015-10-19 16:49] SiccarPoint opened #162 "purge 'id' from field, function names"
Need to get rid of usage of ID or id from field (& non-deprecated function) names.

e.g.,

'upstream_id_order' -> 'upstream_node_order'

[2015-10-20 21:59] SiccarPoint opened #166 "Delete a field"
It should be possible to delete a field.

kind of works, but if there's units, they stay. It should be possible to perform a clean delete, as

[2015-10-21 06:25] SiccarPoint commented on #166
Successfully addressed by merge #167.

[2015-10-21 06:25] #166 closed

[2015-10-21 06:28] SiccarPoint commented on #155
Hold up - we now have two new components. The lake_mapper now performs transient routing (i.e., of water) across depressions, and the new sink_fill component can modify an existing topo to allow clean routing of flow across the whole landscape.

Does either of these address your needs? D4 routing isn't implemented in either yet, but in principle isn't hard.

[2015-10-21 17:02] jadams15 commented on #155
Where is this new component? Does it create flats or inclines? Flats are sufficient for my case, but it would be good functionality to have both. I can take a look and see if I can adapt it for d4.

[2015-10-21 17:07] SiccarPoint commented on #155
I can probably do the D4 today anyway. There's a pull request open for it right now: #168. No-one is assigned yet.

[2015-10-21 17:28] jennyknuth commented on #155
Just assigned this to Jordan (took Eric off since it sounds like Jordan
wants to look at it anyway).

On Wed, Oct 21, 2015 at 11:07 AM Dan Hobley <notifications@github.com>
wrote:

[2015-10-21 17:50] jadams15 commented on #155
OK. Should I wait to review until you've added d4? Or do you want me to look at it now. Either works.

[2015-10-21 17:55] SiccarPoint commented on #155
Review what’s there. The D4 can be a separate thing.

[2015-10-21 17:56] jadams15 commented on #155
Ok. Can do.

[2015-10-25 17:22] mcflugen opened #171 "Core cells incorrectly updated on node-status change"
I could be wrong but it seems the core cells are not being updated correctly after a node status change. For example,
[code]
I think what's happening is that the old-style indexing is still being used here. That is, *core cells* have their own indexing. Probably, then, `ModelGrid._reset_lists_of_nodes_cells` needs updating. It needs updating not just for the indexing problem but also it's using ol

[2015-10-25 17:30] mcflugen opened #172 "Deprecation of redundant imshow functions"
There are several functions in `landlab.plot.imshow` that I think we should deprecate (remove, really).
I suggest the following functions be removed:
* `imshow_active_node_grid`: wrong terminology (*active* instead of *core*) and `imshow_node_grid` masks out non-core nodes anyway.
* `imshow_core_node_grid`: correct terminology but `imshow_node_grid` does, pretty much, the same thing.
* `imshow_act

[2015-10-25 17:58] SiccarPoint commented on #172
I have zero problems with this.

[2015-10-25 18:00] mcflugen commented on #172
Thanks. I will go about removing these functions, then.

[2015-10-25 18:01] SiccarPoint commented on #172
Maybe best check with @saisiddu first. I have a feeling he put them in there, and is the only person really using cells extensively. (Could also have been @gregtucker).

[2015-10-25 18:21] mcflugen commented on #172
@SiccarPoint , `imshow_active_node_grid`, `imshow_core_node_grid`, `imshow_active_cell_grid` are used in *video_out.py*. I think that's yours. OK if I just get rid of those options for the *data_centering* keyword?

[2015-10-25 19:48] SiccarPoint commented on #172
Yup.

[2015-10-26 18:03] SiccarPoint opened #174 "Grid terminology"
Just realised I don't have a solid grasp on how we're referring to our grid subclasses. In particular, I've got myself confused on the various flavors of regular grid. Is this true?

Structured Quad: any grid where each core node has four and only four links. In principle, the lattice could be deformed (unequal x and y across grid). We can't support any of these apart from RASTERS though.
Raster =

[2015-10-26 18:07] SiccarPoint commented on #174
I should say, this is relevant because I want to make the type introspection tests for the grid (i.e., mg.is_raster()), but want to actually name them correctly. This also needs to be right in docs, in examples, in papers, basically everywhere.

[2015-10-26 18:25] mcflugen commented on #174
These are the terms I usually use:
**uniform rectilinear**: rectilinear grid with constant spacing in x and y (the x-spacing and y-spacing can be different, though)
**rectilinear**: rectilinear but the x and y spacing can change.
**structured-quad**: A grid of quadrilaterals where a cell's four neighbors are determined by its id.

In the past, I had never assumed that **raster** meant dx == dy. I

[2015-10-26 18:32] SiccarPoint commented on #174
But that rather misses the key one - when you instantiate what we call a RasterModelGrid, you get a square grid. And that’s defacto how we’re defining rasters, and a quick glance at the code base tells you this has propagated a lot outwards into the component code.

[2015-10-26 19:57] mcflugen commented on #174
I think we should change that. We should create a `RasterModelGrid` something like,
[code]
We should be backwards compatible, of course (default is `dx=dy=1`, `x0=y0=0.`). I realize there's more to it than that, but it's something we should do. I don't think it will be that hard. (As an aside, in regards to another discussion, this is an example of somewhere, I think, it makes sense to give x-y co

[2015-10-27 00:55] SiccarPoint opened #175 "Voronoi lake_mapper"
Lake mapper needs to work for, and be tested on, irregular grids. It should fill on VD, but almost certainly won't reroute.

[2015-10-28 17:13] jadams15 commented on #161
to address this further, I think of FIXED_LINKS a lot like I think of FIXED_VALUE_BOUNDARY (although they are directly equivalent to FIXED_GRADIENT_BOUNDARY). When you call mg.core_nodes, that won't return a FIXED_VALUE_BOUNDARY or a FIXED_GRADIENT_BOUNDARY node. therefore, mg.active_links shouldn't return FIXED_LINKS. Does that make more sense?

[2015-10-29 18:36] SiccarPoint opened #179 "Incorrect uses of dx in components"
This attempts to be a comprehensive list of places where we erroneously now assume dy==dx in the components. I fixed the obvious ones in a new branch; here's what's left:

* generate_overland_flow_deAlmeida. dx in stability analysis that produces gear_time_step at L213. Courant at L391, 433, 436.
* generate_overland_flow_Bates. dx in gear_time_step as above, L166.
* glacier.py. L51, separate dx fr

[2015-10-29 19:10] jadams15 commented on #179
So, in my components, I need dx == dy (at least, I'm almost positive of this, but I have to revisit the paper where this was derived). What is it exactly that needs to be done?

[2015-10-29 19:11] SiccarPoint commented on #179
Really? Huh. In that case, make sure to document it as such, and put in an assertion to check during init...

[2015-10-29 19:14] jadams15 commented on #179
I am certain it requires what they call a "structured" grid. While that can mean dy != dx, I don't know if their derivation allows for that. I will check on that.

Regardless, if this is very super pressing, someone else will have to handle it, because it likely won't be done by me before next week. FYI.

[2015-10-29 19:16] SiccarPoint commented on #179
Absolutely no rush. It also looks a lot like it’s not going to be hard - I think you’ll just need to modify your stability conditions with min(dy, dx), rather than just (dx).

[2015-10-29 20:27] jadams15 commented on #179
Excellent, thanks. For time step, it will just be the min(dx, dy) but if it does allow for dx != dy I’ll have to add extra stability criteria tests for the y-direction. With dx==dy, there are only 4 if statements required. It won't be too difficult but will require some testing and time that I just don’t have right now!! Will get to it ASAP. I don’t know what glacier.py is and will be assigning @s

[2015-10-29 20:27] jadams15 commented on #179
wait - we can’t have two assignees?! what gives, github!

[2015-10-29 20:28] SiccarPoint commented on #179
Yeah. I discovered that too.

[2015-10-29 20:51] mcflugen commented on #179
@jadams15, @saisiddu, I think all you need to do right now is make sure you don't use `grid.node_spacing` (it's going away soon) but instead `grid.dx`. If you don't want to (or can't) support `dx != dy`, check that the row and column spacings are the same (in `__init__.py`) and raise `ValueError` if they aren't.

I hope, though, that it won't be too hard to change things to deal with `dx != dy`.

[2015-10-29 21:00] SiccarPoint commented on #179
Check that I didn't already do this in the merge I just sent to mcflugen's branch though, guys! I *think* the only outstanding issues are the ones listed up top, but of course, you know these components better than me.

[2015-10-29 21:16] jadams15 commented on #179
Gotcha. I exclusively use grid.dx in my code, so no worries on that front. Thanks everyone!

[2015-10-29 22:19] saisiddu commented on #179
I will get to these issues this weekend. Sorry, I will request help on 'code reviews' as I am doing this for the first time.

glacier.py: I will check how dx is used and will try to make the suggested changes.

________________________________
From: Jordan Adams <notifications@github.com>
Sent: Thursday, October 29, 2015 2:16 PM
To: landlab/landlab
Cc: saisiddu
Subject: Re: [landlab] Incorrect use

[2015-10-30 02:55] mcflugen commented on #171
Looking closer at this, there is some more cleaning that needs to be done. There are still attributes that use the old-style naming and indexing.

The following attributes should be **removed**:
- `activecell_node`
- `node_corecell`
- `corecell_node`
- `node_activecell`

The following should be **renamed**:
- `active_cells` -> `core_cells`

I'm not sure any of these are really used. I'm in the pro

[2015-10-30 04:40] mcflugen commented on #171
The function `calculate_flux_divergence_at_core_nodes` is unused. Can we remove it?

[2015-10-30 16:47] jadams15 commented on #171
I'm ok with removing it.

[2015-10-30 16:56] mcflugen commented on #171
Thanks. I think I'll probably get rid of it. I think you can (or probably should be able to) do the same thing with `calculate_flux_divergence_at_nodes`.

[2015-11-01 17:40] gregtucker commented on #171
Agreed, it should be equivalent to:
fd = calculate_flux_divergence_at_nodes(q)
fdcn = fd[core_nodes]

[2015-11-01 17:46] gregtucker commented on #171
Eric, for the core_cells numbering issue, my sense is that the cells should still have separate numbering (since they are different from nodes), but of course we now no longer have yet another numbering scheme for "core" nodes and cells. So, in a 4-row by 5-column grid, there would be 6 cells, numbered 0 to 5. They all happen to be core cells. So, grid.core_cells should just return [0, ..., 5]. Do

[2015-11-01 18:25] mcflugen commented on #171
Thanks, Greg. That sounds right. The problem was that if one of the nodes (say, node 7) is set as a closed boundary node, it is no longer *core*. The corresponding cell (1) is also no longer *core*. Thus, the `core_cells` array should now be `[0, 2, 3, 4, 5]` (not `[0, 1, 2, 3, 4]` as was being returned). Am I understanding this correctly?

[2015-11-01 19:15] SiccarPoint commented on #171
I think that’s right, Eric.

[2015-11-01 20:42] gregtucker commented on #171
Sounds right to me too. The default for a raster ("regular" or whatever) grid is not to have any non-core cells, because the only non-core nodes are around the perimeter, and those nodes don't have cells. But if one sets an interior node to boundary, then the corresponding cell should be non-core too.

[2015-11-01 22:54] mcflugen commented on #171
We still have a grid method called, `get_active_cell_node_ids`. I believe it should return the nodes of all cells that are either **core** or **open boundary**. It's used by quite a number of components, including:
- `flow_accum`
- `sed_trp_shallow_flow`
- `simple_power_law_incision`
- `stream_power`
- `transport_limited_fluvial`

I believe these components belong to @gregtucker, and @SiccarPoint.

[2015-11-01 22:59] mcflugen commented on #171
Or, instead, those components simply use,
[code]
and we don't have a special method in `ModelGrid` for this. Actually, I think this is probably the best way. It's more explicit and easier to understand.

[2015-11-01 23:00] SiccarPoint commented on #171
Yeah, the name is bad. Like, really bad. It’s putting cells at the grid boundaries!

100
(!!!)

You’re quite right about what this is doing: np.where(self.status_at_node != CLOSED_BOUNDARY).

[2015-11-01 23:00] SiccarPoint commented on #171
Yes. Think you’re right. Are you happy to make these changes?

[2015-11-01 23:03] mcflugen commented on #171
Yes. In fact, it would make me quite happy!

[2015-11-01 23:24] gregtucker commented on #171
I think that's a *really* early version of what later became simply grid.core_nodes

[2015-11-01 23:28] mcflugen commented on #171
But it's not *exactly* `core_nodes`, right? As far as I understand, the way things are right now, a core node wouldn't include nodes that are *open* boundary nodes.

[2015-11-02 02:01] SiccarPoint commented on #171
Exactly, Eric. There are loads of cases where you want to solve on “nodes that aren’t closed”, not “core nodes”.

[2015-11-02 02:35] SiccarPoint commented on #159
@gregtucker: Did you fix this yet...? You seemed to imply it would be an easy one, so thought you might just not have closed the issue.

[2015-11-02 02:36] SiccarPoint commented on #155
Pit filler now I think works. D4 should be implemented. I'll re-open if we find bugs.

[2015-11-02 02:36] #155 closed

[2015-11-02 02:36] SiccarPoint commented on #150
Pretty sure we got this nailed...

[2015-11-02 02:36] #150 closed

[2015-11-02 02:39] SiccarPoint commented on #111
I have just built introspect_components.py in landlab/core. At the moment this is in SiccarPoint/var-doc, but hopefully pull soon. This will give you a handy summary of which components are not in good LL style, including these properties. Making a new issue...

[2015-11-02 02:39] #111 closed

[2015-11-02 02:46] SiccarPoint opened #183 "Component standardization"
This issue begins an ongoing process of addressing field name and LL style issues in our component set. New script landlab/core/introspect_components.py lets us (well, me) peer inside every file we have inside landlab/components/ and test whether it is meeting our standards in terms of interfaces. It also pulls every field name currently in use (probably a separate issue). This begins as a placeho

[2015-11-02 15:24] mcflugen opened #184 "Python 2.7 builds fail on AppVeyor"
Our AppVeyor builds that use Python 2.7 are failing. It's not that our tests are not passing. The Miniconda script fails trying to install Python. At this point it's unclear if it's a problem with AppVeyor or Miniconda.

[2015-11-02 15:35] mcflugen commented on #184
It would be helpful if someone with easy access to a Windows machine could try to install Miniconda so that we could isolate the problem to either AppVeyor or Miniconda. @jadams15, @saisiddu?

[2015-11-02 15:39] gregtucker commented on #159
Working on it now... we'll see how far I get before meetings kick in at 9:15...

[2015-11-02 15:43] mcflugen commented on #159
If I remember correctly, I think the fix was to simply remove the debugging statements starting with `if abs(face_width[j]) >= 40000.0:`.

[2015-11-02 16:03] gregtucker commented on #159
I can't reproduce the above error---it seems to work fine for me. Nonetheless I removed the offending debug code (which should have used 40 million not 40,000 in any event), and cleaned up some of the too-long comment lines.

Now, however, nosetests is giving me a pair of failing doctests, in:
landlab.grid.raster.RasterModelGrid._initialize, and
landlab.grid.raster_gradients.calculate_gradients_at

[2015-11-02 16:06] mcflugen commented on #159
How are you running the unit tests? Try using the `test-installed-landlab.py` instead of running `nosetests`. We shouldn't be using `nosetests` directly anymore.

[2015-11-02 16:06] SiccarPoint commented on #159
That whitespace issue happens to me all the time, when I run nose tests locally. They aren’t “real” fails, just ignore them!

D

[2015-11-02 16:10] gregtucker commented on #159
Ok, when I run test-installed-landlab.py instead of nosetests, I get 3 errors. One is mine, which I will try to fix in the next 5 min; the other two look like lake fill:

======================================================================
ERROR: Very simple, though possibly degerate, case, filling a 3x3 hole up to
----------------------------------------------------------------------
Traceback

[2015-11-02 16:17] gregtucker commented on #159
Fix unsuccessful, will have to return to this later ... don't accept pull request for now (also, I forgot to push it back to origin, so the branch isn't up to date... I learn git one of these days...)

[2015-11-02 16:25] SiccarPoint commented on #159
I dealt with the cases in test_sink_filler.py and committed them into your branch.

The one in test_frac… still needs your attention.

D

[2015-11-02 17:12] gregtucker commented on #159
Ok, bug fixed and tests running ok

[2015-11-02 17:13] #159 closed

[2015-11-02 17:45] jadams15 commented on #184
My old Windows machine is currently disassembled. I could do it on another lab computer sometime later this week. It would probably happen quicker if @saisiddu does it. If not done by Thursday, say, I can do it.

[2015-11-02 19:53] saisiddu commented on #184
Hi Eric, I can try to do this but I am not sure what needs to be done. I am already behind on merging the pull requests. I have my qualifiers next week and am grading too. So, I cannot promise anything at this moment. Sorry!

Sai

________________________________
From: Jordan Adams <notifications@github.com>
Sent: Monday, November 2, 2015 9:45 AM
To: landlab/landlab
Cc: saisiddu
Subject: Re: [land

[2015-11-02 21:04] mcflugen commented on #184
Thanks, Sai. If you can get to it, great. If not, no biggie. I have a VM I can try with.

[2015-11-02 21:13] #171 closed

[2015-11-02 23:07] SiccarPoint opened #188 "power_law_fluvial_eroder"
I believe simple_power_law_incision/power_law_fluvial_eroder.py is 100% deprecated, unused, and ripe for deletion. I think this is also my very old code.

Anyone object?

[2015-11-03 15:56] gregtucker opened #191 "Node-link-neighbor data structures"
What are our current data structures for storing:
1 - the links attached to each node, and
2 - the neighbors of each node?
One set I know about, because I created it, is: node_inlink_matrix and node_outlink_matrix. There seem to be others, but I'm struggling to figure out what they are exactly. I'd like to clean this up so we have just ONE consistent set of data structures with a reasonable balanc

[2015-11-03 16:01] #134 closed

[2015-11-03 16:36] mcflugen commented on #184
I've filed an issue with AppVeyor and am waiting to hear back. Disabling the Python 2.7 builds just made the 3.4 builds fail so I'm pretty sure it's a problem on their side not ours or Anaconda's.

[2015-11-03 17:28] SiccarPoint commented on #191
We already have a good subset of these - with the proviso that they are not returned in a compatible fashion, which is very, very annoying (see #156). The set is (for raster, at least...):

1. mg.node_links()  -> (4, nnodes), SWNE. Needs renaming.
2,3. We don't have these, yet.
4. mg.get_neighbor_list() -> (nnodes, 4), ENWS. Also needs renaming.

On the plus side, note that the need for renaming l

[2015-11-03 17:38] SiccarPoint commented on #191
So, immediate, non-controversial priorities:

1. Deprecate these functions, BUT LEAVE THEM THERE
2. Create (all as properties, I'd advocate):
    mg.links_at_node
    mg.link_signs_at_node (..."link_directions"?)
    mg.active_link_signs_at_node
    mg.neighbors_at_node

Things we already agreed on, according to my notes from last week:
* These are shape (nnodes, 4) (or 6, or nlinks, or whatever)

[2015-11-03 17:52] gregtucker commented on #191
I probably wasn't clear last week; this is basically the same scheme. No bools, just (-1, 0, 1)

[2015-11-03 19:39] mcflugen commented on #191
This sounds great.
* Instead of `link_signs_at_node`, how about `link_dir_at_node`?
* Is there some way we can get rid of `active_link_signs_at_node`? Can both an inactive link and an absent link have `dir == 0`? If so, `active_link_signs_at_node` seems redundant.
* We should do this in stages, for sure, but I think we should get rid of the old functions as quickly as possible.
* I think we should

[2015-11-03 20:18] SiccarPoint commented on #191
Re a possible flat array, I don’t think I like this idea from an ease of use perspective. The way this works in CHILD is pretty opaque, and I don’t think it’s adequately user friendly, or really very pythonic (or indeed "Landlabbic”). Everywhere else the scheme is “give me the X at the Y”, and it comes back (max(len(X)), len(Y)) shaped. I think that’s super clear and a nice style to have. I antici

[2015-11-03 20:22] SiccarPoint commented on #191
(repeated comment with markdown for clarity) Re a possible flat array, I don’t think I like this idea from an ease of use perspective. The way this works in CHILD is pretty opaque, and I don’t think it’s adequately user friendly, or really very pythonic (or indeed "Landlabbic”). Everywhere else the scheme is “give me the X at the Y”, and it comes back (max(len(X)), len(Y)) shaped. I think that’s s

[2015-11-03 20:35] gregtucker commented on #191
Actually, CHILD doesn't use flat arrays. The Braun and Willett algorithm *does*: it stores neighbors in a flat array, and retrieves them by use of indexing: you know that the neighbors of i are found at indices[i:i+1] in the array.

I like "dir" rather than "sign", thanks.

The point of active_link_dir_at_node is to save space. I actually don't see an obvious way around it. Suppose node i has link

[2015-11-03 20:50] mcflugen commented on #191
I was thinking that if a node was "inactive" maybe we could think of it not being there at all. So your example would be,
[code]
The `links_at_node` array indicates that there are, in fact, four links at node *i*, but the `link_dir_at_node` array says links 1 and 4 are inactive. You do lose the directionality of those two links, though. This could be a problem if you wanted to later activate them.

[2015-11-03 20:58] gregtucker commented on #191
Yes, that would work, but then we would no longer have the option of doing fluxes at *all* links.

The flat array idea is intriguing... I'm tempted to try both with a couple of use cases and see how they compare.

[2015-11-03 21:03] mcflugen commented on #191
I wasn't sure if we ever want to calculate fluxes using inactive links. If we do, then, for sure that wouldn't work.

I'm not certain about the flat arrays. I only brought it up so we could say we made a decision based on `n_choices > 1`.

[2015-11-03 21:05] gregtucker commented on #191
I agree it would be unlikely... but there may be other reasons to want directional information for inactive links.

Decision making is always so much harder with n_choices > 1!

[2015-11-04 15:35] gregtucker opened #192 "Make reorient_links the default for Voronoi and Hex, etc., grids"

[2015-11-04 22:18] gregtucker commented on #22
Guys, I'm going to close this issue---as Dan says, it isn't best practice, and I suspect that the recent work on updating grid data structures when BCs change will have fixed this anyway.

[2015-11-04 22:18] #22 closed

[2015-11-04 22:22] gregtucker opened #193 "Review and clean up cell area calculation in voronoi.py"
Make sure calculation of voronoi cell areas is up to date with current naming usage and best practice

[2015-11-09 19:34] jadams15 commented on #191
@mcflugen - I thought we had agreed SWNE, and here is something from last week? Am I missing something?

[2015-11-09 19:53] mcflugen commented on #191
@SiccarPoint, snuck that in on me. Since we agreed to angles being measured counter clockwise starting at the positive x-axis, I think, ultimately, it would be good to do all our ordering that way. It seems a little random to start ordering clockwise starting at the negative y-axis. I'm fine keeping ordering of neighbor nodes as SWNE for now but, if possible, would like to eventually see things mo

[2015-11-12 23:06] SiccarPoint opened #197 "initialisation documentation check"
We all need to check our code documentation is user friendly.

In particular, I've just discovered it's pretty hard for users to actually read the documentation provided for components. This is a carry over from assuming users would actually have the code in front of them. In particular, if you document instantiation protocols in an initialise method that gets called by __init__, this is super opa

[2015-11-18 19:01] SiccarPoint commented on #183
Made some progress on this.

[2015-11-18 20:34] SiccarPoint commented on #162
Resolved 'upstream_ID_order', which appears to be the only field name using this syntax. I believe @mcflugen is dealing with most of the method names as part of his general cleanup?

[2015-11-19 22:29] mcflugen opened #201 "Cell area array broken for Voronoi grids"
As reported by @SiccarPoint, the `cell_areas` array is broken. When trying to use the `cell_areas` attribute for Voronoi grids the following error is raised,
[code]

[2015-11-19 22:32] SiccarPoint commented on #201
I'm on this, @mcflugen, as part of a gentle (but necessary) overhaul of flow routing.

[2015-11-19 22:33] SiccarPoint commented on #201
(The operation of forced_cell_areas was also basically wrong... This is what drew my attention in the first place)

[2015-11-19 22:35] mcflugen commented on #201
I've actually already fixed it. I was just about to send a pull request. I didn't touch the `forced_cell_areas` stuff, though. The problem was that we were using both `cell_areas` and `area_of_cell` to get arrays of cell areas. I opted to switch to `area_of_cell`. It's easy enough to switch to another name but, at least for the moment, things are consistent.

[2015-11-20 00:38] #201 closed

[2015-11-20 00:42] SiccarPoint opened #203 "Flow routing, irregular grids, and internal closed nodes"
The way the router formerly handles nodes without cells was inconsistent between regular and irregular grids.
This needs to be resolved by ensuring no discharge can ever come from a node without a cell.

A related issue is that where closed nodes are present inside the grid, they get their own area, whereas more consistent with the above would be if they got zero.

Unit tests are needed, esp. for

[2015-11-20 14:33] gregtucker commented on #203
I'm not sure I agree that internal closed cells should have a zero cell area. An app might want to treat them open for one process and closed for another (admittedly I'm struggling to think of an example).

[2015-11-22 00:17] gregtucker opened #205 "map_min_of_outlinks_to_node and similar: handling of non-existent links"
In raster_mappers.py, there are a series of functions that seek the max or min of link values for each node. In our current data structures, a "missing" link is flagged as a link ID of -1. If you fetch a link value corresponding to this, you will actually get the link value for the last link in the array, rather than skipping it, which probably should be the correct behavior.

In map_min_of_outlin

[2015-11-22 01:30] SiccarPoint commented on #205
LONG: SORRY

Random idea, feel free to shoot me down…

Almost all actual data is stored in fields, right? Because this is a data structure *we* designed, we have control over it. It would be quite straightforward to make it so that under the hood (and not exposed to the user) all fields are actually nnodes+1 long, and the final value is a zero. When you ask for or input the values, LL could just h

[2015-11-22 01:34] SiccarPoint commented on #205
Just realised I may have interpreted your comment wrong, sorry. You’re not advocating not using -1s at all are you? Oops. Ignore me. Though the first idea may be worthwhile anyway.

[2015-11-22 01:44] mcflugen commented on #205
It certainly would be easy to add an extra element when we store fields. I don't see a problem with that.

However, a potential problem would be that we would have to create copies of data. At least in these sorts of cases,
[code]
I have *z* being created by `numpy.arange` but perhaps, instead, it comes from another component or read in from a file. In this case (I think), the expectation of the u

[2015-11-22 01:55] SiccarPoint commented on #205
Fair point. Though I guess they’re giving us, e.g., z as an input, so under the hood we could do something like

[code]

So we copy the data once, but then reset *their* variable to *our* field. Possibly this wouldn’t work, but maybe…?

[2015-11-22 02:17] mcflugen commented on #205
We could definitely do some trickery to make it look like we didn't create a copy. For instance we could change the data buffer of their array to point to another buffer (one element longer), which we allocate, but we still would have to copy their data to the new buffer.

It's possible that numpy arrays are given a little extra space in their buffers for cases as this. If so, no problem, we would

[2015-11-22 02:54] mcflugen commented on #205
As an example,
[code]
Although it appears that *x* didn't change, and it's linked to *y*, we still have to make a copy. I don't think there's anyway around it. As such, there's a big performance hit but perhaps it's worth it?

[2015-11-22 03:31] mcflugen commented on #205
Let's do some benchmarks. @SiccarPoint, could you give some sample code that demonstrates all of this? Maybe something like?

The set-up,
[code]
and then this
[code]
versus this
[code]
The performance will depend on `n_nodes` and the number of bad values, I suppose. So maybe there's a cross-over when one method is faster than the other. I have to say, faster or not, the first way does look nicer (

[2015-11-22 04:01] SiccarPoint commented on #205
I don’t think the second case works for lots of LL cases, which is the problem. The issue is that most arrays that use the -1s are 2d. IIRC, the line

ends up flattening the array, which means you lose the ability to sum the nodes round each point. Which is exactly why you need to be able to do something involving -1s, so you can at least rely on actions like:

vals_incl_badvals = vals[neighbors_w

[2015-11-22 04:15] mcflugen commented on #205
Can you give me a better test, then? What do you think the fastest way to do the second method is?

My performance tests are showing method 1 is slightly faster calculating the sums. However, because of the big array copy in that method, the total time really depends on the size of the array. However, for typical landlab-sized arrays it's not all that much of a hit. For instance, for a 1000000 nod

[2015-11-22 04:21] SiccarPoint commented on #205
As I alluded to in my original comment, I can’t think of a way that doesn’t boil down to “take some actions to get it like version 1, then do that”, which is - obviously - slower. That’s what we’re doing in all current uses.

I think the issue boils down to: is the robustness of setting this up so it works automatically work it for the potential confusion it will cause for users?

[2015-11-22 05:35] mcflugen commented on #205
I think it may not be clear, so just in case, I'm leaning toward method 1 (for those that haven't been following along, that's the one with the extra element at the end).

For a `1000 x 1000` node grid, the second method using a for-loop is about 2 orders of magnitude slower than the first in calculating the sums. This doesn't include the copy but, as I said before, it turns out the copy isn't tha

[2015-11-22 05:37] mcflugen commented on #205
And, yes @gregtucker, I will have a look! Sorry. We highjacked your thread.

[2015-11-22 05:42] SiccarPoint commented on #205
Yeah. It feels like it should work, but once you start chasing down the possibilities of how to make it work, you end up in the weeds really fast. I think you’ve put your finder on the key difficulty. Probably just leave it as it is, then, and make sure the docstrings on any function that uses -1s is *super* clear on what this means. Though that said, I still kind of like the idea of building effe

[2015-11-22 06:15] mcflugen commented on #205
Sorry. I'm kind of stuck on this idea now. I just pushed a small change to master that adds a new function, `extend_array`. I don't know, it might be useful for the things we're talking about.
[code]
So now we have an array that looks like the original and shares its data. However, it has a couple differences. Its data buffer has been extended by one element and that element is filled with a 0 (us

[2015-11-22 06:17] SiccarPoint commented on #205
“ext” might be clearer than “x”? x suggests an x-coord.

But awesome!

[2015-11-22 06:23] SiccarPoint commented on #205
Also, it might be cool to have fields be created like this by default? Then we can just tell users it’s field functionality they can use if they want, and apart from a bit of overhead on creation, it shouldn’t make much difference otherwise…?

[2015-11-22 06:37] mcflugen commented on #205
We can totally do that. There would only be additional overhead if they add a previously-created array as a field. If they use the field construction methods (like `grid.add_zeros`) which I think is the most common way, there's no extra overhead.

[2015-11-22 16:14] gregtucker commented on #205
Actually we already use the array-extension trick, inefficiently, in calculate_flux_divergence. That's WHY the node-link matrices use -1 instead of BIV. But at the moment we use copying: every time user sends a link array of data, we copy it into a NUM_LINKS+1 array and then do the flux divergence calculation by summing fluxes in each row of the matrix.

This gets to the heart of my project to rev

[2015-11-24 22:48] #203 closed

[2015-11-24 22:51] SiccarPoint opened #207 "Nonlinear diffuser"
This has a whole heap of issues. A selection includes:
* very unstable
* BC control doesn't seem to work properly any more.
* Destabilizes if the slope exceeds critical anywhere in the grid.

[2015-11-25 17:53] mcflugen opened #208 "Unified method for setting node status"
We have three main method in `RasterModelGrid` to set boundary conditions.
* `set_closed_boundaries_at_grid_edges`
* `set_inactive_boundaries`
* `set_fixed_value_boundaries_at_grid_edges`

First of all, if you aren't familiar with these functions take a moment to think about what you think each one does. I think it might be helpful for later on.

There are, in my opinion, a few problems with these

[2015-12-05 15:49] #192 closed

[2015-12-05 15:49] gregtucker opened #211 "Hex grid plots should have correct cell orientation"

[2015-12-06 21:26] mcflugen opened #213 "Improving how we import components"
We need to improve how we import `landlab` components. Right now, we do something like,
[code]
In my opinion, that's pretty clumsy, lots of characters to type and remember, and requires the user to know something about how the flow routing component organizes its modules. We should change things so that, at least, we have
[code]
I've already done this for most of the components. However, if we thi

[2015-12-06 22:19] SiccarPoint commented on #213
I’m kind of agnostic about which of these two styles is better. I kind of like the explicit declaration that these are components, but also, more typing.

100% agree we should be able to do function/sub-package imports as you suggest though. This is a matter of putting the full path in the correct __init__.py files, right?

[2015-12-06 22:27] mcflugen commented on #213
OK. A pull request will come soon with the `from landlab.components` form. If others prefer another alternative we can always add it later.

All that needs to be done is add a bit of code to the `__init__.py` in each component folder. For example,
[code]

[2015-12-07 22:26] SiccarPoint opened #215 "Duplicated web structure"
I'm trying to update the web docs to be at least partially in line with new best practice... only to realise again that we're maintaining (& exposing to users) two parallel versions of the same documentation. I think they might already be starting to diverge. We need to fully commit to the wiki (if that is definitely our decision) & expunge the rst doc structure we have in landlab/docs - or remove

[2015-12-07 22:42] SiccarPoint opened #216 "Wiki search"
It's imperative the wiki has a search bar. Updates are a nightmare without one.

[2015-12-07 23:21] jennyknuth commented on #215
Hi Dan, totally agree that we need to do away with duplication ASAP, it is not maintainable. And yes, transitioning to the wiki will be different and provide some functionality not available on readthedocs and vice versa. I agree it's been too long with the two parallel resources. I say lets commit to the wiki and comment out the readthedocs user guide (so we can go back if we do regret our decisi

[2015-12-07 23:28] mcflugen commented on #215
@SiccarPoint: you can also clone the wiki to your desktop just like any other repository. It's just a bunch of GitHub ~~flavored~~ flavoured markdown files that you can do search and replaces with - just as you would with the old rst files.

[2015-12-07 23:29] mcflugen commented on #215
Oops. What @jennyknuth said.

[2015-12-07 23:30] SiccarPoint commented on #215
Ah, cool. I had totally missed that you can clone the wiki. That will totally do the job, and takes pressure off the urgent need for a search bar - from our perspective. Might be worth reaching out to the github guys to see if they have plans to add such a feature. Would save us work if it’s forthcoming, and would seem an obvious next step for them.

Re duplication, we just need to make sure that

[2015-12-07 23:35] jennyknuth commented on #215
Okay, so assume that the wiki is the standard and the place for updates. I will go through and make sure that all the manually maintained content from readthedocs gets transferred to the wiki (basically that's the user guide). The doc-string stuff will stay in readthedocs in a new structure that should make things easier to find.

[2015-12-07 23:41] SiccarPoint commented on #215
Sounds like a good plan to me.

[2015-12-12 17:52] SiccarPoint opened #217 "set_fixed_link_boundaries_at_grid_edges()"
The method signature and docstring for this method no longer match. It's impossible to figure out how it works... I'm assigning Jordan, on the basis you have the best chance of figuring out what happened here, but no rush.

[2015-12-12 17:59] jadams15 commented on #217
got it! I'll take a peek at it but likely won't get to it until after AGU.

[2015-12-13 23:23] SiccarPoint opened #218 "Node ordering in Voronoi"
If I'm seeing this right, the node ordering in Voronoi is still unstandardised. Should be y then x from the origin, right? At the moment, node order appears randomised.

Cheeky assignment to Greg, as he'll know.

[2015-12-14 00:10] mcflugen commented on #218
It looks good to me. I think. I added the following doctest to `VoronoiDelaunayGrid`. Do you think this adequately tests this issue?
[code]
The points are provided as "column major" but then reordered to be "row major".

[2015-12-14 16:14] gregtucker commented on #218
Voronoi nodes should be numbered correctly in gtucker/sort-links, so as soon as we merge that branch we'll be good to go in master.

[2015-12-14 23:09] SiccarPoint opened #219 "Standardization of attribute names/attribute-method distinction"
Still lots of places in the grid code where we lack name standardisation. My understanding is that the target forms are:

* mg.[X]_at_[Y]
* Use a property when it's not computationally intensive, and a method when it is. Also a method if you need input arguments, clearly.

A more subtle thing that I don't think we've agreed on is singular vs plural. Is it face_at_link or faces_at_links? Links_at_n

[2015-12-14 23:20] mcflugen commented on #219
I thought, but could definitely be wrong, we had agreed on singular. So, `node_at_cell`. However, use plural if there are more than one thing at the second thing. So, `links_at_node`.

I think a lot of this sort of thing, but not all, is fixed in some of my current pull requests. The `links_at_node`, for instance, is in #196. #194 has some other clean-up stuff.

[2015-12-14 23:41] SiccarPoint commented on #219
Cool. I was scanning branches for it, but couldn't see it. Need to get that stuff merged ASAP after AGU!

[2015-12-16 17:22] mcflugen opened #220 "Standardize Component __init__"
Many of our components take the name of a file (or a file-like object) as an argument to its `__init__` method. This file is intended to be an initialization file from which the component reads input parameters. There are several problems with this (I'm sure there are more):
* The user is required to know the file format
* The user is tied to this file format
* The user must create a file before i

[2015-12-16 21:25] lgelb opened #221 "saving grid cell fields instead of node fields with save function"
Hi all,

When I use the code `grid.save('test.nc')`, it only saves the fields for the nodes. Is there a way to tell it to instead/also save the cell fields?

Sai suggested the below to me, but I'm not sure my grasp of grid manipulation is strong enough to follow his directions, and I'd also like to avoid adding more computational time if possible. Does anyone know of a way I can do this without mo

[2015-12-16 23:14] mcflugen commented on #221
Hello @lgelb!

I'm sorry to say that, currently, there is no way to tell the `save` method to save values at cells. However, I don't imagine this would be difficult to add. Is there a particular netcdf format that you would like to write to? For instance, do you have a netcdf file that you are reading values *from*? Are you using a plotting package that uses a particular netcdf format for viewing

[2015-12-17 02:08] gregtucker commented on #221
Hi Lucy
This capability *should* exist but my guess is that it hasn't been written yet. We'll see what Eric and/or Dan say. In the meantime, Sai's idea seems like a reasonable workaround.

Cheers

Greg

Sent from my iPhone

On Dec 16, 2015, at 2:48 PM, lgelb <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi all,

When I use the code grid.save('test.nc'), it only saves the fiel

[2015-12-17 02:14] mcflugen commented on #221
@lgelb, @gregtucker: I had a closer look and I don't think it will be too difficult to add this capability. I'll see what I can get together and let you know.

[2015-12-17 04:49] mcflugen commented on #221
@lgelb, I've fixed this in pull request #222. Once we test it and merge it into the master branch, we will include it in the next release (within the next few days, I would guess). If you need this capability sooner, you'll have to install from the `mcflugen/add-cell-netcdf` branch of landlab on GitHub. I can help with this, if you need.

[2015-12-17 07:15] SiccarPoint commented on #220
I thought we had already agreed to migrate definitely to a single-dictionary style at the launch meeting. I had volunteered to do this, but have been slow. Having a hybrid, where we maintain compatibility with the old pass-a-string style, would be trivial. I'm still happy to do this.

I can see that the full written out signature looks superficially appealing, but I think at the end of the day it'

[2015-12-17 15:24] mcflugen commented on #220
Thanks for the reminder. You all with your "memory".

I'm fine with having all the params in a single dictionary. It certainly would get confusing if a component had additional keywords that were not input parameters. My only concern is with documentation. We'll need a standard way to document these parameters and make sure the documentation stays up-to-date. I suppose it could be as additional me

[2015-12-17 17:25] SiccarPoint commented on #220
I *think* I agree with all of this, if I'm following your final part right. Remember we now have a goodly number of actual honest-to-god users using components out in the wild, so here's a place where we actually really have to maintain backward compatibility if its at all possible.

[2015-12-17 17:49] mcflugen commented on #220
I hear you. It keeps me up at night. Really, it does. I think our user-base is still small enough that we can get away with not maintaining backward compatibility in *some* (maybe even most?) cases. We're still at version 0.1, so I think it's understood by our users that we're still in the initial development phase. At least I hope it is. Once we're at 1.0, then we're tied to maintaining backward

[2015-12-17 20:27] gregtucker commented on #221
Thanks Eric, it's great that we now have this capability.

[2015-12-17 20:40] gregtucker commented on #220
I guess I like Eric's original suggestion best: have named parameters (ideally with defaults), but best practice is send them as a dictionary. I love that you can send all params as a dict by simply doing

compo = MyComponent(**my_dict)

The advantages of this solution:
1 - helps maintain backward compatibility (though I also agree that we're early enough in the game that we can bend this where ne

[2015-12-17 20:52] mcflugen commented on #220
If we do use keywords, we would have to make it clear what parameters are required and which ones are optional. I think, generally, in Python if something is a keyword it is thought to be *optional*. If it weren't, it would just be an argument. In any case, this could be accomplished through the docstring and assigning required parameters a default value like `None` or something else that would be

[2015-12-17 22:12] lgelb commented on #221
@mcflugen @gregtucker Thanks for your fast response on this!

Greg, I'm having trouble getting that code working - using the node_at_cell returns the error message: 'AttributeError: 'RasterModelGrid' object has no attribute 'node_at_cell'. I am updated to the latest version of Landlab. I'm happy to wait for #222 , but do you know if I'm missing something obvious here?

[2015-12-17 22:28] mcflugen commented on #221
@lgelb, it sounds like you have an old version of landlab.

Did you install landlab with the pip command? If so, you should probably uninstall landlab and then install the latest version,
[code]
I believe the latest instructions for installing/upgrading landlab is on our [webpage] (http://landlab.github.io/). Is that right, @jennyknuth?

[2015-12-17 22:37] gregtucker commented on #221
Agreed. node_at_cell works in the current development version.

[2015-12-17 22:50] jennyknuth commented on #221
Lucy, yes, the most recent advice for updating landlab can be found at the bottom of http://landlab.github.io/. It worked for me. But do let me know how your experience goes. It is not clear yet what works best for everyone, and we do want it to work for everyone. Looking forward to your feedback.

[2015-12-17 22:50] lgelb commented on #221
Oh, yes, the uninstall did it. Thanks! I had used: 'pip install landlab --upgrade' from the docs [here](landlab.readthedocs.org/en/latest/install.html#updating-landlab). No error messages, but at some point I must have messed something up and needed to uninstall.

[2015-12-17 22:52] jennyknuth commented on #221
Good. The --upgrade did not work for me either. The full uninstall seems more fail-safe so far! Thanks for your input.

[2015-12-17 22:56] jennyknuth commented on #221
And thanks for the heads up, I will remove the old instructions from the wiki (FYI, we are migrating the user guide to a github wiki here: https://github.com/landlab/landlab/wiki).

[2015-12-17 23:05] lgelb commented on #221
Good to know, I'll start looking to that site instead. Thanks!

[2015-12-17 23:06] jennyknuth commented on #221
And continue to let us know of any problems/hiccups. Thanks!

[2015-12-18 00:27] mcflugen opened #223 "Standardize Component "run" method"
I'm creating this issue just to consolidate our discussion on the topic.

All landlab components have a "run" method. This is the method that advances the component in time or makes it do something. We would like to standardize what this method looks like for all components. From previous discussions, we, I believe, decided that it should take a duration of time as an argument (as opposed to an ab

[2015-12-18 03:31] mcflugen commented on #223
I forgot to add a link to @SiccarPoint's [gist] (https://gist.github.com/SiccarPoint/1bd979e42bb48d6ad0ab#file-component_signatures-py).

@jadams15, I notice the `OverlandFlow` methods accept a grid as an argument. Is this just a hold-over from the early days, and can now be removed, or is it necessary?

[2015-12-20 17:17] gregtucker opened #224 "set_closed_boundaries_at_grid_edges: unsupported iterator index error"
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-7-c9ac7a580a5b> in <module>()
      3 z[5] = 50.
      4 z[6] = 36.
----> 5 rg.set_closed_boundaries_at_grid_edges(False, False, True, True)  # needs updating
      6 print(z)

/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/grid/ra

[2015-12-20 17:22] mcflugen commented on #224
@gregtucker, I'm having trouble reproducing this problem. Could you please provide the smallest code snippet that reproduces this error? Thanks!

[2015-12-20 17:53] gregtucker commented on #224
With branch master, pulled this morning:

from landlab import RasterModelGrid

rg = RasterModelGrid(3, 4)

rg.set_closed_boundaries_at_grid_edges(False, False, True, True)
Traceback (most recent call last):

  File "<ipython-input-3-fb3e5530d5b7>", line 1, in <module>
    rg.set_closed_boundaries_at_grid_edges(False, False, True, True)

  File "/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/grid

[2015-12-20 17:57] gregtucker opened #225 "Need link_at_face property for Voronoi grids (Raster has it)"
For Voronoi, the information will have to be drawn from the data structures provided by scipy.delaunay and scipy.voronoi.

[2015-12-20 18:10] mcflugen commented on #224
Something funny is going on. The following works just fine for me (on master and all up-to-date),
[code]
The landlab version is,
[code]

[2015-12-20 18:18] gregtucker commented on #224
Agreed!

'0.1.41'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/grid/raster.py", line 2451, in set_closed_boundaries_at_grid_edges
    self._node_status[right_edge] = CLOSED_BOUNDARY
IndexError: unsupported iterator index

Gregorys-MacBook-Pro:grid gtucker$ python --version
Python 2.7.11 :: Anaconda 1.9.2 (x86_64)

[2015-12-20 18:43] mcflugen commented on #224
Maybe it's a problem with a dependency? What version of `six`, `numpy`, and `scipy` are you using? Those seem to be the most relevant.
[code]

[2015-12-20 21:53] mcflugen commented on #221
@lgelb: There is now a landlab release (0.2) that adds the ability to write cell grids to NetCDF. As before, it's probably best to uninstall landlab and then install it again (rather than using the `--upgrade` option). Please give it a try and let us know how it works and if you have any problems.

[2015-12-20 22:38] gregtucker commented on #224
It was a numpy version issue: for some reason, I had been running 1.8.2. When I upgraded to 1.10.2, via conda update numpy, the problem went away.

[2015-12-20 22:38] #224 closed

[2015-12-21 19:10] lgelb commented on #221
@mcflugen  Thanks for getting that up so quickly for me! I tested it out this morning and it looks like everything is working well.

[2015-12-24 19:42] gregtucker opened #227 "Need a tutorial on importing a DEM"
It would be useful to have a teeny little tutorial on importing DEMs.

[2015-12-24 20:01] gregtucker commented on #227
Ok, on JSK's advice, I simply entered a line on the tutorials page that links to the section in the user guide that talks about this issue and shows a little example. Easy peasy!

[2015-12-24 20:01] #227 closed

[2015-12-24 20:03] gregtucker commented on #220
We should try to resolve this soon. I just stumbled on it again while instantiating a LinearDiffuser, which seems to want a ModelParameterDictionary or a file name (string), and doesn't like me giving it a dict...

[2015-12-24 20:55] mcflugen commented on #220
For sure.

I was playing with this last week on a few components. I now think we should try to implement this using keywords rather than passing all of the input parameters as a single dictionary. That main reason being is that it's so much clearer what the parameters are and what their default values are (if any). In addition, because we use the numpydoc conventions, there's already the built-in

[2015-12-24 21:01] gregtucker commented on #220
I agree. If I understand right, we can still use **some_dict to send keywords if we want to. Anyone else have views on this issue?

[2015-12-24 21:26] SiccarPoint commented on #220
I don’t like this if you are *forced* to pass the components separately. But if not, whatever (i.e., I can do comp = MyComp(mg, my_dict)). Though it will annoy our users somewhat, just so we all realise that. If I understand correctly, this will stop

comp = MyComp(mg, ‘a_string.txt’)

working entirely (which a pass-a-dict style wouldn’t necessarily, as it’s only a one-line internal test of what g

[2015-12-24 21:28] SiccarPoint commented on #220
Also, I suspect the general quietness indicates not consent, but that people aren’t checking their email or slack on Christmas Eve. We should probably restart this discussion in the New Year…

[2015-12-24 21:29] mcflugen commented on #220
What? It's Christmas Eve!? I have to go shopping!

[2015-12-24 21:35] SiccarPoint commented on #220
Oooooooops… ;-)

[2015-12-24 21:37] mcflugen commented on #220
I don't see keeping backward compatibility as too much of a problem. It can be done through a decorator that can also issue a warning that this style of initialization is deprecated and may be removed in the future.

I suspect most folks will be passing the parameters as `MyComp(grid, **my_dict)`, not individually.

Yes, we should talk about this after the holidays. We should probably have a compa

[2015-12-25 05:01] jennyknuth commented on #220
Done playing Santa! Reading my email…and yes would love to discuss more, but maybe not tonight. I think it is best to do it the 'best' way, but would have to really compare and try it to see what that is, how much of an obstacle the change would be to current users, and how much of a permanent improvement it would be for future users. Deprecation warnings seem a reasonable middle ground, but again

[2015-12-28 16:18] gregtucker opened #228 "Documentation issue: setting boundaries on a watershed DEM"
Our Users Guide has no discussion (that I can find) of how to manipulate boundaries on a DEM that represents a watershed. It should have a brief section on how to set NODATA nodes to closed-boundary status, and how to set the watershed outlet node(s) to open boundary status.

The API doc index does have an entry for set_nodata_nodes_to_closed() (actually it has two: one for landlab.grid.ModelGrid,

[2015-12-28 16:20] gregtucker opened #229 "Doc issue: accessing API and its index"
Two related documentation issues:
1) it would be helpful to have a handy link to the API docs via the wiki (e.g., right-hand menu)
2) in the API docs, handy to have a link to the index in the upper-right somewhere (there's one at the bottom of the page but you have to scroll down to see it)

[2015-12-28 16:24] SiccarPoint commented on #228
The wider issue encompasses the fact that we don't have good docs on BCs *at all*. I went through before AGU and (I think) removed actual examples of bad practice, but we don't actually spell out good practice clearly anywhere either. We need:

* A tutorial in a (two?) notebook(s): square grids AND voronois vs one on handling imported grids
* A descriptive section of text on the wiki (including ma

[2015-12-28 16:32] gregtucker opened #230 "Doc issue: methods to access boundary, core, open/closed, etc., nodes"
Would be helpful if User Guide section "Managing Grid Boundaries" included little list of methods for getting IDs of:
* core nodes
* boundary nodes
* closed boundary nodes
* open boundary nodes
* etc.

[2015-12-28 16:37] gregtucker commented on #230
Also helpful if this section had a table listing ways to set the status of one or more nodes (not just the grid edges). Such as:

ModelGrid.set_closed_nodes(nodes)

[2015-12-28 16:40] gregtucker commented on #230
Meanwhile, I can't find a set_open_nodes method!

[2015-12-28 16:41] gregtucker commented on #230
Is the recommended approach now to do:

grid.status_at_node[123] = OPEN_BOUNDARY ?

[2015-12-28 16:41] SiccarPoint commented on #230
I think that’s a different section. I am idly working up an expansion of Eric’s preliminary grid guide notebook that keeps a lot of this stuff together, but the actual descriptions will probably be more pithy and readable if they only focus on one thing. With a clear “see also” section (h/t numpy documentation) that points to further info if you need it.

So I’m visualising a standard-ish user gui

[2015-12-28 16:42] SiccarPoint commented on #230
I believe that is recommended. Basically because you can never do this to an edge, so you’ll be specifying an array of node IDs manually anyway.

[2015-12-28 16:48] mcflugen commented on #230
I think we should also sit down and revisit the user interface for setting boundary conditions. It could use with some standardizing, for sure.

@SiccarPoint: if you're working on BC documentation separately, can #210 be merged?

[2015-12-28 16:54] mcflugen commented on #223
I think it would be nice if the name of a component's "run" method (or methods) was just a little bit standardized. For instance, maybe just that it starts with a verb? I think `run_` or `calc_` would work for most components. So, `calc_flexure`, `calc_overland_flow`, etc. (I don't like `run_` all that much but I think `calc_` might work).

[2015-12-28 16:56] SiccarPoint commented on #230
Think we’re talking at cross purposes. I am working on an overall grid guide notebook. It’s meant as more of a grid overview, and not comprehensive. I’m not actively addressing the documentation wider than that, and certainly not specifically working on BCs - mainly as #210 is indeed not yet merged!

Re #210 specifically, looks like we’re still waiting on a 3rd opinion on what gets passed into the

[2015-12-28 16:58] SiccarPoint commented on #223
Don’t like the idea of replacing these methods ([insert Dan’s time-worn breaking-user-facing-code-unnecessarily screed here]). Happy to wrap them with *additional* standard-formatted interfaces.

[2015-12-28 17:06] mcflugen commented on #223
I guess I was thinking more of a "guideline" rather than a standard. Since class methods *do* something, they *should* start with a verb and, for a "run"  type method, maybe a guideline would be that verb be `calc_` or something along those lines. I don't think there's any reason we must conform to a standard here. I think this guideline might make it easier for users, but we don't have to go back

[2015-12-28 17:31] mcflugen commented on #230
Got it. Thanks for the reminder. I'll update that stuff tonight. With the `right`, `left`, etc. keywords, the main problem is what to do with the corner nodes.

[2015-12-28 19:25] jennyknuth commented on #228
Thanks, Dan, I know you've been aware of this issue and putting in documentation/tutorials where you can. Is it correct to say that BC initialization is now stabilized/standardized and the gap is ready to be filled? If so, I'll make this a priority—update what we have and fill in where needed. 

—
Sent from Mailbox

On Mon, Dec 28, 2015 at 9:24 AM, Dan Hobley <notifications@github.com>
wrote:

[2015-12-28 19:26] SiccarPoint commented on #228
The actual commit is currently being looked at by Eric. Once we get that in, I don’t ind doing the doc update (you might have to remind me).

[2015-12-28 19:31] jennyknuth commented on #223
Yes, I like the idea of suggested "best practices." 

Jenny 

—
Sent from Mailbox

On Mon, Dec 28, 2015 at 9:58 AM, Dan Hobley <notifications@github.com>
wrote:

[2015-12-28 19:32] mcflugen commented on #228
Yes, this is PR #210. I'll try to finalize it tonight. It really is just a minor clean-up for the functions that set the status of nodes on the edges of raster grids. I suspect there's additional standardization that still needs to be done.

[2015-12-29 01:11] jennyknuth opened #232 "Timestep explanation in the docs"
Somewhere in the docs, I'd like a brief discussion of timesteps and instability. Could be it's own page, but at least its own section. I'd like to link to it from the end of this section: https://github.com/landlab/landlab/wiki/Build-a-Model#5-run-the-model and maybe also from the Components page and from some of the tutorials. Here is some text we had previously on this topic:
[code]
[code]

Firs

[2015-12-29 01:26] jennyknuth opened #233 "List of Components/List of Standardized names"
Have an auto-generated list of components and standardized names and (…anything else like this? fields?) on a page somewhere (e.g., readthedocs) and link to this page from the wiki/User Guide so that the wiki/User Guide is always up to date. Not terrible at the moment, but hoping it is soon too difficult to manually maintain...

[2015-12-29 13:08] SiccarPoint commented on #232
That info is only relevant specifically to a couple of the components, so it’s not just a matter of transfer.

But you’re right, we need a specific section on time steps and stability.

[2015-12-29 15:56] nicgaspar commented on #232
Yes, we should have a section on this.  But it's really most important for each of the individual components.  So we need to make sure that the documentation on each component discusses time steps.  I still think this will be tricky when making models using different components, but maybe I'm missing something obvious.

[2015-12-29 16:34] SiccarPoint commented on #232
I’m not sure if it will be tricky as such, but it might be inefficient.

The scheme looks like this in pseudocode I think

[code]

Note that then the user is the one who controls how often the components “communicate” with each other, but that beyond that, the components do their own thing with whatever timestep they want. But nonsensical setting of the user defined dt (i.e., too low) will cause a

[2015-12-29 16:49] gregtucker commented on #232
How about something like the following:

### About Components and Time Steps

Anyone who has taken a numerical computing course knows the importance of time-step size: choose too small a step and your calculation takes forever to run; choose too big a step and it goes unstable. The details depend, of course, on the particular equations and the numerical method used to solve them.

Landlab Componen

[2015-12-29 16:52] SiccarPoint commented on #232
Like it

[2015-12-29 17:07] erkanistan commented on #232
This sounds reasonable..
I think there are two issue with selecting time steps: numerical
stability and computing time and the natural realism of assuming
constant values of a parameter within the time step. I guess the former
is the case when we are doing simple diffusion-fluvial simulations with
fixed parameters, but both issues need to be dealt with when doing
complex coupling.
But I think as c

[2015-12-29 17:12] jennyknuth commented on #232
Nice! We now have a page to reference here:
https://github.com/landlab/landlab/wiki/Time-Steps

On Tue, Dec 29, 2015 at 9:52 AM, Dan Hobley <notifications@github.com>
wrote:

--

Full-Stack Web Developer
303-802-7214
http://jennyknuth.com
https://www.linkedin.com/in/jennyknuth
https://github.com/jennyknuth

[2015-12-29 17:12] #232 closed

[2015-12-29 17:13] SiccarPoint commented on #232
You’re totally right Erkan. To some extent I think users need to have enough skill to think these issues out for themselves, but we probably should talk about it in the docs nonetheless.

I wonder if a possible way forward (down the line!) for you ecohydro component would be to import the storm generator internally and demand the user supplies input params to initialise it, within appropriate boun

[2015-12-29 17:19] jennyknuth commented on #232
Replied before I saw these comments…you guys are fast! Erkan, do you want to add a bit about realism to the page here: https://github.com/landlab/landlab/wiki/Time-Steps? (Just click the edit button at the top to make changes.) Dan, your bit is critical for people writing components.

[2016-01-07 22:12] jadams15 commented on #217
Once pull request #234 is merged, this issue can be closed.

[2016-01-07 22:23] jadams15 commented on #217
I know this is going to drive you crazy - but once again, I am getting different results since you changed find_active_neighbors_for_fixed_links() again. I need to unit test this now. Maybe we hold off on merging until I can prove to myself which one is correct?

[2016-01-07 22:31] mcflugen commented on #217
You're talking about #234? I didn't make any changes to `find_active_neighbors_for_fixed_links`. I added something to the docstring, but that should have been all.

[2016-01-07 22:33] jadams15 commented on #217
oh oops. too many windows open. yeah, you're right - I didn't merge in my changes back to the overland_flow component. I read that wrong. no matter. I'm still building a unit test now so it was a worthwhile mistake (and hopefully not a can of worms)

[2016-01-08 04:47] #217 closed

[2016-01-15 23:20] gregtucker opened #235 "Broken link in "components" portion of user guide"
The link to "landlab.components.flow_routing.route_flow_dn.FlowRouter" under "Available Landlab components" seems to be broken...

[2016-01-15 23:58] gregtucker opened #236 "Possible bug in netCDF writer?"
The code files slope_area_1.py and erosion_model.py, which I'll share on slack or email, generate netCDF output using the write_netcdf function with the NETCDF4 option (because NETCDF3 can't handle int64). The code runs, but when you read the results into paraview 4.4, they often are missing most of the fields created by FlowRouter (the only component). Further, when paraview reads in the data (ac

[2016-01-16 00:01] #235 closed

[2016-01-16 16:35] gregtucker opened #237 "Lake mapper: bug in handle_outlet_node()"
File "/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/components/flow_routing/lake_mapper.py", line 582, in map_depressions
    self.route_flow()

  File "/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/components/flow_routing/lake_mapper.py", line 597, in route_flow
    self.handle_outlet_node(outlet_node, nodes_in_lake)

  File "/Users/gtucker/Dev/Landlab/Clone/landlab/landlab/components/flow_

[2016-01-16 21:25] SiccarPoint commented on #237
Pretty sure this is a propagating error from changes to the neighbor handling that Eric implemented before Christmas. I *think* the component is fine.

[2016-01-16 21:58] mcflugen commented on #237
I can have a look. @gregtucker, can you provide a minimal example that reproduces the error you're seeing?

[2016-01-17 00:40] gregtucker commented on #237
Yes, but the code and input is a bit large so I'll email them.

[2016-01-17 00:42] gregtucker commented on #237
Thanks Eric, here are the files needed to reproduce the error

Same .py files as with netCDF issue, but tweaks to
slope_area_1.py...(ie, it's not exactly the same as the previous one I sent)

On 1/16/16 2:58 PM, Eric Hutton wrote:

ncols         217
nrows         232
xllcorner     1121623.7677307
yllcorner     886477.87701824
cellsize      48
NODATA_value  -9999
-9999 -9999 -9999 -9999 -9999 -9999

[2016-01-17 00:58] mcflugen commented on #237
Thanks. What are the changes I need to make to `slope_area_1.py`?

[2016-01-17 01:02] gregtucker commented on #237
Sorry, I realize these files are confusing. The *first* version of slope_area_1.py I sent has the lake_mapper commented out; it needs the name '../topo_input_for_models/sitec2dem48.txt' changed to just 'sitec2dem48.txt' (which should then sit in the same folder). It should run once this fix is made, and it should generate a couple of netCDF files.

The *second* version of slope_area_1.py has the l

[2016-01-17 01:19] mcflugen commented on #237
I'm having trouble using the data pasted above. Could you email me `sitec2dem48.txt`?

[2016-01-17 04:11] mcflugen commented on #236
I'm pretty sure the problem is that ParaView doesn't support NetCDF4. If I write just the fields that are `float` as NetCDF3, ParaView reads things just fine. However, if I again write just the `float` fields but as NetCDF4, things don't load correctly into ParaView.

Do you need the `int64` fields? If not, you could just write the fields you need. You can do this with the `names` keyword,
[code]

[2016-01-17 05:09] mcflugen commented on #237
I tried the example code for several older versions of landlab and many of them showed the same error. To get something that ran without failing, I had to go back to v0.1.33 (2015-10-11). However, that version didn't even have the `handle_outlet_node` method for `DepressionFinderAndRouter`.

In the current version, if I change lines 671-674 to,
[code]
things "work". However, this may be just becau

[2016-01-17 18:04] gregtucker commented on #236
That seems to work!

On 1/16/16 9:11 PM, Eric Hutton wrote:

[2016-01-21 21:11] SiccarPoint commented on #237
@gregtucker - did you only send Eric the necessary files? Don't think I have them.

[2016-01-22 02:49] gregtucker commented on #237
I think so, here they are

On 1/21/16 2:11 PM, Dan Hobley wrote:

ncols         217
nrows         232
xllcorner     1121623.7677307
yllcorner     886477.87701824
cellsize      48
NODATA_value  -9999
-9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -99

[2016-01-22 02:55] SiccarPoint commented on #237
Did you forget to attach…?

[2016-01-22 02:56] mcflugen commented on #237
@gregtucker, @SiccarPoint: GitHub truncated the data file. They need to be sent over email. I can dig them up.

[2016-01-22 02:57] gregtucker commented on #237
I just emailed them directly to Dan

On 1/21/16 7:56 PM, Eric Hutton wrote:

[2016-01-22 02:58] SiccarPoint commented on #237
Got them. Thanks guys!

[2016-01-22 18:59] SiccarPoint commented on #237
OK, looks like Eric's fix is correct. Those bad_indexes should be -1; that's what `out_draining = unique_outs[1:]` at line 683 is stripping. Somehow this has got mangled... I'm SURE this used to be the case.

Anyhow, as Eric notes, making this change lets the code finish running, but I have no idea if the resulting output is right. Greg - can you switch to SiccarPoint/fix-issue-237 and see if the

[2016-01-22 19:05] SiccarPoint commented on #237
I should note, I think the existing unit tests for this are still running clean.

[2016-01-24 18:07] gregtucker commented on #237
Thanks guys, that seems to have done the trick. I will close this issue.

[2016-01-24 18:07] #237 closed

[2016-01-24 18:46] SiccarPoint commented on #237
Did you actually merge the changes into master?

[2016-01-24 18:49] gregtucker commented on #237
no

On 1/24/16 11:46 AM, Dan Hobley wrote:

[2016-01-24 18:59] SiccarPoint commented on #237
I’ll do it… Probably for future reference shouldn’t close issues until changes are actually in master though?

[2016-01-27 19:40] SiccarPoint opened #240 "Grid property standardisation"
This issue gathers in one place modernisation needs for the various grid properties, superseding several older issues. The modern syntax as I think we now have settled on is (taken fresh from my paper draft):

**Grid characteristics**. Landlab grids provide Python properties to describe the geometric characteristics of the elements themselves, for instance, positions, dimensions, and boundary cond

[2016-01-27 19:49] SiccarPoint commented on #240
Thus, scanning the grid methods and properties we already have, looks like the most systematically inconsistent things are:

1. status_at_node -> status_of_node (characteristic of element, not a connectivity thing)
2. "update" -> "set" (for consistency of BC control methods)
3. "find" -> "calc" (probably, or remove word)
4. "calculate" -> "calc"
5. "build" -> "get"
6. "get"... lots of incorrect us

[2016-01-27 19:53] SiccarPoint commented on #219
This issue superseded by #240 .

[2016-01-27 19:53] #219 closed

[2016-02-04 21:12] gregtucker opened #241 "Docs: have __init__ docstring and function signature appear in readthedocs API doc"
When users get documentation for a class, such as a component, the class's __init__ method docstring should ideally appear. Yet it doesn't in the scraped files, probably because they are set up to ignore __magic__ sorts of functions.

[2016-02-04 21:19] SiccarPoint commented on #241
Here’s a solution. You can either have the __init__ docs bolted onto the end of the class docstring, or have __init__ appear as a separate item in the methods list.

I would advocate for the former I think, as do we really want all our users to have to understand what an __init__ method is in order to use LL??

http://stackoverflow.com/questions/5599254/how-to-use-sphinxs-autodoc-to-document-a-cla

[2016-02-05 17:24] mcflugen opened #242 "NetCDF tests are failing"
It appears that the recent upgrade of scipy from 0.16 to 0.17 has caused a problem with our NetCDF writer.

When trying to write a grid to a NetCDF file, the following error is raised,
[code]
The offending line appears to be,
[code]
Moving this line a little higher up, so that the `nt` dimension is created first, should fix the problem

[2016-02-07 21:34] jennyknuth commented on #241
I looked into this, and yes, as Dan shows, it is easy to bolt the doc string from __init__ on to the end of the class docstring. However, this also includes a repeat of the autosummary of attributes and methods AND it looks like much of the __init__ documentation is redundant with the class docstrings anyway.

So perhaps a better solution is to—from now on—document the __init__ method in the class

[2016-02-08 04:06] #242 closed

[2016-02-08 15:34] mcflugen commented on #241
I agree. I very much like including the `__init__` documentation in the main class docstring. The main way I use docstrings is by typing, for example, `help(RasterModelGrid)`. The documentation about how to create the class is usually what I'm looking for and so is nice to have at the top.

[2016-02-08 16:54] SiccarPoint commented on #241
+1 this. Good call.

[2016-02-12 15:37] gregtucker opened #245 "Stream Power component: why do elevations sometimes INCREASE?"
I have a test case with a DEM drainage basin, and am using FastScapeStreamPower component. After one time step, some elevations *increase*. Stream power should ONLY lower elevations. Why is this happening?

@siccarpoint: I'll email you the files.

[2016-02-29 21:03] SiccarPoint commented on #245
Addressed by #247. The answer was related to routing across lake flats where the lake floor gradient pointed upstream still (and was also an issue in the other SP component). This was resolved by 1. forbidding all elev increases in both components, and 2. allowing a flag to suppress changes beneath lakes entirely.

[2016-02-29 21:03] #245 closed

[2016-03-03 22:28] SiccarPoint opened #250 "clobber for mg.add_ones, add_zeros, etc"
I think that the methods to add fields of single values to the grid should have noclobber flags as add_field does. Related: I also think the default should be True, not false as it is on add_field right now (as the main use case would seem to be accidental overwrite, which if it's accidental, you will not have set the flag).

Also, the docstrings, including for add_field, should document what the

[2016-03-03 22:30] SiccarPoint commented on #250
Happy to add this myself, but would like input on the changes first ( @mcflugen ?)

[2016-03-04 17:03] mcflugen commented on #250
That all sounds good. Have at it if you like. Otherwise, I'm happy to do this.

It looks to me like `ModelGrid.add_field` is properly documented and shows the real signature, rather than just `*args` and `**kwds`. I might be looking in the wrong place though.

[2016-03-04 17:16] SiccarPoint commented on #250
Just try opening an interactive session, creating a grid, and getting help for add_field. It shows as `(*args, **kwds)` only. Same for the other add_... options.

[2016-03-04 17:50] mcflugen commented on #250
This is what I was doing,
[code]
The second like gives the actual signature. I believe that on our HTML docs the `*args` and `**kwds` do not even show up. If that's not good enough, we could change `add_field` to not have `*args` or `**kwds`. However, the reason we do it now is because we're trying to support two different signatures (for backward compatibility). Perhaps we should drop the backwar

[2016-03-04 18:00] SiccarPoint commented on #250
I had my wires crossed. You’re right for add_field, but the signature is missing for the others. I’ll add it.

D

[2016-03-04 18:28] mcflugen commented on #250
Oops. Sorry. I should have caught that.

[2016-03-09 20:18] SiccarPoint opened #252 "links_at_node on Voronoi"
This is busted. It shouldn't be. The method is looking for the property _links_at_node, which apparently doesn't exist/no longer exists (?) in the general case.

Anyone know what's going on here? I feel like this used to work. The method exists in base, which implies it used to be fine.

[2016-03-10 00:07] gregtucker commented on #252
I've got work in progress on this in one of my branches

[2016-03-10 00:10] SiccarPoint commented on #252
What's it looking like? Are you changing the basic form of the data structure? That could be problematic, as it's now pretty widely used in the mappers.

[2016-03-10 00:58] SiccarPoint commented on #252
Resolved by pull #253 .

[2016-03-10 00:58] #252 closed

[2016-03-14 16:52] SiccarPoint opened #259 "Website docs and google"
Charlie reports that Google is still pointed at our Readthedocs webpages. This is bad, as there's quite a bit of old docs in there.

Probably needs a redirect much more clearly on this stuff - maybe on every page which has been superseded by the wiki?

[2016-03-14 17:42] SiccarPoint opened #260 "Mappers should all take arrays as inputs, as well as fields"
It should be possible to do:
[code]
...as well as the only way we have now:
[code]

Plenty of cases where you need to map "on the fly", and it doesn't warrant creation of a field.

[2016-03-14 17:50] SiccarPoint commented on #260
I think there's some consistency/documentation issues too in terms of whether output fields are created. Various of the mappers e.g.,mg.map_max_of_outlinks_to_node() make claims to "...[return] a field at the nodes with the same var_name as the link field", whereas I don't think any new field is created - they actually just return an array.

[2016-03-14 23:05] gregtucker commented on #260
Yes! to resolving this issue. It would be very helpful.

[2016-03-14 23:12] SiccarPoint commented on #260
I'm on this right now

[2016-03-14 23:57] SiccarPoint commented on #260
Resolved by #263

[2016-03-14 23:57] #260 closed

[2016-03-15 02:56] SiccarPoint commented on #220
This is now partially addressed by #256 , but lots more effort still needed!

[2016-03-15 02:56] gregtucker commented on #220
Go, Dan, Go!

[2016-03-15 14:48] mcflugen opened #264 "Fewer tests are running on Travis and AppVeyor than are locally"
Our CI testing on AppVeyor and Travis was not finding about 70 tests (mostly in the components folder) that are found when the tests are run locally. This most likely happens only for development versions of landlab (that is, landlab is installed in development mode with something like `python setup.py develop`).

I suspect this problem would also appear with any version of landlab installed with

[2016-03-15 14:59] SiccarPoint commented on #264
Temporary solution - make sure you run tests locally before committing, right?

[2016-03-15 20:05] mcflugen commented on #264
Yes. Absolutely. That would work - but only for your local setup. It wouldn't catch problems that arise from different versions of Python, operating systems, etc.

In any case, #265 should fix this.

[2016-03-16 03:00] #264 closed

[2016-03-17 20:13] gregtucker opened #266 "Curate "next level down" in API docs"
The skinny: break up auto-generated API doc files so they are shorter and more topically focused. Example: gradient functions could be one single file/page, rather than part of a big huge file.

[2016-03-17 20:16] gregtucker opened #267 "Add an "inactive_links" property"

[2016-03-19 23:16] mcflugen opened #268 "Error reading YAML parameter files from file-like objects"
The `load_params` function raises an exception when trying to load parameters from a file-like object of a YAML-formatted parameter file.

[2016-03-22 02:35] #268 closed

[2016-03-24 14:50] gregtucker opened #272 "Make faces_at_cell a property instead of a bound method"
To make it consistent with other related grid variables

[2016-03-24 15:08] #241 closed

[2016-03-24 20:22] #215 closed

[2016-03-25 21:12] gregtucker commented on #272
The order also should be ENWS (currently SENW)

[2016-03-29 20:57] SiccarPoint opened #278 "documentation of components"
We need to work harder on component documentation. The even the best docs don't at the moment list:

1. Any of the info from the standard properties (esp. a problem for input/output fields)

2. Any info on which methods or properties are intended to be of use to the user (e.g., the lake mapper offers useful properties to ID where the lakes actually are, but the user doesn't know they're there). Th

[2016-03-29 22:19] SiccarPoint opened #279 "Private methods on components"
Got a private method for a component a user should basically never interact with?

It should start with an underscore, per Landlab v. 1.0.

[2016-03-30 15:07] mcflugen opened #280 "Wrap run_one_timestep as BMI update"
The "run" method for landlab components is now called `run_one_timestep`. This is somewhat similar to the BMI method, `update` (or `update_until`). If an landlab component has a `run_one_timestep` method, the BMI wrapper should use that in its `update` and `update_until` methods.

[2016-04-04 20:51] SiccarPoint opened #281 "Document broken methods"
This issue attempts to maintain a list of old methods that no longer exist in Landlab, and their replacements.

If you find a method in your code that is now giving errors, record it here.

[2016-04-04 20:55] SiccarPoint commented on #281
mappers.map_link_end_node_max_value_to_link() is now absent. Replaced by map_max_of_link_nodes_to_link.

[2016-04-05 22:31] mcflugen commented on #280
Because some components are not time-dependent, we decided to use `run_one_step` instead of `run_one_timestep`.

[2016-04-10 15:45] #272 closed

[2016-04-10 16:04] #218 closed

[2016-04-10 19:17] gregtucker opened #283 "Miscellaneous API doc updates: Grid"
- Rename title of page to "Reference Manual and API Documentation"
- Under "Grids", add sub-heading "Grid types"
- Mappers: in mappers.py, add a list of mapping functions to the header docstring, using sphinx `autosummary` directive
- Same with gradients.py
- If there are other grid methods and/or attributes that aren't covered in the header docstring for base.py, add them (with links, which I thi

[2016-04-10 19:55] #229 closed

[2016-04-10 20:04] jennyknuth commented on #216
As of April 2016, the best way to search the wiki is to search your local wiki repo. Will look for this github functionality if it becomes available or look into creating our own search bar.

[2016-04-10 20:05] gregtucker opened #284 "Component reference guide / dev API"
The Ref/Dev API needs to have its "Components" section properly curated. More specifically, landlab.components.rst should be hand-edited, with titles of individual components.

[2016-04-10 20:06] jennyknuth opened #285 "Add TOC to each page of User Guide"
Because there is no search bar for the Wiki, insert a TOC at the top of each of the User Guide pages so things are easier to find.

[2016-04-11 14:06] gregtucker opened #286 "Modernize diffusion component"
The diffusion component:
a) needs to have modern signature, i.e., parameters rather than input stream
b) for some reason, initialize() is not called even when passing a dict as input stream

[2016-04-11 18:00] SiccarPoint opened #287 "Dynamic grid flagging/warnings"
At the moment, very many of our components implicitly assume the topology will be stable throughout a run. It won't always be.

Ideally, we need to implement some kind of mechanism to track if the topology of the grid gets changed after instantiation. At the very least, until we have this (& for v.1.0), we need to document that Landlab *does not support dynamic grid deformation at all* somewhere i

[2016-04-11 18:46] SiccarPoint commented on #287
The same also potentially applies to dynamic changes to grid boundary conditions.

[2016-04-12 17:36] SiccarPoint commented on #286
Addressed by #288. I'm assigning GT to review as the creator of this issue!

[2016-04-16 14:58] #286 closed

[2016-04-16 14:59] gregtucker opened #291 "Make a `width_of_face` property (replaces `face_width`)"
We agreed to use the terminology:

<attribute>_of_<element>

We now need to implement this change.

[2016-04-16 15:22] SiccarPoint commented on #291
This might happen automatically when Eric merges his graph branch, so maybe don't commit to making these changes by hand until we see what he's covered...

[2016-04-17 16:43] mcflugen commented on #291
Yes, I'm doing this. However, I think, we decided that it would be `length_of_face` so that it is consistent with `length_of_link`.

[2016-04-17 16:51] SiccarPoint commented on #291
I think it’s width too.

[2016-04-17 17:22] mcflugen commented on #291
Wait. It's easy for me to change but you're saying you want `width_of_link` and `width_of_face`?

[2016-04-17 17:35] SiccarPoint commented on #291
No. IMO, links have length, faces have width. Because in all existing use cases, flux is link parallel, face transverse.

[2016-04-17 18:27] gregtucker commented on #291
I understand the argument for consistency, and the fact that what we now call "face width" and "link length" are similar and complementary geometric entities, which will in fact occupy the same role in Eric's new graph-based representation of the dual components of a grid. Nonetheless, I agree with Dan on the use of both "length" and "width". It is more intuitive and in sync with common english us

[2016-04-22 01:22] gregtucker opened #292 "LinearDiffuser doesn't hold on to "g" when it already exists as a field"
The below shows how the error can be reproduced:

from landlab import RasterModelGrid
from landlab.components import LinearDiffuser

rg = RasterModelGrid((4, 5), 10.0)
rg.add_zeros('node', 'topographic__elevation')
ld1 = LinearDiffuser(rg, linear_diffusivity=0.01)
ld1.diffuse(1.0)  # no problem
ld2 = LinearDiffuser(rg, linear_diffusivity=0.001)
ld2.diffuse(1.0)  # problem: gradient field already e

[2016-04-22 01:37] gregtucker opened #293 "Ability to change component parameters dynamically"
We ought to be able to run a component, then change one or more of its parameters, then run it again. Right now this is kind of doable but clunky. If you know the variable name, you could change it directly, e.g.,

my_diffuser.kd = 0.03

but (a) you have to know the variable name and (b) the internal time step won't be updated.
A better solution might be to use the BMI-style set_value('var_name',

[2016-04-25 05:26] pohleric commented on #281
From the tutorial deAlmeida Overland Flow Component:
rmg.create_node_array_zeros('water_depth')

The function `create_node_array_zeros` is not available.
If instead `rmg.add_zeros('water_depth', at='node')` is used, the `of.gear_time_step(rmg)` from the overlandflow-object gives an error:
---------------------------------------------------------------------------
TypeError

[2016-04-25 15:49] mcflugen commented on #281
@pohleric: It looks like the example you are using is out-of-date (at least with the latest version of landlab from `master`). The `overland_flow` method no longer takes a `ModelGrid` as the first argument. Instead, it should be either `of.overland_flow(dt)` or just `of.overland_flow()`.

What version of landlab are you using?

[2016-04-25 16:13] pohleric commented on #281
I will check this. I use version 0.5.0 installed via pip following the instructions with anaconda on http://landlab.github.io/#/ on a mac.

[2016-04-25 16:19] jadams15 commented on #281
Hi @pohleric, I think the overland flow tutorial is outdated as well. Apologies for that. Are you using the iPython notebook? or can you point me to the code you're using?

If you've updated your Landlab recently using pip, the tutorial will most likely not work at all. once I know what code you're using I can help you get up and running, as I'm the primary code author of that component. Keep us p

[2016-04-25 18:36] pohleric commented on #281
Hi @jadams15 , I managed it. What @mcflugen pointed out was indeed the issue. The other things that are not as in the tutorial are the time steps as you can see in the code. I did use my own DEM, so it might be related to that...

I attached the notebook; had to pack it for github. Thanks for the help! I will certainly get more into it soon!
[overland_flow.ipynb.zip](https://github.com/landlab/lan

[2016-04-25 18:41] jadams15 commented on #281
of course, keep us posted. if you plan to use Landlab some more, please let us know and we can add you to our Slack channel for landlab users. That, and these github issue trackers, are the easiest way to stay in contact with our dev team.

[2016-05-03 19:57] SiccarPoint opened #298 "Node ordering on "exotic" voronoi types"
Node ordering in RadialModelGrid does not follow our conventions (i.e., counting from bottom left). It appears to retain scipy.voronoi orders. May also be an issue for Hex?

Hopefully this will be resolved by @mcflugen 's graph work, but this is here as a reminder to check.

[2016-05-03 21:39] gregtucker opened #299 "Put LL contact info on github readme"

[2016-05-03 21:41] SiccarPoint commented on #298
I think I was wrong, sorry...

[2016-05-03 21:41] #298 closed

[2016-05-03 22:08] gregtucker opened #300 "Tutorials: make and wiki-post tutorial on plotting and related"

[2016-05-03 22:09] gregtucker opened #301 "Tutorials: make and wiki-post tutorials on grad/div and paraview"

[2016-05-03 22:09] gregtucker opened #302 "Wiki-post existing tutorials that aren't currently on Tutorials wiki page"

[2016-05-06 00:23] #292 closed

[2016-05-10 01:09] SiccarPoint opened #308 "Patch IDs on irregular grids"
The data structures for patches on irregular grids are very broken. e.g.,
[code]

[2016-05-10 06:54] SiccarPoint commented on #308
This is being addressed in SiccarPoint/modernise-components.

[2016-05-13 06:05] SiccarPoint commented on #308
Fixed in #314

[2016-05-13 06:05] #308 closed

[2016-05-13 06:07] SiccarPoint opened #318 "Buggy behaviour if a component has the same field name defined on multiple elements"
Basically, you can't auto-create fields. Also, the errors you get can be kind of opaque.

Could do with a fix, but a kind of minor thing.

[2016-05-13 20:46] mcflugen opened #325 "Name for patches_present_at_node"
There is an attribute of the `ModelGrid` called `patches_present_at_node`. Although I now know what it is, I'm no so sure users will know. Perhaps there is a better name out there.

[2016-05-19 18:13] kettner opened #333 "gflex warning coming up when working on tutorial overland flow driver"
Just want to report a warning, indicating that gflex isn't loaded when importing libraries defined in tutorial overland flow driver. See also screendump.
Fun playing though with landlab.
cheers, Albert.

![screen shot 2016-05-19 at 12 11 32 pm](https://cloud.githubusercontent.com/assets/7075202/15404514/0fa3fafa-1dbb-11e6-9c8b-18c79162a441.png)

[2016-05-19 19:16] SiccarPoint commented on #333
Thanks @kettner !

[2016-05-19 20:38] SiccarPoint opened #334 "`landlab.test()`"
`landlab.test()` fails even when running `test-installed-landlab.py` passes fine. The issue appears to be that a DeprecationWarning is treated as a fail by `landlab.test()`.

[2016-05-19 20:40] SiccarPoint commented on #334
If we don't support running `landlab.test()` any more, we should remove it, and remove the reference from the github model page (https://github.com/landlab/landlab).

[2016-05-19 21:11] SiccarPoint opened #335 "Glacier flow"
Dylan Ward is keen to see a glacier flow & erosion model go into LL, and in particular is keen for it to be a clone of David Egholm's 2nd order approximation ice flow model. He's probably going to get in touch.

[2016-05-19 22:48] SiccarPoint commented on #335
This model: http://onlinelibrary.wiley.com/doi/10.1029/2010JF001900/full

[2016-05-20 23:14] SiccarPoint opened #337 "Node ordering on RadialModelGrid"
The node ordering on RadialModelGrids doesn't appear to obey LL x-then-y convention:

[code]

I believe this should be:
[code]

[2016-05-24 17:40] SiccarPoint opened #340 "status_at_link"
Status at link should become writable. This will make the BC bookkeeping harder, but is worth it.

At the moment, inactive links can only be produced by the judicious setting of CLOSED_NODEs. However, we should definitely allow the following:

[code]

i.e., as long as not all links at a node are not active, a node can still be core.

[2016-05-24 18:04] gregtucker commented on #340
I suggest proceeding with caution here. The example above would actually change the definition of an inactive link from:
NOW: any link that touches one or more closed-boundary nodes OR connects two boundaries of any type
PROPOSED (if I understand right): either the above OR any link that a programmer has decided ought to be inactive.

[2016-05-24 18:42] SiccarPoint commented on #340
Yes, this is our current de facto definition (though I’m not sure how many places it’s actually spelled out - I’ll have to check). But an actual process definition of an inactive link is one that cannot carry flux, in the same way that a closed node is one that can’t receive flux. At the moment, this isn’t quite true, for the reasons this issue is getting at. It would be nice to have out boundary

[2016-05-24 19:50] mcflugen commented on #340
@SiccarPoint: is what you are proposing just a matter of convenience for users or is it true that sometimes you can't get the same results but carefully setting node statuses. Physically, why would you want to connect two core nodes with an inactive link? Or, conversely, why do those nodes have to be core?

[2016-05-24 20:03] SiccarPoint commented on #340
This mainly arose because I was trying to demonstrate something specific in a unit test that responded to link status, but I was unable to configure the nodes in such a way to produce the right configuration. However, this is because such a configuration is forbidden under our current rules, so it didn't need testing!

I think maybe it's OK, and in the general case you can always create equivalent

[2016-05-27 23:29] gregtucker opened #342 "Correct license (should be MIT, not GPLv2) on CSDMS Landlab entry"

[2016-05-31 21:43] SiccarPoint commented on #337
To be fixed as part of the graphs merge.

[2016-06-01 23:47] SiccarPoint opened #343 "Cell areas on Hex"
[code]

All cells on a regular HexModelGrid should have the same area. Could @mcflugen , @gregtucker take a look at this?

[2016-06-02 17:59] mcflugen commented on #343
This is another thing that's fixed on the `mcflugen/add-graph-class` branch. I'll work on merging that branch as soon as possible.

[2016-06-07 19:45] pohleric commented on #281
Hi @jadams15 ,
I found some time again to dig a bit deeper and would certainly appreciate if you could add me to the mentioned "Slack channel". Are the people working on the hydrological components from ¿Washington? in there as well?

[2016-06-08 15:34] jadams15 commented on #281
Hi @pohleric, it appears someone has added you to the Slack channel. If you have any questions, feel free to contact us there!

[2016-06-08 17:01] #334 closed

[2016-06-13 23:47] SiccarPoint commented on #343
As things stand, if one initialises a hex like so:
[code]

This is clearly not the best behaviour; there are core nodes at the grid edges directly exposed to the "open air". This is the same thing kicking in; I'm guessing some of the perimeter "cells" aren't actually hexes under this scheme...

(This is just a note to record the fact this is a problem that needs fixing alongside the main issue abo

[2016-06-13 23:49] SiccarPoint commented on #343
Here's a map of the core nodes of the above grid to emphasise that those are not the correct boundary nodes...

![figure_1](https://cloud.githubusercontent.com/assets/6867260/16026898/fe4df386-318e-11e6-8f19-712c6d87d200.png)

[2016-06-14 17:25] hjgray10 opened #346 "linear diffuser on VoronoiDelaunayGrid"
Hello,

Sometimes when I run LinearDiffuser on a VoronoiDelaunayGrid, I get the following error. Other times, its works perfectly fine. I have to run the code once or twice to get a successful run.

Traceback (most recent call last):

  File "<ipython-input-150-ff54e4298694>", line 1, in <module>
    runfile('/home/harrison/SAFSHEAR/Voronoi/SAFSHEAR_Voronoi_V1.py', wdir='/home/harrison/SAFSHEAR/Vo

[2016-06-14 18:40] SiccarPoint commented on #346
For the record, this is actively impairing Harrison's work flow.

The issue appears to be related to there being some (only) configurations of A Voronoi that break the assumptions of `_sort_faces_at_cell_by_angle`. This is probably a thing where there's a mismatch between the mappings of nodes, links, cells, and faces. (i.e., occasionally a cell gets created been though one of its faces actually d

[2016-06-14 20:01] SiccarPoint opened #348 "Docs on how to create a new release version/binaries"
The instructions at the bottom of this page:

http://landlab.readthedocs.io/en/master/dev_guide_install.html

...are so out of date as to be unusable. I have just spent about 45 minutes trying to get a new version to build, unsuccessfully. There appears to be an update to `meta.yaml` that is necessary, but it is undocumented and even the description in the Slack chat did not let me do this success

[2016-06-20 20:54] SiccarPoint opened #349 "A new install issue"
Just worked through a new strange path issue for installs on Kelly Kochanski's machine.

Turns out that if an install is performed on a Windows machine where conda is installed *through cygwin*, some very strange errors can happen. Kelly was running Python 3, but I don't think that's relevant. In either a Command Prompt iPython session or a Spyder session, landlab will import cleanly, but `landlab

[2016-06-20 20:56] SiccarPoint commented on #349
As our resident PC guru, @saisiddu 's thoughts would be very welcome here. Ever seen an issue like this, Sai?

[2016-06-20 21:37] hjgray10 opened #350 "Flow routing on looped boundaries"
Hello,

I would like to request functionality in flow routing to handle looped boundary conditions such that drainages can loop from one side of the grid to the other. For example, if I had a river that exited the grid at the right side, the flow routing would modify the drainage network such that the river would appear on the left side of the grid for a 'wrap-around' effect.

Thank you,

Harrison

[2016-06-20 21:40] SiccarPoint commented on #350
I believe this mainly requires modification of the "neighbor" private properties on the grid, rather than any changes to the component per se, e.g., the properties that `neighbours_at_node`, `nodes_at_link` etc look at. Trivial for a raster, harder for Voronoi.

[2016-06-23 18:29] hjgray10 commented on #346
Additionally, Sometimes when linear diffuser runs in a for loop, this error appears:

runfile('/home/harrison/SAFSHEAR/Voronoi/SAFSHEAR_Voronoi_V2.py', wdir='/home/harrison/SAFSHEAR/Voronoi')
start for loop
Traceback (most recent call last):

  File "<ipython-input-33-5ca0d974c16c>", line 1, in <module>
    runfile('/home/harrison/SAFSHEAR/Voronoi/SAFSHEAR_Voronoi_V2.py', wdir='/home/harrison/SAFS

[2016-06-28 22:54] SiccarPoint opened #352 "active_links_at_node()"
...is a straggler that still does things "old style". i.e., it is a method, not a property. Needs replacing.

[2016-06-30 21:36] hjgray10 opened #353 "DepressionFinderAndRouter"
Hi!

I have encountered a problem with DepressionFinderAndRouter when running a basic landscape evolution model:

`Traceback (most recent call last):

  File "<ipython-input-22-4108de105135>", line 1, in <module>
    runfile('/home/harrison/SAFSHEAR/Raster/Lake_fill_problem.py', wdir='/home/harrison/SAFSHEAR/Raster')

  File "/home/harrison/anaconda/lib/python2.7/site-packages/spyderlib/widgets/ex

[2016-07-05 21:08] gregtucker opened #354 "Component tutorial: replace MPD with load_params"
AND hide "io" -- just allow from landlab import load_params

To demonstrate usage of load_params:

from landlab import load_params

my_dict = load_params('myfile.txt')

[2016-07-11 17:37] hjgray10 commented on #353
Thanks to Greg Tucker for fixing this!

[2016-07-11 17:37] #353 closed

[2016-07-11 19:55] SiccarPoint commented on #353
I also made a few general improvements to this on Saturday night, subsequent to Greg's elimination of the major bug. This was mainly ensuring all fields get updated, especially `flow__link_to_receiver_node`, and a bit of speed optimisation.

Make sure you get them too!

[2016-07-11 20:53] hjgray10 commented on #353
Thanks Dan!!!

[2016-07-12 17:45] SiccarPoint opened #360 "Steepest descent methods in the grid"
The steepest descent methods still in place in the grid are a total mess, bad style, and extremely inefficient. Many are also only defined for Raster. This includes:
* find_node_in_direction_of_max_slope
* find_node_in_direction_of_max_slope_d4
* _calculate_steepest_descent_on_nodes

I believe these methods to be fundamentally unsalvageable. AFAIKT the only place these get used is in flow_routing_

[2016-07-12 18:09] nicgaspar commented on #360
If I wrote flow_routing_D8 it can be scrapped.  It’s super old and was replaced by your flow routing algorithm.

[2016-07-12 18:10] SiccarPoint commented on #360
Awesome. I'll go for a "hard prune" then, as part of the branch I'm working on.

[2016-07-14 17:50] SiccarPoint commented on #360
Resolved by #361

[2016-07-14 17:50] #360 closed

[2016-07-14 21:53] SiccarPoint opened #363 "mg.nodes_at_link"
I really want a `nodes_at_link` property. At the moment we only have `node_at_link_head` and `node_at_link_tail`, in isolation. We can retain these, but we'd have to make it so that `node_at_link_tail = nodes_at_link[:, 0]` and `node_at_link_head = nodes_at_link[:, 1]` under the hood.

[2016-07-14 21:56] SiccarPoint commented on #363
@mcflugen - Greg likes this idea, but thought you might already be including it? If not, I'll do it now.

[2016-07-14 21:59] mcflugen commented on #363
I've totally already added this is my branch. I actually thought we would already have had this. I'm sorry I haven't had time to get all this stuff back into the master branch.

[2016-07-14 22:00] SiccarPoint commented on #363
Cool, I'll hold off.

[2016-07-19 22:10] mcflugen commented on #333
This is fixed by #367.

[2016-07-19 22:10] #333 closed

[2016-08-10 19:32] SiccarPoint commented on #350
I have a branch working on this.

[2016-08-10 19:33] SiccarPoint commented on #348
All done now.

[2016-08-10 19:33] #348 closed

[2016-08-10 19:35] SiccarPoint commented on #291
We have this now.

[2016-08-10 19:35] #291 closed

[2016-08-10 19:43] SiccarPoint opened #380 "`imshow_grid` is badly interpolated if called with %matplotlib inline"
If a plot is shown inline in either a jupyter notebook (by calling %matplotlib inline) or in Spyder (which it does by default, very frustratingly), it will badly interpolate/antialias any fine detail in the plot, e.g., a drainage pattern. This problem does not exist if the plot is produced in an independent ipython window, or if the plot is saved directly to file.

<img width="600" alt="screen_sho

[2016-08-10 19:44] SiccarPoint commented on #380
This isn't actually our problem, it's a matplotlib thing. But we note that doing things with `imshow`, not `pcolormesh` under the hood resolves the issues. So we have 3 potential action items:

1. Warn users that Spyder’s autoplotting is dumb, and they can avoid it by, uh… not using Spyder?

2. (Maybe) modify `imshow_grid` to use `imshow` not `pcolormesh` where that makes sense, to minimise the im

[2016-08-12 21:49] SiccarPoint commented on #380
Resolved by #381.

[2016-08-12 21:49] #380 closed

[2016-08-16 02:45] SiccarPoint opened #385 ""OverlandFlowBates: unable to get input(/output) vars""
Using the command line interface, any call to `landlab uses [field]` or `landlab provides [field]` gives the warning "Warning: OverlandFlowBates: unable to get input vars" (or "...output vars", as appropriate). The output that appears after the warning appears broadly correct, except it doesn't include info from the OverlandFlowBates component - as you'd expect from the warning.

I can't see any p

[2016-08-16 02:45] SiccarPoint commented on #385
This is also relevant to @jadams15 .

[2016-08-16 02:55] SiccarPoint commented on #385
Solved it. There were locally defined functions overprinting the inherited `input_var_names` and 'output_var_names` from `Component`. I removed them and everything passes (plus a tweak of the tests).

[2016-08-16 02:56] SiccarPoint commented on #385
I'll finish it up.

[2016-08-16 02:56] #385 closed

[2016-08-16 02:56] jadams15 commented on #385
interesting... I also just looked into the Bates component and found a random stray letter in the middle of the code? I am curious how that didn’t cause a larger problem, buuuuuut whatever, fixed now?

[2016-08-16 02:59] SiccarPoint commented on #385
weird!

[2016-08-16 03:00] SiccarPoint commented on #385
Also, just noticed the "Base et al." typo sitting right there in the first line of the docstring. Good times!

[2016-08-16 03:00] mcflugen commented on #385
@jadams15 that "u" is (or, rather, was) important. Sometime in the past that particular docstring must have contained unicode characters.

[2016-08-16 03:02] mcflugen commented on #385
@jadams15: after the new docs build on RTFD, have a look at the documentation for `OverlandFlowBates` and make sure it looks like it should.

[2016-08-16 03:03] SiccarPoint commented on #385
(I just reinstated the unicode `u`, as there seemed little harm)

[2016-08-16 04:48] jadams15 commented on #385
just saw all this... my mistake. sorry. so many things I just don’t know!

[2016-10-19 19:59] awickert commented on #116
@SiccarPoint: I just had this same issue, and this post got me out of it. Would definitely support publicizing it somewhere.

[2016-11-14 17:02] SiccarPoint commented on #363
Bump?

[2016-11-14 17:07] SiccarPoint opened #404 "Tests on plant competition CA components"
The meat of Erkan & Sai's components are I believe untested. Please add even just a single doctest to "turn over" the code once. (Unless the tests are somewhere I'm not expecting, if so, please ignore)

[This issue motivated by trying to prune deprecated methods from the grid, and not being able to tell if I break something.]

[2016-11-15 18:24] mcflugen opened #407 "Allow "scalar" fields"
Currently in landlab data are attached to a graph element. For instance a *node*, or a *cell*. These fields are referred to by the `at_*` attributes of the `ModelGrid` classes.

How about adding values to the grid that are "global". That is, a scalar value that's attached to the grid as a whole rather than to grid elements? These "global" or "scalar" fields would return single values rather than a

[2016-11-15 18:26] mcflugen commented on #407
PR #406 provides a possible solution to this.

[2016-11-18 23:10] kbarnhart opened #409 "Create `calc_flux_div_at_face`?"
At present we have `calc_flux_div_at_node` but no `calc_flux_div_at_face`. Should we create `calc_flux_div_at_face`?

This issue came up because I recently modified the decorator `@use_field_name_or_array` so that it checks that the array it is passed is the size of the sort of element it is expecting (if it is passed and array instead of a field name). (see Issue #410 regarding modifying this dec

[2016-11-18 23:12] kbarnhart opened #410 "Should @use_field_name_or_array check the size of the array it is passed?"
@use_field_name_or_array does not presently check the size of the array it is passed to ensure that the array is `number_of_elements` long.

[2016-11-18 23:13] kbarnhart commented on #410
#409

[2016-11-18 23:33] mcflugen commented on #409
The `calc_flux_div_at_node` function does return values at *nodes*, so I guess the name as-is is correct and we don't need another function.

The question, then, is where should the unit fluxes that are input to this function be defined. I'm not totally sure how this should work but it seems like when calculating flux divergence at nodes, we should be using *links* not *faces*. If we were using *f

[2016-11-18 23:40] mcflugen commented on #409
In `calc_flux_div_at_node` we're really calculating flux divergence at *cells*, not *nodes* (*nodes* don't have area). Another option is to have a function `calc_flux_div_at_cell` that takes an array of fluxes at links and returns an array of length *n_cells* long. These values could then be mapped to *nodes* if that's what the user is wanting.

To me this is more clear but may be inconvenient to

[2016-11-18 23:54] kbarnhart commented on #409
Pull request  #411 addresses this issue.

[2016-11-18 23:56] kbarnhart commented on #410
Pull request #411 addresses this issue.

[2016-11-21 15:11] SiccarPoint commented on #409
I'd say stick with convenience over precision here. This also is a very user-facing method, which appears in at least one tutorial that has been repeatedly advertised as a good one to do. The return array is nodes-long, so I think `calc_flux_div_at_node` is the right terminology. If we want to add `calc_flux_div_at_node` alongside it, I'd be fine with that too.

The underlying rationale was what @

[2016-11-21 16:58] kbarnhart commented on #409
I agree that we shouldn't make `calc_flux_div_at_cell`. Incorrect and confusing.

As far as I can tell there are two outstanding questions

1) Should the decorator `@use_field_name_or_array` check the size of the array it is passed.

and

2) Should `calc_flux_div_at_node` be able to handle being passed both (a) fluxes on all links or (b) fluxes only on links where there is a face.

My inclination

[2016-11-21 17:23] mcflugen commented on #409
I actually think we *should* (also) have a `calc_flux_div_at_cell`. In fact, I think it is more correct and less confusing! Flux divergence is the total flux entering a cell (via links) divided by the cell area. Since nodes don't have area, it doesn't really make sense to calculate at nodes - particularly for perimeter nodes, which don't have associated cells.

I hate to add more keywords but mayb

[2016-11-21 21:15] kbarnhart commented on #409
A short summary of the discussion from today's conference call (and I'm adding Sai and Nicole as Assignees so this pops up in their threads).

Let me know if the following is not what you remember.

1) We want `calc_flux_div_at_node` to only work for arrays of length `number_of_links`.
2) We want to create a parallel function to `calc_flux_div_at_cell` that will only operate on arrays of length `n

[2016-11-21 21:19] saisiddu commented on #409
Sounds good to me! Should I merge this on GitHub?

________________________________
From: Katy Barnhart <notifications@github.com>
Sent: Monday, November 21, 2016 1:15:24 PM
To: landlab/landlab
Subject: Re: [landlab/landlab] Create `calc_flux_div_at_face`? (#409)

A short summary of the discussion from today's conference call (and I'm adding Sai and Nicole as Assignees so this pops up in their thr

[2016-11-21 21:25] kbarnhart commented on #409
I wouldn't merge yet. At the moment the commit associated with this pull request does (1) but not (2) or (3). Regarding (3) it does include the length check.

Depending on what people want I'll modify the branch.

[2016-11-23 16:27] kbarnhart commented on #410
This past Monday's meeting came down on the side of **no this functionality should not exist** primarily because it would add another step in a frequently used method and thus increase computation time.

[2016-11-23 16:39] nicgaspar commented on #410
Katy - This is fine with me although it seemed counter-intuitive to me at first.

I know you tagged me as a reviewer earlier. Do you want me to look at something?
nic

[2016-11-23 17:41] kbarnhart commented on #410
Hey @nicgaspar I've just made all of the changes summarized in issue #409 (PR #411). I'm happy for anyone to review it. I assigned you and Sai so that you would know what progress occurred after our discussion (not sure if there is a way to list people as in-the-loop without assigning them).

[2016-11-27 16:40] #283 closed

[2016-11-27 19:41] #410 closed

[2016-11-27 19:41] #409 closed

[2016-11-27 19:41] #407 closed

[2016-12-02 21:02] jadams15 opened #417 "option to write_esri_ascii without perimeter nodes"
The postdoc in our group wanted an option to output a topography from landlab without the perimeter nodes (e.g. the halo). I wrote a simple script to help him for now, but this should probably be an option in write_esri_ascii(). I'll work on this post-AGU!

[2016-12-23 17:14] kbarnhart opened #421 "Should D8 or D4 director/accumulator be implemented for irregular grids?"
In a prior conference call we discussed which between D8 or D4 flow director/flow accumulator makes sense for Voroni grids. The general consensus was that it should be D4---though in the current flow_router it is D8.

The code from flow_routing.py is at line 352 and is pasted below.

[code]

The way this is currently coded, I think it does make sense to keep Voroni with D8 instead of D4. What do y

[2016-12-23 17:33] mcflugen commented on #421
I wasn't on that call so I'm not sure what you all discussed, and so I'm probably missing something. With that said, I don't think either of those methods makes sense for anything other than a rectilinear grid. I would say both D4 and D8 imply rectilinear grids.

Now, if by "D4" you mean all flow goes to only one other cell, then I guess that could work. In that case, it's just that "D4" is a misn

[2016-12-23 19:04] kbarnhart commented on #421
@mcflugen you make a good point. D8 and D4 do imply a raster grid and so it may make more sense to be explicit about regular vs irregular grids in how the new director/accumulator components are implemented. Under this idea we might imagine the following director/accumulator options:

**Single flow direction:**

- D4 (Raster)
- D8 (Raster)
- SteepestDecent (Voroni)

**Multiple Flow Directions:**

[2016-12-24 17:07] gregtucker commented on #421
I like having the 3 single-direction schemes, and agree that raster is a special case that deserves its own classes. (By the way, the "DN" in the name of the file flow_direction_dn.py is mean to be the Voronoi version of D4/D8, with the "N" meaning an arbitrary number of neighbors; it is more like D4 in that one simply considers all valid links, without the addition of "diagonals")

I guess TwoSte

[2016-12-28 14:50] kbarnhart commented on #421
Thanks so much for both of your thoughts! I'll move forward on making the three single direction versions for the initial commit of this component. I have (at least) one more issue to discuss before these can be finalized, but I think it will be best illustrated once I push this branch. I plan to make a _to discuss_ pull request of these new components so that we can discuss the single direction v

[2016-12-29 15:59] gregtucker opened #423 "Installing and running Landlab apps on Beach"
How do we get Landlab to work on beach, either a release or dev version?

I tried cloning to my local user space, but when I run python setup.py develop, I get the following error:

beach:~/Dev/landlab>python setup.py develop
running develop
Checking .pth file support in /usr/local/adm/config/python/lib/python2.7/site-packages/
error: can't create or remove files in install directory

The followin

[2016-12-30 03:48] mcflugen commented on #423
I usually just install a minimal Anaconda in my home directory and put landlab in there. In fact, I do this not just on shared systems like *beach*, but on my own machines as well.

## Install Python
1. Install a minimal Anaconda (replace `MacOSX-x86_64` with `Linux-x86_64` for Linux).
[code]
2. Add it to your `PATH` and use `conda` to install python (when setting your `PATH` you may want to remov

[2016-12-30 03:53] mcflugen commented on #423
@gregtucker: The problem you are seeing on *beach* is due to two things: You don't have permission to write to the system python installation folder, and the system python installation on *beach* is kind of screwy (we don't use it for much of anything).

[2016-12-30 16:18] gregtucker commented on #423
Thanks @mcflugen. A couple of notes on doing the above on beach:

o I didn't know about curl, that's handy (guess it's a tool for installing stuff from websites that doesn't require a browser)
o for beach, make sure to specify Linux, not MacOS
o the instructions above are for python 3.x; for 2.x remove the "3" after Miniconda
o if you're running a csh the export command won't work. One workaround

[2016-12-30 17:24] mcflugen commented on #423
@gregtucker, I suspect most of your problems are related to not setting your `PATH` correctly. Your using tcsh on *beach*. For csh/tcsh:
[code]

Some notes on your notes:
* `curl` is a great tool to know about. I use it almost every day.
* Yes, on *beach* use the Linux version of the installer.
* No, use the Miniconda3 installer, regardless of what version of Python you will eventually install - i

[2016-12-30 18:26] gregtucker commented on #423
Great, thanks! But the paths are still wrong for some reason. Any idea why "which" sees the wrong conda and python, even though $HOME/conda/bin is first in the path? For example:

beach:~>echo $PATH
/home/gtucker/conda/bin:/usr/local/subversion/bin:/usr/local/python/bin:/home/csdms/tools/shapely/1.2.14/bin:/home/csdms/tools/geos/3.3.2/bin:/usr/local/java/bin:/home/csdms/tools/mpiexec/0.8.4/bin:/ho

[2016-12-30 18:31] gregtucker commented on #423
Aha, I may have the answer. Apparently, adding $HOME/conda/bin at the head of the path is not enough. One must also, for reasons I do not understand, also add $HOME/conda. Then which sees the right conda and python.

[2016-12-30 18:35] gregtucker commented on #423
Further install note, for Landlab:

The line "git clone git@github.com:landlab/landlab" produces an error on beach:

beach:~/Dev>git clone git@github.com:landlab/landlab
Initialized empty Git repository in /home/gtucker/Dev/landlab/.git/
Warning: Permanently added 'github.com' (RSA) to the list of known hosts.
Permission denied (publickey).
fatal: The remote end hung up unexpectedly

But using htt

[2016-12-30 18:42] gregtucker commented on #423
Next problem lies with running "python setup.py develop". I'm guessing that Miniconda needs numpy and other dependencies to be installed by hand. Example:

beach:~/Dev/landlab>python setup.py develop
Traceback (most recent call last):
  File "setup.py", line 69, in <module>
    import numpy as np
ImportError: No module named numpy

If you do: "conda install --file requirements.txt" in the main lan

[2016-12-30 18:45] gregtucker commented on #423
...is that this leads to the next problem: gcc. Could it be the wrong version of gcc? (Is there such a thing as the wrong version? Is it really that fragile?).

The version seems to be:

beach:~/Dev/landlab>which gcc
/home/csdms/tools/gcc/4.5.0/bin/gcc

The error message is:

beach:~/Dev/landlab>python setup.py develop
running develop
running egg_info
creating landlab.egg-info
writing requirements

[2016-12-30 18:48] mcflugen commented on #423
Did you install the landlab dependencies (step 2 under "Install landlab" above)?

[code]

[2016-12-30 18:49] mcflugen commented on #423
Sorry. I missed one of you above comments about the requirements file.

[2016-12-30 18:59] mcflugen commented on #423
@gregtucker: Is there a reason you're using `/home/csdms/tools/gcc/4.5.0/bin/gcc`? It appears to be broken. If you don't need it, I would suggest removing it from your path. `/usr/bin/gcc` works for me.

[2016-12-30 19:34] mcflugen commented on #423
Regarding the `git clone` step. It depends on what you have set up. I use `git clone git@github.com:...` on beach but maybe most users don't. The https method is probably safer to give as an example.

[2016-12-30 21:12] gregtucker commented on #423
@mcflugen: thanks. I think many of these issues trace back to the fact that I was using a tcsh, with all kinds of old stuff in the .cshrc file.

I figured out how to change to bash (via chsh). Wow, now it just works!

Maybe a good lesson for future confused users---my sense is that often the problematic installations occur when someone has messed with their default shell and dot files.

Thanks aga

[2016-12-30 21:24] gregtucker commented on #423
Remaining ISSUE: write up a page on the Github Landlab wiki with the above instructions on installing and running Landlab on the CSDMS HPCC Beach.

[2016-12-30 21:29] kbarnhart commented on #423
I'm happy to be a test case for this write up since I know I'll need to get landlab working on beach relatively soon.

[2016-12-30 21:32] mcflugen commented on #423
@gtucker: @jennyknuth and I went over this exact thing a while ago. The
instructions may have already found their way into the wiki.
On Fri, Dec 30, 2016 at 2:29 PM Katy Barnhart <notifications@github.com>
wrote:

[2017-01-04 17:15] SiccarPoint commented on #421
As noted in Slack, I don't think I'm a fan of distinguishing the regular (raster) & irregular methods like this, though I could probably live with it provided informative errors were raised in the obviously confusing cases, and that we retain backwards compatibility with a "wrapping" FlowRouter method that lumps a bunch of this under the hood.

As I think Katy was warming to on Slack, I think we s

[2017-01-04 18:38] kbarnhart commented on #421
in route-to-one we can store information as mg.at_node ['flow__receiver_node']

in route-to-one @mcflugen and I have tossed around a few different ideas:
1) can store information as mg.at_link['flow_proportion']
in which positive means the amount is flowing in the same direction as the link orientation and positive means it is flowing in the opposite direction.

this implies both the direction and

[2017-01-04 21:35] SiccarPoint commented on #421
Think the 2D fields option would be preferable, but probably needs @mcflugen to loosen the fields restrictions to let it happen.

Re the dimensions, I'd strongly advise storing the full array in `'flow__receiver_proportion'`. Things always get irritating down the line in those kinds of cases. Much easier to work with the full thing, for the cost of a trivial bit of extra storage.

[2017-01-11 21:25] kbarnhart opened #425 "set_watershed_boundary_condition breaks if the grid has two nodes with the minimum value"
the raster function `set_watershed_boundary_condition()` doesn't handle the case in which the grid has two nodes with the minimum value. It throws the following error if this is the case.

[code]

[2017-01-11 21:30] jadams15 commented on #425
So in this case there are two core nodes adjacent to boundary nodes, with the same elevation values? Is this one delineated watershed?

[2017-01-11 21:31] saisiddu commented on #425
Yes, this is a delineated watershed.
________________________________
From: Jordan Adams <notifications@github.com>
Sent: Wednesday, January 11, 2017 1:30:07 PM
To: landlab/landlab
Cc: Sai Siddhartha Nudurupati; Assign
Subject: Re: [landlab/landlab] set_watershed_boundary_condition breaks if the grid has two nodes with the minimum value (#425)

So in this case there are two core nodes adjacent to

[2017-01-11 21:32] jadams15 commented on #425
thanks, just making sure I understand the issue! I can see this being problematic. Do you know if the two "outlet"/min value elevations are next to each other?

[2017-01-11 21:35] saisiddu commented on #425
Yes, they are connected. The watershed itself was a little problematic at first. But, after using the DepressionFinder correctly, the router behaved well.
________________________________
From: Jordan Adams <notifications@github.com>
Sent: Wednesday, January 11, 2017 1:32:55 PM
To: landlab/landlab
Cc: Sai Siddhartha Nudurupati; Assign
Subject: Re: [landlab/landlab] set_watershed_boundary_condition

[2017-01-11 21:37] kbarnhart commented on #425
In Sai's watershed they are adjacent (node ids: 1389 and 1390).

[2017-01-11 21:39] kbarnhart commented on #425
See PR #426
That fixes this issue

There are, however some outstanding issues in _how to handle_ this sort of issue.

I'll tag you in that PR @jadams15 and suggest we discuss how to handle it in that PR instead of here.

[2017-01-11 21:43] kbarnhart commented on #425
[hugows10mpitf.txt](https://github.com/landlab/landlab/files/700113/hugows10mpitf.txt)
So we have @saisiddu 's raster in this issue thread I'm attaching it now.

[2017-01-19 23:34] jadams15 opened #428 "active_link_dirs_at_node not updating properly"
So, I ran into a bug(?) in a highly specific boundary condition case. If we change a closed node (status == 4) to an open boundary (status == 1), the boundary status in the grid is updated, but the active_link_dirs_at_node are not updating properly.

A use case for this would be a grid with closed perimeter nodes with one open boundary outlet on the edge, like the grid below:
X X X X
X C C X
X C C

[2017-01-19 23:38] jadams15 commented on #428
I tagged @gregtucker because I believe you most recently worked on this section of code? and @mcflugen because you're a wizard with the grid.

I think a lot of the problem lies in the fact that these arrays are set within some Cython code, which admittedly, I am not super familiar with.

[2017-01-20 14:52] gregtucker commented on #428
Thanks for catching this @jadams15. I'm currently flat out on another project for the next few days, so I think the earliest I can look at this would be Tuesday afternoon. So if someone else has time and motivation before then, go for it! :)

[2017-01-20 15:19] gregtucker opened #429 "syntax warning in sed_flux_dep_incision"
On import (of another component) the following warning appears:

/Users/gtucker/Dev/Landlab/landlab/landlab/components/stream_power/sed_flux_dep_incision.py:363: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert(self.Qc == 'MPM', "Qc must be 'MPM' to return stream " +

I suspect there needs to be an extra paren after 'MPM' and before "Qc

[2017-01-20 20:12] jadams15 commented on #428
certainly no rush on this - I am out of the office through Monday anyway. thank you!

[2017-01-22 15:48] gregtucker opened #431 "Stream power non-integer n bug"
In stream_power/cfuncs.pyx:

                z_diff = next_z - z[dst_id]
                f = alpha[src_id] * pow(z_diff, n - 1.)

if lakes/depressions are present, z_diff can be < 0. If n is not an integer, this results in an undefined operation: fractional power of a negative number. The proper behavior should be, I think, to set f = 0 when z_diff < 0.

[2017-01-22 16:36] gregtucker opened #432 "netCDF4 will not import"
This is not a Landlab issue per se, but it is causing some of our netcdf tests to fail.

(1) verify that I have netcdf4 installed:

Greg-Tuckers-MacBook-Pro:landlab gtucker$ conda install netcdf4
Fetching package metadata .........
Solving package specifications: .

# All requested packages already installed.
# packages in environment at //anaconda:
#
netcdf4                   1.2.4

[2017-01-22 17:58] kbarnhart commented on #432
Unless I'm mistaken, this also prevents running

[code]

from finishing.

Mine ends with `FAILED (SKIP=7, errors=2, failures=1)` and ends up not catching some errors I know I've (temporarily) induced.

[2017-01-28 19:34] jennyknuth opened #435 "documentation missing in 'latest' branch, time for a new release or new work flow?"
Due to a typo, the default 'latest' branch of the documents is missing much of the section on rectangular grids. The typo has been fixed, so perhaps it is time to do another release so the docs are in sync? Or maybe there is a better workflow to sync the docs if a release is not warranted at this time.

[2017-01-28 23:16] mcflugen commented on #435
I think it might be easiest to create a new branch off of `release` to fix the docs. Once fixed, this branch can then be merged into `release` (and also into `master`). Do you think that make sense?

[2017-01-29 00:52] jennyknuth commented on #435
Yeah, that does make sense, so docs branch off of release in future, not off of master. That's a good idea for the docs to stay in sync with the release. Will do!

[2017-01-29 00:53] #435 closed

[2017-02-03 17:07] mcflugen opened #440 "Update install instructions"
I think we need to update our installation instructions. Currently they instruct users to use a combination of `pip` and `conda` to install everything. Since we're telling users to use `conda` for some steps, we might as well just stick with `conda` for all the steps. If we want to help users who don't want to use Anaconda, we should have a separate set of instructions that just use `pip`.

## Reg

[2017-02-03 17:18] SiccarPoint commented on #440
This makes total sense to me.

[2017-02-03 17:43] gregtucker commented on #440
me too, thanks for catching this @mcflugen

[2017-02-06 19:39] jadams15 commented on #428
Another update - this is a problem in `set_watershed_boundary_condition` too, so even with NODATA nodes provided.

So, a test case...

# creating a highly simplified grid, with NODATA on perimeter except for outlet node.
[code]

# Checking active link dirs at node [1], the outlet...
[code]

# Running set_watershed_bdy...
`>>> mg.set_watershed_boundary_condition(z)
`
# Checking active link dirs at

[2017-02-07 22:57] BenjiDa opened #441 "ipython and landlab not working in conda virtual environment"
Hi all,
I installed landlab in a conda virtual environment via: `conda install landlab -c landlab`
as shown in this [issue](https://github.com/landlab/landlab/issues/440)

When i import landlab in python (python installed in the virtual environment) it works fine, when i import landlab in ipython (also installed in the conda virtual environment) it errors: `ImportError: No module named landlab`
I

[2017-02-07 22:57] BenjiDa commented on #440
Yes, this works in a conda virtual environment. Although for some reason it is not working with ipython, see [here](https://github.com/landlab/landlab/issues/441).

[2017-02-07 23:07] mcflugen commented on #441
Did you install `ipython` in your virtual environment?

If you run the following commands, do you get paths to python and ipython that are in your virtual environment?
[code]
My guess is that the second point to your base Anaconda install location. Is that right? If so, you just need to install ipython into your virtual environment.

The following works for me:
[code]

[2017-02-07 23:16] BenjiDa commented on #441
Both python and ipython are installed inside the virtual environment with conda install

[code]

I uninstalled and tried installing via pip, same problem. Strange.

[2017-02-08 00:02] mcflugen commented on #441
That is weird. Is your `sys.path` the same in both python and ipython? Or more importantly, is the path to your landlab install (`/Users/myname/anaconda2/envs/sandbox/lib/python2.7/site-packages`) in `sys.path`?
[code]
Have you set any ipython configuration options (or environment variables, `PYTHONPATH`, `DYLD_LIBRARY_PATH`, etc.) that might relate to your `PYTHONPATH`?

If you start ipython with

[2017-02-08 00:33] BenjiDa commented on #441
`ipython --quick import landlab` works
it looks like i have to add it to the sys.path

Thanks

[2017-02-08 00:46] mcflugen commented on #441
Cool. This seems to indicate that somewhere along the way you've changed some ipython configuration options (perhaps through Jupyter) that is causing problems.

You shouldn't really ever have to set `sys.path` (or `PYTHONPATH`). You may want to look at your ipython settings to try to really fix this problem. One easy thing to try is to simply remove (or, to be safe, rename) your `~/.ipython` folde

[2017-02-08 01:02] BenjiDa commented on #441
Yes, i just deleted that folder and on restarting ipython i was able to import landlab no problems. Not sure how or when the ipython configuration got changed.
Thanks for your help

[2017-02-08 01:03] #441 closed

[2017-02-08 22:21] kbarnhart commented on #423
For future people's sake, here is a note about how I've gone about doing this that puts all of the steps in the same place. Right now this is under construction, but I'll update it as I go along.

**Install Python**

Install a minimal Anaconda (replace MacOSX-x86_64 with Linux-x86_64 for Linux).
[code]
Add it to your PATH and use conda to install python (when setting your PATH you may want to remo

[2017-02-08 23:07] mcflugen commented on #423
The instructions I gave were for sh-type shells (bash, ksh, sh). If you are using a csh-type shell (csh, tcsh, etc.) there are different commands for setting environment variables. The default on Mac and beach is bash, which is why just gave those instructions. It looks like you're using bash on beach.

For tcsh users, when setting your path do something like,
[code]
I'm not sure if we need to inc

[2017-02-20 18:03] SiccarPoint commented on #431
Manu Schmid has been fighting this guy, and I'm approaching a solution. Assigning myself.

[2017-02-20 18:04] SiccarPoint commented on #431
An alternative is simply to break the iterative loop if slopes <= 0 are seen, which has the advantage of saving a bit of calculation...

[2017-02-20 18:07] SiccarPoint opened #444 "Landlab hangs if lake routing is attempted with n!=1"
This appears to be related to #431, but is a distinct issue I think. I will try to mock up a gist to reproduce the issue...

[2017-02-20 22:10] gregtucker commented on #444
I suspect issue 431 as you note. That problem was to do with taking a fractional power of a negative # in the stream power solver, leading to NaNs and an infinite loop in the stream power solution loop. I *thought* I had merged but looking at code it appears not. Try merging PR #433, see if that does the trick.
(sent from Arlington where the SI2 PI meeting kicks off tomorrow morning...)

[2017-02-20 22:26] gregtucker commented on #431
@SiccarPoint take a look at PR 433

[2017-02-21 09:16] ManuSchmi88 commented on #431
Hey, sorry for chipping in to this. I meddled with this issue for quite while now. Something that I tried yesterday which seems to work for me (I haven't had a look at the file SiccarPoint sent me per slack) was to do this:
if z_diff < 0:
      f = 0
else:
     f = alpha[src_id] * pow(z_diff, n - 1.)

I guess this is was greg tucker suggested. I am still running tests if this works for all my case

[2017-02-21 10:16] SiccarPoint commented on #444
Problem is fixed by @gregtucker's fix for #431. Closing.

[2017-02-21 10:16] #444 closed

[2017-02-21 10:16] SiccarPoint commented on #431
Resolved by #433.

[2017-02-21 10:16] #431 closed

[2017-02-23 16:51] bpmurphy opened #446 "Not compatible with Python 3.6"
I installed Anaconda & Landlab on a machine yesterday. The newest version of Anaconda now comes with Python 3.6. When I went to install Landlab, I received an incompatibility error message. I apologize for not copying down the error, but it said Landlab was compatible with python 3.5 but not python 3.6. I was able to circumvent the issue by returning to Terminal and typing:

conda install python=3

[2017-02-23 16:53] mcflugen commented on #446
Thanks, @bpmurphy. What steps did you take to try to install landlab?

[2017-02-23 17:01] bpmurphy commented on #446
I followed the instructions found at @ https://github.com/landlab/landlab/wiki/Installing-Landlab-with-Anaconda

I updated conda and setuptools, installed netCDF4, and then went to install landlab, typing the following into Terminal:

conda install landlab -c landlab

But it failed to install with a message that landlab worked with 3.5, but I had 3.6. So after downgrading to 3.5, as I described be

[2017-02-23 17:03] mcflugen commented on #446
Perfect. Thanks, @bpmurphy. We just need to build a new release of landlab for Python 3.6. It shouldn't be a problem.

[2017-02-26 16:32] gregtucker opened #448 "Fix numpy future warning re array-string comparison"
In the StreamPowerEroder component, the *use_Q* parameter is designed to accept None, array, or field name. When an array is passed, however, the line quoted in the warning below involves an ambiguous comparison of an array and a string. A simple solution is to re-structure the comparison to avoid use of "array == string".

/Users/gtucker/Dev/Landlab/landlab/landlab/components/stream_power/stream_

[2017-02-27 19:42] #428 closed

[2017-02-28 21:00] bpmurphy commented on #446
@mcflugen
Update: previous issue was with install on a Mac. That install was ultimately successful. However, now with attempted landlab install on a PC (after installing newest version of Anaconda), I encountered the same python 3.6 incompatibility issue, with the error in command prompt (copied this time):

C:\Users\bpmurp>conda install landlab -c landlab
Fetching package metadata ...............

[2017-02-28 21:02] mcflugen commented on #446
Thanks, @bpmurphy. We now have a version that works with Python 3.6 on Mac/Linux/Windows. We've yet to release it yet but were planning to do so in the next few days. Is that OK, or are you need something sooner?

[2017-02-28 21:07] bpmurphy commented on #446
Great. I can wait. Will you announce the release? If not, can you please let me know when it is out?

[2017-03-03 15:20] gregtucker opened #451 "Consider putting all hillslope soil flux components in the same folder"
Right now, we have linear diffusion, cubic diffusion, depth-dependent linear diffusion, and -- soon -- depth-dependent cubic diffusion. Currently, each has its own folder in *components*. Pretty soon we're going to end up with too many folders under components. Consider integrating them, on the argument that they are variations on a theme (like the stream power family of components, which live in

[2017-03-03 16:52] SiccarPoint commented on #451
I’d be OK with this…

[2017-03-04 18:30] #446 closed

[2017-03-04 20:43] mcflugen commented on #446
@bpmurphy: We've released landlab v1.0.3, which provides a build for Python 3.6. Please give it a try and let us know how it goes.

[2017-03-07 20:22] ZGeoP opened #454 "Troubles with Installation/which python test"
Hello all,

Thank you in advance for the help on this. I am fairly new to python and command line so all the help you may be able to give me will be greatly appreciated!...

I am working on installing LandLab, and the Continuum Anaconda distribution (4.3.0 w/ Python 3.6).

When i attempt to run my "which python" test (from the command prompt) after installing and updating all of the necessary addi

[2017-03-07 21:22] mcflugen commented on #454
@ZGeoP: the problem is that you are using Windows but the instructions you are following are for Mac/Linux. Sorry about that - looking at them now I see that there is no indication that they are *not* for Windows. We definitely need to fix that.

Instead of running `which`, just start up Python and see if it says anything about *Continuum Analytics* in the startup message. That should be a good en

[2017-03-08 05:34] ZGeoP commented on #454
Thanks for the speedy response! Will Git BASH help with going through the various tutorials?

[2017-03-08 17:27] mcflugen commented on #454
@ZGeoP: No, I don't think it will help with the tutorials. I believe the tutorials are all run from within Python.